<div class="footer">
    <div class="icon footer-right">
        <a role="button" data-toggle="modal" data-target="#kefu" class="kf-right">点击展开客服咨询</a>
        <a href="#top" class="back-top"></a>
    </div>
    <div class="container clearfix">
        <div class="pull-left">
            <div class="footer-tt">关于我们</div>
            <ul>
                <li><a href="">公司简介</a></li>
                <li><a href="">商务合作</a></li>
                <li><a href="">网店资讯</a></li>
                <li><a href="">诚聘英才</a></li>
            </ul>
        </div>
        <div class="pull-left">
            <div class="footer-tt">提现充值</div>
            <ul>
                <li><a href="">如何充值</a></li>
                <li><a href="">如何提现</a></li>
                <li><a href="">收费标准</a></li>
            </ul>
        </div>
        <div class="pull-left">
            <div class="footer-tt">服务流程</div>
            <ul>
                <li><a href="">购买流程</a></li>
                <li><a href="">出售流程</a></li>
                <li><a href="">寄售交易</a></li>
            </ul>
        </div>
        <div class="pull-left">
            <div class="footer-tt">安全保障</div>
            <ul>
                <li><a href="">店铺转让认证</a></li>
                <li><a href="">担保交易</a></li>
                <li><a href="">合同如何签署</a></li>
            </ul>
        </div>
        <div class="pull-left">
            <div class="footer-tt">帮助中心</div>
            <ul>
                <li><a href="">买家帮助</a></li>
                <li><a href="">卖家帮助</a></li>
                <li><a href="">隐私保护</a></li>
            </ul>
        </div>
        <div class="pull-left">
            <div class="footer-tt footer-tt-last">客服中心</div>
            <ul>
                <li><a href="">客服咨询</a></li>
                <li><a href="">建议中心</a></li>
                <li><a href="">在线问答</a></li>
            </ul>
        </div>
        <div class="pull-right ewm text-center">
            <div class="ewm-img"><img src="public/khshop/images/ewm02.png"></div>
            <div class="ewm-txt">店来店往手机站</div>
        </div>
        <div class="pull-right ewm text-center">
            <div class="ewm-img"><img src="public/khshop/images/ewm01.png"></div>
            <div>扫码关注我们</div>
        </div>
    </div>
    <div class="footer-lind"></div>
    <div class="container clearfix">
        <div class="pull-left footer-link">
            <a href=""><img src="public/khshop/images/footer01.png"></a>
            <a href=""><img src="public/khshop/images/footer02.png"></a>
            <a href=""><img src="public/khshop/images/footer03.png"></a>
            <a href=""><img src="public/khshop/images/footer04.png"></a>
            <a href=""><img src="public/khshop/images/footer05.png"></a>
            <a href=""><img src="public/khshop/images/footer06.png"></a>
        </div>
        <div class="pull-right phone phone-footer">
            <i class="icon icon-phone"></i>400-123-5678<br><span>周一至周五   9:30- 18:30</span>
        </div>
    </div>
    <div class="beian text-center">Copyright © 2015-2017,www.dianlaidianwang.com, All rights reserved  京ICP备XD-20176980号  未经同意，不得转载</div>
</div>
<div class="fixed-nav">
    <ul>
        <li>
            <div class="list01 list-c"><i class="icon fixed01"></i></div>
            <div class="phone-c">官方电话<span>400-123-5678</span></div>
        </li>
        <li>
            <div class="list02 list-c"><i class="icon fixed02"></i></div>
            <div class="phone-c ts-c"><a href="">投诉建议</a></div>
        </li>
        <li>
            <div class="list03 list-c"><i class="icon fixed03"></i></div>
            <div class="phone-c qq-c"><a role="button" data-toggle="modal" data-target="#myModal">客服QQ校验</a></div>
        </li>
        <li>
            <div class="list04 list-c"><i class="icon fixed04"></i></div>
            <div class="phone-c ts-c"><a href="">我的收藏</a></div>
        </li>
    </ul>
</div>
<!--QQ校验-->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-close" data-dismiss="modal" aria-label="Close"><i class="icon"></i></div>
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-tt text-center">客服QQ校验</div>
                <div class="qq-txt-c">
                    <div class="qq-ts text-center" style="display:none;">请在下方填写业务QQ号码 ，提交辨别真伪</div>
                    <div class="qq-error clearfix">
                        <i class="icon icon-qq"></i>
                        <div class="pull-left">
                            <div class="error-txt">经校验，该号码假冒存疑。</div>
                            <div class="error-lg">客服校验失败!</div>
                            <div class="error-txt">如您在交易中遇到，请立即停止交易，如有疑问，</div>
                            <div class="error-txt">请咨询客服热线：<span>400-969-8688</span></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <input type="text" class="form-control qq-input" placeholder="请填写业务QQ号码 " />
                    <button type="button" class="btn btn-qq">提交</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--QQ客服-->
<!-- Modal -->
<div class="modal fade" id="kefu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-kf" role="document">
        <div class="modal-close02 icon" data-dismiss="modal" aria-label="Close"></div>
        <div class="qq-top clearfix">
            <div class="qq-phone pull-left"><i class="icon"></i>400-123-5678</div>
            <div class="qq-date pull-right"><i class="icon"></i>周一至周五  9:30-18:30</div>
        </div>
        <div class="modal-content modal-content-kf">
            <div class="modal-body">
                <div class="clearfix qq-link-c">
                    <div class="col-xs-6 qq-after">
                        <div class="clearfix">
                            <div class="icon icon-tall"></div>
                            <div class="pull-left shop-name">买天猫店</div>
                            <a href="" class="qq-link"><i class="icon"></i>联系我</a>
                        </div>
                        <div class="clearfix">
                            <div class="icon icon-tall02"></div>
                            <div class="pull-left shop-name">买淘宝店</div>
                            <a href="" class="qq-link"><i class="icon"></i>联系我</a>
                        </div>
                        <div class="clearfix">
                            <div class="icon icon-tall03"></div>
                            <div class="pull-left shop-name">买其它店</div>
                            <a href="" class="qq-link"><i class="icon"></i>联系我</a>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="clearfix">
                            <div class="icon icon-tall"></div>
                            <div class="pull-left shop-name">买天猫店</div>
                            <a href="" class="qq-link"><i class="icon"></i>联系我</a>
                        </div>
                        <div class="clearfix">
                            <div class="icon icon-tall02"></div>
                            <div class="pull-left shop-name">买淘宝店</div>
                            <a href="" class="qq-link"><i class="icon"></i>联系我</a>
                        </div>
                        <div class="clearfix">
                            <div class="icon icon-tall03"></div>
                            <div class="pull-left shop-name">买其它店</div>
                            <a href="" class="qq-link"><i class="icon"></i>联系我</a>
                        </div>
                    </div>
                </div>
                <a href="" class="qq-sh">店来店往售后客服</a>
            </div>
        </div>
    </div>
</div>
