<div class="top clearfix">
    <a href="/"><div class="pull-left logo"></div></a>
    <div class="pull-right">
        <a href="?c=user&a=phone" class="phone-link">
            <div class="pull-left icon-border"><i class="user-icon user-icon01"></i></div>手机认证
        </a>
        <a href="?c=user&a=email" class="phone-link">
            <div class="pull-left icon-border"><i class="user-icon user-icon02"></i></div>邮箱认证
        </a>
        <a href="?c=user&a=paywords" class="phone-link">
            <div class="pull-left icon-border"><i class="user-icon user-icon03"></i></div>支付密码
        </a>
        <a href="?c=user&a=protect" class="phone-link">
            <div class="pull-left icon-border"><i class="user-icon user-icon04"></i></div><span>安全等级</span>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
        </a>
        <div class="pull-left user-lind">/</div>
        <a href="index.php?p=show&c=user&a=loginout" class="phone-link out-link">
            <i class="user-icon user-out"></i>
            退出
        </a>
        <a href="" class="phone-link user-link">
            <div class="user-img"><img src="public/khshop/images/01.png"></div>
            <?=$_SESSION['username']?>
        </a>
    </div>
</div>