<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>会员中心-出售其他网店</title>

    <!-- Bootstrap -->
    <link href="public/khshop/css/bootstrap.css" rel="stylesheet">
    <link href="public/khshop/css/calendar.css" rel="stylesheet">
    <link href="public/khshop/css/user.css" rel="stylesheet">
</head>
<body>
<?php include CUR_VIEW_PATH."Spublic/user_header.html";?>
<?php include CUR_VIEW_PATH."Spublic/user_left.html";?>
    <div class="right-c" id="right-c">
        <div class="nav-list">当前位置：<a href="">个人中心</a> > <a href="javascript:;" class="active">我是卖家</a></div>
        <div class="cs-txt"><span>温馨提示：</span>出售网店，交易成功后，店来店往将收取网店成交价格的10%作为手续费！</div>
        <ul class="clearfix tab-list">
            <li><a href="?c=shop&a=taobao">出售淘宝网店</a></li>
            <li><a href="?c=shop&a=tianmao">出售天猫商城</a></li>
            <li class="active"><a href="">其他网店出售</a></li>
        </ul>
        <form action="?c=shop&a=other" method="post">
            <div class="cs-top">
                <div class="cs-lc clearfix">
                    <div class="pull-left">1. 注册店来店往账号</div>
                    <div class="pull-left"><i class="glyphicon glyphicon-triangle-right"></i>2. 登记网店</div>
                    <div class="pull-left"><i class="glyphicon glyphicon-triangle-right"></i>3. 网站审核</div>
                    <div class="pull-left"><i class="glyphicon glyphicon-triangle-right"></i>4. 买家拍下网店并付款</div>
                    <div class="pull-left"><i class="glyphicon glyphicon-triangle-right"></i>5. 交接网店并签订合同</div>
                    <div class="pull-left"><i class="glyphicon glyphicon-triangle-right"></i>6. 放款提现</div>
                </div>
                <div class="clearfix cs-clearfix">
                    <div class="pull-left cs-left-txt"><span>*</span> 信息标题</div>
                    <div class="pull-left"><input type="text" name="biaoti" class="form-control input input-cs" /></div>
                </div>
                <div class="clearfix cs-clearfix">
                    <div class="pull-left cs-left-txt"><span>*</span> 网店描述</div>
                    <div class="pull-left"><textarea name="miaoshu" class="form-control input input-cs input-cs-text"></textarea></div>
                </div>
            </div>
            <div class="cs-input-tt">店铺信息</div>
            <div class="clearfix cs-clearfix">
                <div class="pull-left cs-left-txt"><span>*</span> 网店地址</div>
                <div class="pull-left"><input type="text" name="url" class="form-control input input-cs" /></div>
            </div>
            <div class="clearfix cs-clearfix">
                <div class="pull-left cs-left-txt"><span>*</span>旺旺名</div>
                <div class="pull-left"><input type="text" name="wang" class="form-control input input-cs" /></div>
                <div class="cs-txt-p">提交后不可修改，请认真填写</div>
            </div>
            <div class="clearfix cs-clearfix">
                <div class="pull-left cs-left-txt"><span>*</span> 网店价格</div>
                <div class="pull-left"><input type="text" name="jiage" class="form-control input input-cs" /></div>
                <div class="cs-txt-p">元</div>
            </div>
            <div class="clearfix cs-clearfix">
                <div class="pull-left cs-left-txt"><span>*</span> 商标类型</div>
                <div class="pull-left">
                    <label class="radio-inline">
                        <input type="radio" name="sblx" value="无" checked> 无
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="sblx" value="R"> R
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="sblx" value="TM"> TM
                    </label>
                </div>
            </div>
            <div class="clearfix cs-clearfix">
                <div class="pull-left cs-left-txt"><span>*</span> 所属行业</div>
                <div class="pull-left">
                    <select  class="form-control input input-cs input-cs-bzj" name="sshy">
                        <?php foreach($hy as $v):?>
                        <option><?=$v['u1']?></option>
                        <?php endforeach?>
                    </select>
                </div>
            </div>
            <div class="clearfix cs-clearfix no-relative">
                <div class="pull-left cs-left-txt"><span>*</span> 开店时间</div>
                <div class="pull-left">
                    <input type="text" id="dt" name="kdsj" class="form-control input time-input">
                    <div id="dd"></div>
                </div>
                <div class="pull-left cs-left-txt cs-left-txt02 margin-left-10">点击表单选择时间</div>
            </div>
            <div class="clearfix cs-clearfix no-relative">
                <div class="pull-left cs-left-txt"><span>*</span> 去年销售额</div>
                <div class="pull-left">
                    <input type="text" class="form-control input time-input" name="xse">
                </div>
                <div class="pull-left cs-left-txt cs-left-txt02 cs-left-color margin-left-10">(建议真实填写,可增加卖点)</div>
            </div>
            <div class="clearfix cs-clearfix">
                <div class="pull-left cs-left-txt"><span>*</span> 保证金</div>
                <div class="pull-left">
                    <label class="radio-inline">
                        <input type="radio" name="xblx" value="需要退还" checked> 需要退还
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="xblx" value="不需要退还"> 不需要退还
                    </label>
                </div>
                <div class="pull-left" style="margin-left:20px;"><input type="text" name="xbj" class="form-control input input-cs input-cs-bzj" placeholder="请填写保证金金额" /></div>
            </div>
            <div class="clearfix cs-clearfix">
                <div class="pull-left cs-left-txt">认证类型</div>
                <div class="pull-left">
                    <label class="radio-inline">
                        <input type="radio" name="rzlx" checked value="个人身份证认证"> 个人身份证认证
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" name="rzlx" value="企业执照认证"> 企业执照认证
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" name="rzlx" value="个体户营业执照认证"> 个体户营业执照认证
                    </label>
                </div>
            </div>
            <div class="clearfix cs-clearfix">
                <div class="pull-left cs-left-txt">卖家身份</div>
                <div class="pull-left">
                    <label class="radio-inline">
                        <input type="radio" name="zcsf" checked value="网店注册人"> 网店注册人
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" name="zcsf" value="代管人"> 代管人
                    </label>
                </div>
            </div>
            <div class="clearfix cs-clearfix">
                <div class="pull-left cs-left-txt">可提供的证件</div>
                <div class="pull-left">
                    <label class="checkbox-inline">
                        <input type="checkbox" name="zj[]" value="身份证" checked> 身份证
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="zj[]" value="手持身份证与上半身照"> 手持身份证与上半身照
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="zj[]" value="户口本"> 户口本
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="sfz[]"  value="手持户口本"> 手持户口本
                    </label>
                </div>
            </div>
            <div class="clearfix cs-clearfix">
                <div class="pull-left cs-left-txt">月利润</div>
                <div class="pull-left">
                    <label class="radio-inline">
                        <input type="radio" value="ylr" checked> 无
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="ylr"> 有
                    </label>
                </div>
            </div>
            <div class="clearfix cs-clearfix">
                <div class="pull-left cs-left-txt">是否提供货源渠道</div>
                <div class="pull-left">
                    <label class="radio-inline">
                        <input type="radio" value="tghy" checked> 否
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="tghy"> 是
                    </label>
                </div>
            </div>
            <div class="clearfix cs-clearfix">
                <div class="pull-left cs-left-txt">是否带团队转让</div>
                <div class="pull-left">
                    <label class="radio-inline">
                        <input type="radio" value="tdzr" checked> 否
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="tdzr"> 是
                    </label>
                </div>
            </div>
            <div class="clearfix cs-clearfix">
                <div class="pull-left cs-left-txt">是否传授运营经验</div>
                <div class="pull-left">
                    <label class="radio-inline">
                        <input type="radio" value="jy" checked> 否
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="jy"> 是
                    </label>
                </div>
            </div>

    <div class="table-bottom">
            <div class="cs-back">
              <div class="clearfix cs-clearfix">
                  <div class="pull-left cs-left-txt"></div>
                  <div class="pull-left">
                  <button type="button" class="btn btn-cs">确认提交</button>
                  <div class="btn-txt"><a href="">店来店往责任与义务相关声明</a></div>
                  </div>
              </div>
            </div>

            <div class="ewm-c">
                <div class="ewm text-center">
                    <div><img src="public/khshop/images/user/ewm.png"></div>
                    扫码关注我们
                </div>
            </div>
            <div class="footer text-center">Copyright © 2015-2017,www.dianlaidianwang.com, All rights reserved  京ICP备XD-20176980号  未经同意，不得转载</div>
        </div>
        </form>
    </div>
</body>
<script src="public/khshop/js/jquery.min.js"></script>
<script src="public/khshop/js/bootstrap.min.js"></script>
<script type="text/javascript" src="public/khshop/js/calendar.js" charset="UTF-8"></script>
<script type="text/javascript" src="public/khshop/js/user.nicescroll.js"></script>
<script>
    $(".btn-cs").click(function () {
        if(confirm("确认提交店铺信息？")){
            $('form').submit();
        }

       /* var reg = /(^1[3|4|5|7|8]\d{9}$)|(^09\d{8}$)/;
        if (reg.test($("#phone").val())){
        }else {
            alert("手机号码不正确");
            return false;
        }*/
    });

	//日历JS
    $('#dd').calendar({
        trigger: '#dt',
        zIndex: 999,
		format: 'yyyy-mm-dd',
        onSelected: function (view, date, data) {
            console.log('event: onSelected')
        },
        onClose: function (view, date, data) {
            console.log('event: onClose')
            console.log('view:' + view)
            console.log('date:' + date)
            console.log('data:' + (data || 'None'));
        }
    });
	
	</script>
<script type="text/javascript">
$("#nav-left").niceScroll({  
    cursorcolor:"#a5a5a5",  
    cursoropacitymax:1,  
    touchbehavior:false,  
    cursorwidth:"5px",  
    cursorborder:"0",  
    cursorborderradius:"5px"  
}); 
$("#right-c").niceScroll({  
    cursorcolor:"#a5a5a5",  
    cursoropacitymax:1,  
    touchbehavior:false,  
    cursorwidth:"5px",  
    cursorborder:"0",  
    cursorborderradius:"5px"  
}); 
</script>
  <script>
    $(".nav-click").click(function(){
        $(".nav-click").parents("li").removeClass("active");
        $(".nav-down").slideUp("slow");
            if($(this).parents("li").find(".nav-down").is(":hidden"))
            {
              $(this).parents("li").find(".nav-down").slideDown("slow");  
              $(this).parents("li").addClass("active");
            }else{
              $(this).parents("li").find(".nav-down").slideUp("slow");
                }
    }); 
  </script>
</html>