<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>会员中心-咨询建议（我的咨询）</title>

    <!-- Bootstrap -->
    <link href="public/khshop/css/bootstrap.css" rel="stylesheet">
    <link href="public/khshop/css/user.css" rel="stylesheet">
</head>
<body>
<?php include CUR_VIEW_PATH."Spublic/user_header.html";?>
<?php include CUR_VIEW_PATH."Spublic/user_left.html";?>
    <div class="right-c" id="right-c">
        <div class="nav-list">当前位置：<a href="">个人中心</a> > <a href="javascript:;" class="active">咨询建议</a></div>
        <div class="clearfix">
            <ul class="clearfix pull-left tab-list">
                <li><a href="index.php?p=show&c=user&a=advice">我的建议</a></li>
                <li class="active"><a href="">我的咨询</a></li>
            </ul>
        </div>
        <table class="table table-sj table-bordered">
          <thead>
            <tr>
              <th>咨询内容</th>
              <th>回复</th>
              <th style="width: 120px">时间</th>
              <th style="min-width:70px;">操作</th>
            </tr>
          </thead>
          <tbody>
          <?php foreach($list as $v):?>
          <tr>
              <td><?=$v['wt']?></td>
              <td><?=$v['hd']?></td>
              <td><?=substr($v['dtime'],0,10)?></td>
              <td><a href="?c=shop&a=del&model=zxwd&id=<?=$v['id']?>" class="table-a">删除</a></td>
          </tr>
          <?php endforeach;?>
          </tbody>
        </table>
        <div class="table-null text-center">暂无咨询信息！</div>
        <div class="ewm-c">
            <div class="ewm text-center">
                <div><img src="public/khshop/images/user/ewm.png"></div>
                扫码关注我们
            </div>
        </div>
        <div class="footer text-center">Copyright © 2015-2017,www.dianlaidianwang.com, All rights reserved  京ICP备XD-20176980号  未经同意，不得转载</div>
    </div>
</body>
<script src="public/khshop/js/jquery.min.js"></script>
<script src="public/khshop/js/bootstrap.min.js"></script>
<script type="text/javascript" src="public/khshop/js/user.nicescroll.js"></script>
<script type="text/javascript">
    $(function () {
        var len = $("table tr").length;
        if (len>1){
            $(".table-null").css("display","none");
        }
    });
    $("#submit").click(function () {
        if ( $("#content").val()==""){
            alert("请输入咨询内容")
        }else {
            $("form").submit();
        }

    })
$("#nav-left").niceScroll({  
    cursorcolor:"#a5a5a5",  
    cursoropacitymax:1,  
    touchbehavior:false,  
    cursorwidth:"5px",  
    cursorborder:"0",  
    cursorborderradius:"5px"  
}); 
$("#right-c").niceScroll({  
    cursorcolor:"#a5a5a5",  
    cursoropacitymax:1,  
    touchbehavior:false,  
    cursorwidth:"5px",  
    cursorborder:"0",  
    cursorborderradius:"5px"  
}); 
</script>
  <script>
    $(".nav-click").click(function(){
        $(".nav-click").parents("li").removeClass("active");
        $(".nav-down").slideUp("slow");
            if($(this).parents("li").find(".nav-down").is(":hidden"))
            {
              $(this).parents("li").find(".nav-down").slideDown("slow");  
              $(this).parents("li").addClass("active");
            }else{
              $(this).parents("li").find(".nav-down").slideUp("slow");
                }
    }); 
  </script>
</html>