<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>资金管理-我要充值</title>

    <!-- Bootstrap -->
    <link href="public/khshop/css/bootstrap.css" rel="stylesheet">
    <link href="public/khshop/css/calendar.css" rel="stylesheet">
    <link href="public/khshop/css/user.css" rel="stylesheet">
</head>
<body>
<?php include CUR_VIEW_PATH."Spublic/user_header.html";?>
<?php include CUR_VIEW_PATH."Spublic/user_left.html";?>
    <div class="right-c" id="right-c">
        <div class="nav-list">当前位置：<a href="">个人中心</a> > <a href="javascript:;" class="active">我是卖家</a></div>
        <div class="clearfix">
            <ul class="clearfix pull-left tab-list">
                <li class="active"><a href="">我要充值</a></li>
                <li><a href="index.php?p=show&c=user&a=record">充值记录</a></li>
            </ul>
            
        </div>
        <form id="myForm" action="?c=user&a=recharge" method="post" ENCTYPE="multipart/form-data">
         <div class="user-back">
			<div class="cz-tt"><i class="glyphicon glyphicon-triangle-right"></i>选择支付方式</div>
            <div class="bank-radio">
                <label class="radio-inline radio-inline-one active">
                  <input type="radio" name="bank" checked> 网上银行( 免手续费，不支持信用卡 )
                </label>-->
                <label class="radio-inline  radio-inline-tow active">
                  <input type="radio" name="bank" checked> 线下银行汇款（如选择的是“线下银行汇款”银行汇款方式，请确保汇款确认单提交真实！）
                </label>-->
                <label class="radio-inline  radio-inline-tow active">
                  <input type="radio" name="bank" checked> 线下银行汇款（如选择的是“线下银行汇款”银行汇款方式，请确保汇款确认单提交真实！）
                </label>-->
                <label class="radio-inline  radio-inline-tow active">
                  <input type="radio" name="" checked> 线下银行汇款（如选择的是“线下银行汇款”银行汇款方式，请确保汇款确认单提交真实！）
                </label>
                <label class="radio-inline  radio-inline-tow">
                  <input type="radio" name="bank"> 线下银行汇款（如选择的是“线下银行汇款”银行汇款方式，请确保汇款确认单提交真实！）
                </label>
            </div>
            <div class="brank-one">
                <div class="cz-tt"><i class="glyphicon glyphicon-triangle-right"></i>填写金额</div>
                <div class="clearfix gl-clearfix">
                  <div class="pull-left"><input type="text" class="form-control input input-bank" placeholder="填写金额"></div>
                  <div class="pull-left cs-left-txt cs-left-txt-sm txt-bank">只允许写数字</div>
                </div> 
                <div class="cz-tt"><i class="glyphicon glyphicon-triangle-right"></i>选择充值银行</div>
                <div class="bank-radio-b">
                    <label class="radio-inline">
                      <input type="radio" name="bank01" checked> <img src="public/khshop/images/user/bank01.png">
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="bank01"> <img src="public/khshop/images/user/bank02.png">
                    </label>
                     <label class="radio-inline">
                      <input type="radio" name="bank01"> <img src="public/khshop/images/user/bank03.png">
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="bank01"> <img src="public/khshop/images/user/bank04.png">
                    </label>
                     <label class="radio-inline">
                      <input type="radio" name="bank01"> <img src="public/khshop/images/user/bank05.png">
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="bank01"> <img src="public/khshop/images/user/bank06.png">
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="bank01"> <img src="public/khshop/images/user/bank07.png">
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="bank01"> <img src="public/khshop/images/user/bank08.png">
                    </label>
                     <label class="radio-inline">
                      <input type="radio" name="bank01"> <img src="public/khshop/images/user/bank09.png">
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="bank01"> <img src="public/khshop/images/user/bank10.png">
                    </label>
                     <label class="radio-inline">
                      <input type="radio" name="bank01"> <img src="public/khshop/images/user/bank11.png">
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="bank01"> <img src="public/khshop/images/user/bank12.png">
                    </label>
                     <label class="radio-inline">
                      <input type="radio" name="bank01"> <img src="public/khshop/images/user/bank13.png">
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="bank01"> <img src="public/khshop/images/user/bank14.png">
                    </label>
                     <label class="radio-inline">
                      <input type="radio" name="bank01"> <img src="public/khshop/images/user/bank15.png">
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="bank01"> <img src="public/khshop/images/user/bank16.png">
                    </label>
                </div>
                <button type="submit" class="btn btn-tj btn-tj02 btn-cz">我要充值</button>
            </div>
            <div class="brank-tow"  style="display:none;">
            	<div class="cz-tt"><i class="glyphicon glyphicon-triangle-right"></i>汇款账号信息</div>
                <div class="cz-xx">
                	<p>开户行：中国民生银行上海闵行支行</p>
                    <p>账  号：6984377206456</p>
                    <p>开户名：成都市店来店往网络科技有限公司</p>
                </div>
                <div class="cz-tt"><i class="glyphicon glyphicon-triangle-right"></i>去银行汇款</div>
                <div class="cz-ts">带好您的身份证和款项去银行营业厅汇款！</div>
                <div class="cz-tt"><i class="glyphicon glyphicon-triangle-right"></i>提交汇款确认单</div>
                <div class="clearfix gl-clearfix">
                  <div class="pull-left cs-left-txt cs-left-txt02 txt-cz"><span>*</span>收款账户</div>
                  <div class="pull-left"><input type="text" name="skzh" class="form-control input input-cz"></div>
                </div>
                <div class="clearfix gl-clearfix">
                  <div class="pull-left cs-left-txt cs-left-txt02 txt-cz"><span>*</span>汇款银行</div>
                  <div class="pull-left"><input type="text" name="hkyh" class="form-control input input-cz"></div>
                </div>
                <div class="clearfix gl-clearfix">
                  <div class="pull-left cs-left-txt cs-left-txt02 txt-cz"><span>*</span>汇款金额</div>
                  <div class="pull-left"><input type="text" name="hkje" class="form-control input input-cz"></div>
                </div>
                <div class="clearfix gl-clearfix">
                  <div class="pull-left cs-left-txt cs-left-txt02 txt-cz"><span>*</span>汇款日期</div>
                  <div class="pull-left"><input type="date" name="hkrq" class="form-control input input-cz"></div>
                </div>
                <div class="clearfix gl-clearfix">
                  <div class="pull-left cs-left-txt cs-left-txt02 txt-cz"><span>*</span>汇款人姓名</div>
                  <div class="pull-left"><input type="text" name="hkr" class="form-control input input-cz"></div>
                </div>
                <div class="clearfix gl-clearfix">
                  <div class="pull-left cs-left-txt cs-left-txt02 txt-cz">上传汇款凭证</div>
                  <div class="pull-left">

                    <div class="uploader white">
                    <input type="text" class="filename form-control input input-cz" readonly/>
                    <input type="button" name="file" class="button" value="浏览"/>
                    <input type="file" name="hkpz" class="file" onchange="previewImage(this)" size="30"/>
                    </div> 
                    <div id="preview" class="zj">
                        <img id="imghead" width="100%" height="auto" border="0" src="">
                    </div>

                  </div>
                </div>
                <div class="clearfix gl-clearfix">
                  <div class="pull-left cs-left-txt cs-left-txt02 txt-cz">备注</div>
                  <div class="pull-left"><input type="text" name="bz" class="form-control input input-cz"></div>
                </div>
                <button type="submit" id="submit" class="btn btn-tj btn-tj02 btn-cz btn-cz02">确认提交</button>
            </div>
        </div>
        </form>
        <div class="ewm-c">
            <div class="ewm text-center">
                <div><img src="public/khshop/images/user/ewm.png"></div>
                扫码关注我们
            </div>
        </div>
        <div class="footer text-center">Copyright © 2015-2017,www.dianlaidianwang.com, All rights reserved  京ICP备XD-20176980号  未经同意，不得转载</div>
    </div>
</body>
<script src="public/khshop/js/jquery.min.js"></script>
<script src="public/khshop/js/bootstrap.min.js"></script>
<script type="text/javascript" src="public/khshop/js/calendar.js" charset="UTF-8"></script>
<script type="text/javascript" src="public/khshop/js/user.nicescroll.js"></script>
<script>$(function(){
	$("input[type=file]").change(function(){$(this).parents(".uploader").find(".filename").val($(this).val());});
	$("input[type=file]").each(function(){
	if($(this).val()==""){$(this).parents(".uploader").find(".filename").val("");}
	});
});
</script>
<script>
    $("#submit").click(function(){
        $("form").submit(function(e){
            $(this).attr("disabled","true");
        });
    });
    $(".bank-radio .radio-inline").click(function(){
		$(".radio-inline").removeClass("active");
		$(this).addClass("active");
		})
	$(".radio-inline-one").click(function(){
		$(".brank-one").show();
		$(".brank-tow").hide();
		})
	$(".radio-inline-tow").click(function(){
		$(".brank-one").hide();
		$(".brank-tow").show();
		})
</script>
<script>
	//日历JS
    $('#dd').calendar({
        trigger: '#dt',
        zIndex: 999,
		format: 'yyyy-mm-dd',
        onSelected: function (view, date, data) {
            console.log('event: onSelected')
        },
        onClose: function (view, date, data) {
            console.log('event: onClose')
            console.log('view:' + view)
            console.log('date:' + date)
            console.log('data:' + (data || 'None'));
        }
    });
    $('#dd02').calendar({
        trigger: '#dt02',
        zIndex: 999,
		format: 'yyyy-mm-dd',
        onSelected: function (view, date, data) {
            console.log('event: onSelected')
        },
        onClose: function (view, date, data) {
            console.log('event: onClose')
            console.log('view:' + view)
            console.log('date:' + date)
            console.log('data:' + (data || 'None'));
        }
    });
</script>
<script type="text/javascript">
$("#nav-left").niceScroll({  
    cursorcolor:"#a5a5a5",  
    cursoropacitymax:1,  
    touchbehavior:false,  
    cursorwidth:"5px",  
    cursorborder:"0",  
    cursorborderradius:"5px"  
}); 
$("#right-c").niceScroll({  
    cursorcolor:"#a5a5a5",  
    cursoropacitymax:1,  
    touchbehavior:false,  
    cursorwidth:"5px",  
    cursorborder:"0",  
    cursorborderradius:"5px"  
}); 
</script>
  <script>
    $(".nav-click").click(function(){
        $(".nav-click").parents("li").removeClass("active");
        $(".nav-down").slideUp("slow");
            if($(this).parents("li").find(".nav-down").is(":hidden"))
            {
              $(this).parents("li").find(".nav-down").slideDown("slow");  
              $(this).parents("li").addClass("active");
            }else{
              $(this).parents("li").find(".nav-down").slideUp("slow");
                }
    }); 
  </script>
   <script type="text/javascript">
      //图片上传预览    IE是用了滤镜。
        function previewImage(file)
        {
          var MAXWIDTH  = 260; 
          var MAXHEIGHT = 180;
          var div = document.getElementById('preview');
          if (file.files && file.files[0])
          {
              div.innerHTML ='<img id=imghead>';
              var img = document.getElementById('imghead');
              img.onload = function(){
                var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
                img.width  =  rect.width;
                img.height =  rect.height;
//                 img.style.marginLeft = rect.left+'px';
                img.style.marginTop = rect.top+'px';
              }
              var reader = new FileReader();
              reader.onload = function(evt){img.src = evt.target.result;}
              reader.readAsDataURL(file.files[0]);
          }
          else //兼容IE
          {
            var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
            file.select();
            var src = document.selection.createRange().text;
            div.innerHTML = '<img id=imghead>';
            var img = document.getElementById('imghead');
            img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
            var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
            status =('rect:'+rect.top+','+rect.left+','+rect.width+','+rect.height);
            div.innerHTML = "<div id=divhead style='width:"+rect.width+"px;height:"+rect.height+"px;margin-top:"+rect.top+"px;"+sFilter+src+"\"'></div>";
          }
        }
        function clacImgZoomParam( maxWidth, maxHeight, width, height ){
            var param = {top:0, left:0, width:width, height:height};
            if( width>maxWidth || height>maxHeight )
            {
                rateWidth = width / maxWidth;
                rateHeight = height / maxHeight;
                 
                if( rateWidth > rateHeight )
                {
                    param.width =  maxWidth;
                    param.height = Math.round(height / rateWidth);
                }else
                {
                    param.width = Math.round(width / rateHeight);
                    param.height = maxHeight;
                }
            }
            param.left = Math.round((maxWidth - param.width) / 2);
            param.top = Math.round((maxHeight - param.height) / 2);
            return param;
        }
</script>  
</html>