<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>会员中心-首页</title>

    <!-- Bootstrap -->
    <link href="public/khshop/css/bootstrap.css" rel="stylesheet">
    <link href="public/khshop/css/user.css" rel="stylesheet">
</head>
<body>
<header>
    <?php include CUR_VIEW_PATH."Spublic/user_header.html";?>
</header>
<?php include CUR_VIEW_PATH."Spublic/user_left.html";?>
    <div class="right-c" id="right-c">
        <div class="row row01">
            <div class="col-xs-3">
                <a href="?c=shop&a=shopSale" class="number-c">
                    <div class="number-back"><i class="user-icon icon-number"></i></div>
                    <div class="number-right">我出售的网店<span><?=$sale['count']?></span></div>
                </a>
            </div>
            <div class="col-xs-3">
                <a href="?c=shop&a=buy" class="number-c">
                    <div class="number-back number-back02"><i class="user-icon icon-number"></i></div>
                    <div class="number-right number-right02">我购买的网店<span><?=$buy['count']?></span></div>
                </a>
            </div>
            <div class="col-xs-3">
                <a href="?c=shop&a=taobao" class="number-c">
                    <div class="number-back number-back03"><i class="user-icon icon-number"></i></div>
                    <div class="number-right">我要出售网店</div>
                </a>
            </div>
            <div class="col-xs-3">
                <a href="/" class="number-c">
                    <div class="number-back number-back04"><i class="user-icon icon-number"></i></div>
                    <div class="number-right">网店估价</div>
                </a>
            </div>
        </div>
        <div class="tx-back clearfix">
            <div class="col-xs-6">
                <div class="pull-left tx-title">卖家提醒</div>
                <div class="pull-left tx-number">审核的网店<span>（<?=$check['count']?>）</span>出售中<span>（<?=$sale['count']?>）</span>正在交易<span>（0）</span>退款中<span>（0）</span></div>
            </div>
            <div class="col-xs-6 tx-back-border">
                <div class="pull-left tx-title">卖家提醒</div>
                <div class="pull-left tx-number">求购待确认<span>（0）</span>待付款<span>（<?=$wait['count']?>）</span>待确认收货<span>（0）</span>退款中<span>（0）</span></div>
            </div>
        </div>
        <div class=" user-bottom">
            <div class="col-xs-10">
                <div class="tj-tt">资金统计</div>
                <div class="user-back">
                    <div class="clearfix">
                        <div class="pull-left tj-number">
                            <p>全部余额：<span><?=$row['property']?></span> 元</p>
                            <p>可用余额：<span><?=$row['property']-$row['frozen']?></span> 元</p>
                            <p>冻结资金：<span><?=$row['frozen']?></span> 元</p>
                            <p>保证金余额：<span><?=$row['xbj']?></span> 元</p>
                        </div>
                        <div class="pull-right">
                            <div class="clearfix tj-btn-c">
                                <a href="?c=user&a=cash" class="btn btn-tj btn-tj01 pull-right">我要提现</a>
                                <a href="?c=user&a=recharge" class="btn btn-tj btn-tj02 pull-right">我要充值</a>
                                <a href="?c=user&a=record" class="btn btn-tj pull-right">查看明细</a>
                            </div>
                            <div class="clearfix tj-btn-c">
                                <a href="?c=user&a=log" class="btn btn-tj pull-right">查看明细</a>
                            </div>
                            <div class="clearfix tj-btn-c">
                                
                            </div>
                            <div class="clearfix tj-btn-c">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-back">
                    <div class="clearfix">
                        <div class="pull-left lc-tt">
                            <div class="lc-title">买家入门</div>
                            <div><a href="" class="btn btn-tj">下载详细流程</a></div>
                        </div>
                        <div class="lc-img">
                            <div class="pull-left"><img src="public/khshop/images/user/lc01.png"></div>
                            <div class="pull-left"><img src="public/khshop/images/user/lc02.png"></div>
                            <div class="pull-left"><img src="public/khshop/images/user/lc03.png"></div>
                            <div class="pull-left"><img src="public/khshop/images/user/lc04.png"></div>
                            <div class="pull-left"><img src="public/khshop/images/user/lc05.png"></div>
                            <div class="pull-left"><img src="public/khshop/images/user/lc06.png"></div>
                            <div class="pull-left"><img src="public/khshop/images/user/lc07.png"></div>
                            <div class="pull-left"><img src="public/khshop/images/user/lc08.png"></div>
                        </div>
                    </div>
                </div>
                <div class="user-back">
                    <div class="clearfix">
                        <div class="pull-left lc-tt">
                            <div class="lc-title">买家入门</div>
                            <div><a href="" class="btn btn-tj">下载详细流程</a></div>
                        </div>
                        <div class="lc-img">
                            <div class="pull-left"><img src="public/khshop/images/user/lc01-1.png"></div>
                            <div class="pull-left"><img src="public/khshop/images/user/lc01-2.png"></div>
                            <div class="pull-left"><img src="public/khshop/images/user/lc01-3.png"></div>
                            <div class="pull-left"><img src="public/khshop/images/user/lc01-4.png"></div>
                            <div class="pull-left"><img src="public/khshop/images/user/lc01-5.png"></div>
                            <div class="pull-left"><img src="public/khshop/images/user/lc01-6.png"></div>
                            <div class="pull-left"><img src="public/khshop/images/user/lc01-7.png"></div>
                            <div class="pull-left"><img src="public/khshop/images/user/lc01-8.png"></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-left share-left">分享我的网店</div>
                    <div class="pull-left">
                        <div class="bdsharebuttonbox bdshare-button-style0-24" data-bd-bind="1510486606820"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
                        <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
                        </script>
                    </div>
                    <div class="pull-right ewm text-center">
                        <div><img src="public/khshop/images/user/ewm.png"></div>
                        扫码关注我们
                    </div>
                </div>
                <div class="footer text-center">Copyright © 2015-2017,www.dianlaidianwang.com, All rights reserved  京ICP备XD-20176980号  未经同意，不得转载</div>
            </div>
            <div class="col-xs-2">
                <div class="user-back">
                    <div class="news-tt">网站公告</div>
                    <ul class="news-list">
                        <?php foreach($zx as $v):?>
                        <li><a href="?c=user&a=notice&id=<?=$v['id']?>"><?=$v['biaoti']?></a></li>
                        <?php endforeach;?>
                    </ul>
                </div>
                <div class="user-back">
                    <div class="news-tt">在线问答</div>
                    <ul class="news-list">
                        <ul class="news-list">
                            <?php foreach($qa as $v):?>
                            <li><a href="?c=index&a=zxwd"><?=$v['wt']?></a></li>
                            <?php endforeach;?>
                        </ul>
                    </ul>
                </div>
                <div class="user-back">
                    <div class="news-tt">投诉与建议</div>
                    <ul class="news-list">
                        <?php foreach($lists as $v):?>
                        <li><a href="javascript:;"><?=$v['biaoti']?></a></li>
                        <?php endforeach;?>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="public/khshop/js/jquery.min.js"></script>
<script src="public/khshop/js/bootstrap.min.js"></script>
<script type="text/javascript" src="public/khshop/js/user.nicescroll.js"></script>
<script type="text/javascript">
$("#nav-left").niceScroll({  
    cursorcolor:"#a5a5a5",  
    cursoropacitymax:1,  
    touchbehavior:false,  
    cursorwidth:"5px",  
    cursorborder:"0",  
    cursorborderradius:"5px"  
}); 
$("#right-c").niceScroll({  
    cursorcolor:"#a5a5a5",  
    cursoropacitymax:1,  
    touchbehavior:false,  
    cursorwidth:"5px",  
    cursorborder:"0",  
    cursorborderradius:"5px"  
}); 
</script>
  <script>
    $(".nav-click").click(function(){
        $(".nav-click").parents("li").removeClass("active");
        $(".nav-down").slideUp("slow");
            if($(this).parents("li").find(".nav-down").is(":hidden"))
            {
              $(this).parents("li").find(".nav-down").slideDown("slow");  
              $(this).parents("li").addClass("active");
            }else{
              $(this).parents("li").find(".nav-down").slideUp("slow");
                }
    }); 
  </script>
</html>