<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>问答-列表</title>

    <!-- Bootstrap -->
    <link href="public/khshop/css/bootstrap.css" rel="stylesheet">
    <link href="public/khshop/css/animate.min.css" rel="stylesheet">
    <link href="public/khshop/css/css.css" rel="stylesheet">
    <link rel="stylesheet" href="public/khshop/css/style_css.css" />
    <style>
    	.page-center{margin: 30px 0;}
    </style>
</head>
<body>
<header>
    <?php include CUR_VIEW_PATH."Spublic/header.html";?>
</header>
	<div class="help-banner">
    	<div class="container">
        	<div class="help-img wow bounceInUp animated"><img src="public/khshop/images/help01.png"></div>
        </div>
    </div>
    <div class="back-f9">
        <div class="container">
            <div class="recruit-c help-c">
				<div class="clearfix help-list-c">
                	<ul class="help-list pull-right clearfix">
                    	<li>
                        	<a href="">提现充值</a>
                            <ul class="help-list-down">
                            	<li><a href="">如何充值</a></li>
                                <li><a href="">如何提现</a></li>
                                <li class="border-no"><a href="">收费标准</a></li>
                            </ul>
                        </li>
                        <li>
                        	<a href="">服务流程</a>
                            <ul class="help-list-down">
                            	<li><a href="">购买流程</a></li>
                                <li><a href="">出售流程</a></li>
                                <li class="border-no"><a href="">寄售交易</a></li>
                            </ul>
                        </li>
                        <li>
                        	<a href="">安全保障</a>
                            <ul class="help-list-down help-list-down-lg">
                            	<li><a href="">店铺转让认证</a></li>
                                <li><a href="">担保交易</a></li>
                                <li class="border-no"><a href="">合同如何签署</a></li>
                            </ul>
                        </li>
                        <li >
                        	<a href="">帮助中心</a>
                            <ul class="help-list-down">
                            	<li class="active"><a href="">买家帮助</a></li>
                                <li><a href="">卖家帮助</a></li>
                                <li class="border-no"><a href="">隐私保护</a></li>
                            </ul>
                        </li>
                        <li>
                        	<a href="">客服中心</a>
                            <ul class="help-list-down help-list-down-last">
                            	<li><a href="">客服咨询</a></li>
                                <li><a href="">建议中心</a></li>
                               
                            </ul>
                        </li>
                         <li class="active"><a href="">在线问答</a></li>
                    </ul>
                </div>
                <div class="help-nav">
                	<i class="icon"></i><a href="">在线问答</a> > <a href="" class="active">卖家帮助</a>
                </div>
                <div class="clearfix">
                	<ul class="wen-dan">
                		<li><a href=""><em></em>客户被删除后活动记录如何删除？</a></li>
                		<li><a href=""><em></em>工单过滤器居然有那么大作用！你可能只会30%</a></li>
                		<li><a href=""><em></em>更改了审批流程，系统内正在进行的审批会按照什么流程走？</a></li>
                		<li><a href=""><em></em>进入销售机会的页面后，无法正常显示销售阶段的推进图？</a></li>               		
                		<li><a href=""><em></em>产品在什么位置添加？</a></li>
                		<li><a href=""><em></em>更改了审批流程，系统内正在进行的审批会按照什么流程走？</a></li>
                		<li><a href=""><em></em>如何导出公海池里的数据？</a></li>
                		<li><a href=""><em></em>产品在什么位置添加？</a></li>                		
                		<li><a href=""><em></em>进入销售机会的页面后，无法正常显示销售阶段的推进图？</a></li>
                		<li><a href=""><em></em>如何导出公海池里的数据？</a></li>                		
	               		<li><a href=""><em></em>线索池的退回原因如何添加？</a></li>
                		<li><a href=""><em></em>现在使用邮箱登录销售易系统，能否更换为使用手机号登录？</a></li>                		
                		<li><a href=""><em></em>登录系统时提示“抱歉，您没有访问权限”。</a></li>
                		<li><a href=""><em></em>线索池的退回原因如何添加？</a></li>
                		<li><a href=""><em></em>系统使用概况可以按部门筛选吗？</a></li>
                		<li><a href=""><em></em>登录系统时提示“抱歉，您没有访问权限”。</a></li>                		
                		<li><a href=""><em></em>现在使用邮箱登录销售易系统，能否更换为使用手机号登录？</a></li>
                		<li><a href=""><em></em>系统使用概况可以按部门筛选吗？</a></li>               		
                		<li><a href=""><em></em>合同回款中添加开票记录的票据类型可以更改吗？</a></li>
                		<li><a href=""><em></em>目前我们已经默认置入了一些基本角色，你可以新建或者修改角色?</a></li>
                	</ul>
                	
                	<div class="container">
            <div class="page-center clearfix">
                <ul class="pagination pull-left">
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">上一页</span></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#" aria-label="Next"><span aria-hidden="true">下一页</span></a></li>
                 </ul>
                 <div class="pull-left page-txt margin-left">共681页 跳转到第</div>
                 <div class="pull-left"><input type="text" class="form-control input-page"></div>
                 <div class="pull-left page-txt">页</div>
                 <div class="pull-left"><button type="button" class="btn-page btn">确定</button></div>
            </div>
        </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer-->
<?php include CUR_VIEW_PATH."Spublic/foot.html";?>
</body> 
<script src="public/khshop/js/jquery.min.js"></script>
<script src="public/khshop/js/bootstrap.min.js"></script>
<script src="public/khshop/js/common.js"></script>
<script src="public/khshop/js/wow.min.js"></script>
<script>
if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
	new WOW().init();
};
</script>
</html>