<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>代入驻</title>

    <!-- Bootstrap -->
    <link href="public/khshop/css/bootstrap.css" rel="stylesheet">
    <link href="public/khshop/css/animate.min.css" rel="stylesheet">
    <link href="public/khshop/css/css.css" rel="stylesheet">
</head>
<body>
<header>
    <?php include CUR_VIEW_PATH."Spublic/header.html";?>
</header>
    <div class="rz-banner">
    	<div class="container">
        	<div class="rz-banner-txt wow bounceInDown animated">网店代入驻<span><br>天猫、京东、蘑菇街专业入驻</span></div>
            <div class="rz-pc wow bounceInUp animated"><img src="public/khshop/images/rz-pc.png"></div>
        </div>
    </div>
    <div class="back-f9">
        <div class="container">
        	<div class="rz-top">
            	<div class="rz-bz text-center"><img src="public/khshop/images/rz01.png"></div>
                <div class="rz-btn-c text-center">
                    <a role="button" class="btn btn-rz">在线咨询</a>
                    <a role="button" class="btn btn-rz btn-rz-r">现在入驻</a>
                </div>
                <div class="rz-tt text-center">多平台全类目强势入驻</div>
                <div class="rz-tt-sm text-center">天猫、京东、蘑菇街等类目皆可入驻，企业信息皆可定制</div>
                <ul class="rz-list clearfix wow bounceInLeft animated">
                    <li class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" class="tmall"></a></li>
                    <li><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" class="mgj"></a></li>
                    <li><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" class="jd"></a></li>
                </ul>
                  <!-- Tab panes -->
                  <div class="tab-content wow bounceInRight animated">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <div class="row text-center rz-row">
                            <div class="pull-left">
                                <div class="rz-icon-c">
                                    <div class="rz-icon"><img src="public/khshop/images/rz-icon01.png"></div>
                                    <div class="rz-icon-txt">男装女装</div>
                                    <a href="" class="rz-icon-a">了解详情</a>
                                </div>
                            </div>
                            <div class="pull-left">
                                <div class="rz-icon-c">
                                    <div class="rz-icon"><img src="public/khshop/images/rz-icon02.png"></div>
                                    <div class="rz-icon-txt">鞋类箱包</div>
                                    <a href="" class="rz-icon-a">了解详情</a>
                                </div>
                            </div>
                            <div class="pull-left">
                                <div class="rz-icon-c">
                                    <div class="rz-icon"><img src="public/khshop/images/rz-icon03.png"></div>
                                    <div class="rz-icon-txt">汽车配件</div>
                                    <a href="" class="rz-icon-a">了解详情</a>
                                </div>
                            </div>
                            <div class="pull-left">
                                <div class="rz-icon-c">
                                    <div class="rz-icon"><img src="public/khshop/images/rz-icon04.png"></div>
                                    <div class="rz-icon-txt">珠宝首饰</div>
                                    <a href="" class="rz-icon-a">了解详情</a>
                                </div>
                            </div>
                            <div class="pull-left">
                                <div class="rz-icon-c">
                                    <div class="rz-icon"><img src="public/khshop/images/rz-icon05.png"></div>
                                    <div class="rz-icon-txt">食品保健</div>
                                    <a href="" class="rz-icon-a">了解详情</a>
                                </div>
                            </div>
                            <div class="pull-left">
                                <div class="rz-icon-c">
                                    <div class="rz-icon"><img src="public/khshop/images/rz-icon06.png"></div>
                                    <div class="rz-icon-txt">居家用品</div>
                                    <a href="" class="rz-icon-a">了解详情</a>
                                </div>
                            </div>
                            <div class="pull-left rz-icon-c-last">
                                <div class="rz-icon-c">
                                    <div class="rz-icon"><img src="public/khshop/images/rz-icon07.png"></div>
                                    <div class="rz-icon-txt">更多分类</div>
                                    <a href="" class="rz-icon-a">了解详情</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                        <div class="row text-center rz-row">
                            <div class="pull-left">
                                <div class="rz-icon-c">
                                    <div class="rz-icon"><img src="public/khshop/images/rz-icon08.png"></div>
                                    <div class="rz-icon-txt">衣服</div>
                                    <a href="" class="rz-icon-a">了解详情</a>
                                </div>
                            </div>
                            <div class="pull-left">
                                <div class="rz-icon-c">
                                    <div class="rz-icon"><img src="public/khshop/images/rz-icon09.png"></div>
                                    <div class="rz-icon-txt">包包</div>
                                    <a href="" class="rz-icon-a">了解详情</a>
                                </div>
                            </div>
                            <div class="pull-left">
                                <div class="rz-icon-c">
                                    <div class="rz-icon"><img src="public/khshop/images/rz-icon10.png"></div>
                                    <div class="rz-icon-txt">鞋子</div>
                                    <a href="" class="rz-icon-a">了解详情</a>
                                </div>
                            </div>
                            <div class="pull-left">
                                <div class="rz-icon-c">
                                    <div class="rz-icon"><img src="public/khshop/images/rz-icon11.png"></div>
                                    <div class="rz-icon-txt">配饰</div>
                                    <a href="" class="rz-icon-a">了解详情</a>
                                </div>
                            </div>
                            <div class="pull-left">
                                <div class="rz-icon-c">
                                    <div class="rz-icon"><img src="public/khshop/images/rz-icon12.png"></div>
                                    <div class="rz-icon-txt">百货</div>
                                    <a href="" class="rz-icon-a">了解详情</a>
                                </div>
                            </div>
                            <div class="pull-left">
                                <div class="rz-icon-c">
                                    <div class="rz-icon"><img src="public/khshop/images/rz-icon13.png"></div>
                                    <div class="rz-icon-txt">男装</div>
                                    <a href="" class="rz-icon-a">了解详情</a>
                                </div>
                            </div>
                            <div class="pull-left rz-icon-c-last">
                                <div class="rz-icon-c">
                                    <div class="rz-icon"><img src="public/khshop/images/rz-icon07.png"></div>
                                    <div class="rz-icon-txt">更多分类</div>
                                    <a href="" class="rz-icon-a">了解详情</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages">
                        <div class="row text-center rz-row">
                            <div class="pull-left">
                                <div class="rz-icon-c">
                                    <div class="rz-icon"><img src="public/khshop/images/rz-icon14.png"></div>
                                    <div class="rz-icon-txt">服饰内衣</div>
                                    <a href="" class="rz-icon-a">了解详情</a>
                                </div>
                            </div>
                            <div class="pull-left">
                                <div class="rz-icon-c">
                                    <div class="rz-icon"><img src="public/khshop/images/rz-icon15.png"></div>
                                    <div class="rz-icon-txt">珠宝首饰</div>
                                    <a href="" class="rz-icon-a">了解详情</a>
                                </div>
                            </div>
                            <div class="pull-left">
                                <div class="rz-icon-c">
                                    <div class="rz-icon"><img src="public/khshop/images/rz-icon16.png"></div>
                                    <div class="rz-icon-txt">厨房用具</div>
                                    <a href="" class="rz-icon-a">了解详情</a>
                                </div>
                            </div>
                            <div class="pull-left">
                                <div class="rz-icon-c">
                                    <div class="rz-icon"><img src="public/khshop/images/rz-icon17.png"></div>
                                    <div class="rz-icon-txt">食品饮料</div>
                                    <a href="" class="rz-icon-a">了解详情</a>
                                </div>
                            </div>
                            <div class="pull-left">
                                <div class="rz-icon-c">
                                    <div class="rz-icon"><img src="public/khshop/images/rz-icon18.png"></div>
                                    <div class="rz-icon-txt">汽车配件</div>
                                    <a href="" class="rz-icon-a">了解详情</a>
                                </div>
                            </div>
                            <div class="pull-left">
                                <div class="rz-icon-c">
                                    <div class="rz-icon"><img src="public/khshop/images/rz-icon19.png"></div>
                                    <div class="rz-icon-txt">玩具乐器</div>
                                    <a href="" class="rz-icon-a">了解详情</a>
                                </div>
                            </div>
                            <div class="pull-left rz-icon-c-last">
                                <div class="rz-icon-c">
                                    <div class="rz-icon"><img src="public/khshop/images/rz-icon07.png"></div>
                                    <div class="rz-icon-txt">更多分类</div>
                                    <a href="" class="rz-icon-a">了解详情</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rz-tt text-center wow bounceInDown animated">入驻成功案例</div>
            <div class="rz-tt-sm rz-tt-sm-eng text-center wow bounceInDown animated">SUCCESSFUL CASES</div>
            <div class="rz-tabs-img">
                <ul class="rz-tabs-list clearfix">
                    <li class="active"><a href="#tabs01" aria-controls="tabs01" role="tab" data-toggle="tab">天猫案例</a></li>
                    <li><a href="#tabs02" aria-controls="tabs02" role="tab" data-toggle="tab">蘑菇街案例</a></li>
                    <li class="border-no"><a href="#tabs03" aria-controls="tabs03" role="tab" data-toggle="tab">京东案例</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tabs01">
                        <div id="rz-tabs-img-c-slide01" class="carousel slide rz-tabs-img-c-slide" data-ride="carousel">
                          <!-- Wrapper for slides -->
                          <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="row  rz-tabs-img-c-row">
                                    <div class="col-xs-4">
                                        <div class="rz-tabs-img-c">
                                            <div><img src="public/khshop/images/rz-tabs01.png"></div>
                                            <div class=" rz-tabs-txt">华南地区女装旗舰店</div>
                                            <div class="rz-tabs-label"><div><p><img src="public/khshop/images/rz-tabs-icon01.png"></p></div>服饰鞋帽</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="rz-tabs-img-c">
                                            <div><img src="public/khshop/images/rz-tabs02.png"></div>
                                            <div class=" rz-tabs-txt">华南地区女装旗舰店</div>
                                            <div class="rz-tabs-label"><div><p><img src="public/khshop/images/rz-tabs-icon02.png"></p></div>服饰鞋帽</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="rz-tabs-img-c">
                                            <div><img src="public/khshop/images/rz-tabs03.png"></div>
                                            <div class=" rz-tabs-txt">华南地区女装旗舰店</div>
                                            <div class="rz-tabs-label"><div><p><img src="public/khshop/images/rz-tabs-icon03.png"></p></div>服饰鞋帽</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row  rz-tabs-img-c-row">
                                    <div class="col-xs-4">
                                        <div class="rz-tabs-img-c">
                                            <div><img src="public/khshop/images/rz-tabs01.png"></div>
                                            <div class=" rz-tabs-txt">华南地区女装旗舰店</div>
                                            <div class="rz-tabs-label"><div><p><img src="public/khshop/images/rz-tabs-icon01.png"></p></div>服饰鞋帽</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="rz-tabs-img-c">
                                            <div><img src="public/khshop/images/rz-tabs02.png"></div>
                                            <div class=" rz-tabs-txt">华南地区女装旗舰店</div>
                                            <div class="rz-tabs-label"><div><p><img src="public/khshop/images/rz-tabs-icon02.png"></p></div>服饰鞋帽</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="rz-tabs-img-c">
                                            <div><img src="public/khshop/images/rz-tabs03.png"></div>
                                            <div class=" rz-tabs-txt">华南地区女装旗舰店</div>
                                            <div class="rz-tabs-label"><div><p><img src="public/khshop/images/rz-tabs-icon03.png"></p></div>服饰鞋帽</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>

                          <!-- Controls -->
                          <a class="left carousel-control" href="#rz-tabs-img-c-slide01" role="button" data-slide="prev">
                          </a>
                          <a class="right carousel-control" href="#rz-tabs-img-c-slide01" role="button" data-slide="next">
                          </a>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tabs02">
                        <div id="rz-tabs-img-c-slide02" class="carousel slide rz-tabs-img-c-slide" data-ride="carousel">
                          <!-- Wrapper for slides -->
                          <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="row  rz-tabs-img-c-row">
                                    <div class="col-xs-4">
                                        <div class="rz-tabs-img-c">
                                            <div><img src="public/khshop/images/rz-tabs03.png"></div>
                                            <div class=" rz-tabs-txt">华南地区女装旗舰店</div>
                                            <div class="rz-tabs-label"><div><p><img src="public/khshop/images/rz-tabs-icon03.png"></p></div>服饰鞋帽</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="rz-tabs-img-c">
                                            <div><img src="public/khshop/images/rz-tabs01.png"></div>
                                            <div class=" rz-tabs-txt">华南地区女装旗舰店</div>
                                            <div class="rz-tabs-label"><div><p><img src="public/khshop/images/rz-tabs-icon01.png"></p></div>服饰鞋帽</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="rz-tabs-img-c">
                                            <div><img src="public/khshop/images/rz-tabs02.png"></div>
                                            <div class=" rz-tabs-txt">华南地区女装旗舰店</div>
                                            <div class="rz-tabs-label"><div><p><img src="public/khshop/images/rz-tabs-icon02.png"></p></div>服饰鞋帽</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row  rz-tabs-img-c-row">
                                    <div class="col-xs-4">
                                        <div class="rz-tabs-img-c">
                                            <div><img src="public/khshop/images/rz-tabs01.png"></div>
                                            <div class=" rz-tabs-txt">华南地区女装旗舰店</div>
                                            <div class="rz-tabs-label"><div><p><img src="public/khshop/images/rz-tabs-icon01.png"></p></div>服饰鞋帽</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="rz-tabs-img-c">
                                            <div><img src="public/khshop/images/rz-tabs02.png"></div>
                                            <div class=" rz-tabs-txt">华南地区女装旗舰店</div>
                                            <div class="rz-tabs-label"><div><p><img src="public/khshop/images/rz-tabs-icon02.png"></p></div>服饰鞋帽</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="rz-tabs-img-c">
                                            <div><img src="public/khshop/images/rz-tabs03.png"></div>
                                            <div class=" rz-tabs-txt">华南地区女装旗舰店</div>
                                            <div class="rz-tabs-label"><div><p><img src="public/khshop/images/rz-tabs-icon03.png"></p></div>服饰鞋帽</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>

                          <!-- Controls -->
                          <a class="left carousel-control" href="#rz-tabs-img-c-slide02" role="button" data-slide="prev">
                          </a>
                          <a class="right carousel-control" href="#rz-tabs-img-c-slide02" role="button" data-slide="next">
                          </a>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tabs03">
                        <div id="rz-tabs-img-c-slide03" class="carousel slide rz-tabs-img-c-slide" data-ride="carousel">
                          <!-- Wrapper for slides -->
                          <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="row  rz-tabs-img-c-row">
                                    <div class="col-xs-4">
                                        <div class="rz-tabs-img-c">
                                            <div><img src="public/khshop/images/rz-tabs02.png"></div>
                                            <div class=" rz-tabs-txt">华南地区女装旗舰店</div>
                                            <div class="rz-tabs-label"><div><p><img src="public/khshop/images/rz-tabs-icon02.png"></p></div>服饰鞋帽</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="rz-tabs-img-c">
                                            <div><img src="public/khshop/images/rz-tabs01.png"></div>
                                            <div class=" rz-tabs-txt">华南地区女装旗舰店</div>
                                            <div class="rz-tabs-label"><div><p><img src="public/khshop/images/rz-tabs-icon01.png"></p></div>服饰鞋帽</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="rz-tabs-img-c">
                                            <div><img src="public/khshop/images/rz-tabs03.png"></div>
                                            <div class=" rz-tabs-txt">华南地区女装旗舰店</div>
                                            <div class="rz-tabs-label"><div><p><img src="public/khshop/images/rz-tabs-icon03.png"></p></div>服饰鞋帽</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row  rz-tabs-img-c-row">
                                    <div class="col-xs-4">
                                        <div class="rz-tabs-img-c">
                                            <div><img src="public/khshop/images/rz-tabs01.png"></div>
                                            <div class=" rz-tabs-txt">华南地区女装旗舰店</div>
                                            <div class="rz-tabs-label"><div><p><img src="public/khshop/images/rz-tabs-icon01.png"></p></div>服饰鞋帽</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="rz-tabs-img-c">
                                            <div><img src="public/khshop/images/rz-tabs02.png"></div>
                                            <div class=" rz-tabs-txt">华南地区女装旗舰店</div>
                                            <div class="rz-tabs-label"><div><p><img src="public/khshop/images/rz-tabs-icon02.png"></p></div>服饰鞋帽</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="rz-tabs-img-c">
                                            <div><img src="public/khshop/images/rz-tabs03.png"></div>
                                            <div class=" rz-tabs-txt">华南地区女装旗舰店</div>
                                            <div class="rz-tabs-label"><div><p><img src="public/khshop/images/rz-tabs-icon03.png"></p></div>服饰鞋帽</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>

                          <!-- Controls -->
                          <a class="left carousel-control" href="#rz-tabs-img-c-slide03" role="button" data-slide="prev">
                          </a>
                          <a class="right carousel-control" href="#rz-tabs-img-c-slide03" role="button" data-slide="next">
                          </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service-c">
        <div class="container">
            <div class="rz-tt text-center wow bounceInDown animated">全面专业服务</div>
            <div class="rz-tt-sm rz-tt-sm-eng text-center wow bounceInDown animated">COMPREHENSIVE MAJOR SERVICE</div>
            <div class="rz-service">
                <div class="rz-service-c">
                    <div class="rz-service-c-tt">分析报告</div>
                    <div class="rz-service-c-txt">针对不同的公司情况进行入驻深度分析，全面结合入驻规则给出专业的可执行入驻方案。</div>
                </div>
                <div class="rz-service-c rz-service-c02">
                    <div class="rz-service-c-tt">质检报告</div>
                    <div class="rz-service-c-txt">根据天猫审核规则，提供专业的产品质量检测并出具权威报告，用以供审核。</div>
                </div>
                <div class="rz-service-c rz-service-c03">
                    <div class="rz-service-c-tt">商标方案</div>
                    <div class="rz-service-c-txt">根据不同行业和类目情况，提供专业的商标情况咨询、商标注册及商标转让的服务方案。</div>
                </div> 
                <div class="rz-service-c rz-service-c04">
                    <div class="rz-service-c-tt">材料审核</div>
                    <div class="rz-service-c-txt">协助企业准备各类资质证书及申请材料，减少审核时间并提高审核通过率。</div>
                </div> 
                <div class="rz-service-c rz-service-c05">
                    <div class="rz-service-c-tt">24H服务</div>
                    <div class="rz-service-c-txt">专业电商入驻顾问24小时温馨服务，提供有效的入驻解决方案和及时的审核反馈。</div>
                </div> 
            </div>
        </div>
    </div>
    <div class="back-f9">
        <div class="rz-back">
            <div class="container">
                <div class="rz-tt text-center wow bounceInDown animated">尽享优势服务</div>
                <div class="rz-tt-sm rz-tt-sm-eng text-center wow bounceInDown animated">service ENJOY THE ADVANTAGES OF SERVICE</div>
                <div class="clearfix">
                    <div class="rz-back-l pull-left wow bounceInLeft animated">
                        <div class="pull-left">
                            <ul class="rz-back-list">
                                <li>入驻成功才收费</li>
                                <li>专业顾问解决入驻疑难</li>
                                <li>全程一站式无忧服务</li>
                                <li>全渠道电商资源支持</li>
                                <li>平台规模保证入驻成功率</li>
                            </ul>
                        </div>
                        <div class="rz-back-label pull-left">店来店往<br><span>代入驻</span></div>
                    </div>
                    <div class="pull-left rz-back-i"><img src="public/khshop/images/rz06.png"></div>
                    <div class="rz-back-l rz-back-r pull-right wow bounceInRight animated">
                        <div class="rz-back-label pull-left">普通商家<br><span>代入驻</span></div>
                        <div class="pull-left">
                            <ul class="rz-back-list">
                                <li>入驻成功才收费</li>
                                <li>专业顾问解决入驻疑难</li>
                                <li>全程一站式无忧服务</li>
                                <li>全渠道电商资源支持</li>
                                <li>平台规模保证入驻成功率</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="rz-tt text-center wow bounceInDown animated">入驻服务流程</div>
            <div class="rz-tt-sm rz-tt-sm-eng text-center wow bounceInDown animated">SETTLED SERVICE PROCESS</div>
            <div class="rz-lc"><img src="public/khshop/images/rz07.png"></div>
        </div>
    </div>
    <div class="rz-bottom">
        <div class="container">
            <div class="rz-tt text-center wow bounceInDown animated">在线需求填写</div>
            <div class="rz-tt-sm rz-tt-sm-eng text-center wow bounceInDown animated">ONLINE NEEDS TO FILL IN </div>
            <div class="clearfix">
                <div class="pull-left about-input-txt">您的姓名</div>
                <div class="pull-left"><input type="text" class="form-control about-input"></div>
            </div>
            <div class="clearfix">
                <div class="pull-left about-input-txt">您的手机</div>
                <div class="pull-left"><input type="text" class="form-control about-input"></div>
            </div>
            <div class="clearfix">
                <div class="pull-left about-input-txt">您的QQ</div>
                <div class="pull-left"><input type="text" class="form-control about-input"></div>
            </div> 
            <div class="clearfix">
                <div class="pull-left about-input-txt">商城类型</div>
                <div class="pull-left"><input type="text" class="form-control about-input"></div>
            </div> 
            <div class="clearfix">
                <div class="pull-left about-input-txt">需求类目</div>
                <div class="pull-left"><input type="text" class="form-control about-input"></div>
            </div> 
            <div class="clearfix">
                <div class="pull-left about-input-txt">需求描述</div>
                <div class="pull-left"><textarea type="text" class="form-control about-input about-input-lg"></textarea></div>
            </div> 
            <div class="clearfix">
                <div class="pull-left about-input-txt"></div>
                <div class="pull-left"><button type="submit" class="btn btn-about">快速提交并申请</button></div>
            </div>
        </div>
    </div>
    <!--footer-->

    <?php include CUR_VIEW_PATH."Spublic/foot.html";?>

</body> 
<script src="public/khshop/js/jquery.min.js"></script>
<script src="public/khshop/js/bootstrap.min.js"></script>
<script src="public/khshop/js/common.js"></script>
<script src="public/khshop/js/wow.min.js"></script>
<script>
    if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
        new WOW().init();
    };
    $('#id').children('li').prop('class','');
    $('#drz').attr('class','active');
</script>
</html>