<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>企业服务-店铺升级</title>

    <!-- Bootstrap -->
    <link href="public/khshop/css/bootstrap.css" rel="stylesheet">
    <link href="public/khshop/css/animate.min.css" rel="stylesheet">
    <link href="public/khshop/css/css.css" rel="stylesheet">
</head>
<body>
<header>
    <?php include CUR_VIEW_PATH."Spublic/qiye_header.html";?>
</header>
    <div class="fw-banner sj-banner">
    	<div class="container">
            <div class="fw-banner-tt wow bounceInLeft animated">升级企业店铺</div>
            <div class="fw-lind wow bounceInRight animated"><img src="public/khshop/images/fw02.png"></div>
            <div class="fw03 wow bounceInUp animated"><img src="public/khshop/images/sj02.png"></div>
        </div>
    </div>
    <div class="back-f9">
        <div class="container">
                <div class="yy-nav text-right">当前位置：<span>网店代运营</span></div>
                <div class="rz-top yy-top fw-top bg-top">
                    <div class="clearfix bg-clearfix">
                        <div class="pull-left bg-tt">地区</div>
                        <ul class="pull-left dq-list clearfix" id="a">
                            <li><a href="">请选择</a></li>
                            <li><a href="">请选择</a></li>
                        </ul>
                        <ul class="pull-left dq-list clearfix">
                            <li id="ql"><a  class="dq-btn">重置</a></li>
                        </ul>
                    </div>
                    <div class="clearfix bg-clearfix">
                        <div class="pull-left bg-tt bg-tt-sm">选择省：</div>
                        <ul class="pull-left purchase-ul dq-list dq-list02 clearfix" id="b">
                            <?php foreach($sheng as $v): ?>
                            <li><a role="button"><?=$v['diqu']?></a></li>
                            <?php endforeach; ?>
                        </ul>
                    </div>
                    <div class="clearfix">
                        <div class="pull-left bg-tt bg-tt-sm">选择市区：</div>
                        <ul class="pull-left purchase-ul dq-list dq-list02 clearfix" id="c">
                            <?php foreach($shi as $v): ?>
                            <li><a role="button"><?=$v['diqu']?></a></li>
                            <?php endforeach; ?>
                        </ul>
                    </div>
                    <form action="?c=user&a=common&type=1" method="post">
                    <div  class="navbarExample">
                        <div class="bg-car bg-car02">
                            <div class="clearfix">
                                <div class="bg-icon pull-left">加入购物车</div>
                                <div class="pull-left">
                                    <div class="relative bg-car-input"><span id="d">企业合伙</span> (<name id="f">请选择</name>-<name id="g">请选择</name>)<a role="button" class="icon"></a></div>
                                </div>
                                <div class="pull-right">
                                    <div class="pull-left bg-hj"><span>小计：</span><span class="lg"><?=$jg?></span><span>元</span></div>
                                    <div class="pull-left">
                                        <div class="bg-btn-c clearfix">
                                            <button id="js" href="" class="btn btn-bg" type="submit">去结算</button>
                                            <a href="" class="btn btn-bg btn-bg02">免费咨询</a>
                                        </div>
                                         <div class="checkbox fw-checkbox">
                                            <label>
                                                <input value="" type="hidden" id="province" name="province">
                                                <input value="" type="hidden" id="city" name="city">
                                                <input value="0" type="hidden" id="price" name="price">
                                                <input value="企业合伙" type="hidden" id="gszc" name="gszc">
                                                <input value="一般纳税人" type="hidden" id="nszz" name="nszz">
                                                <input value="使用自己地址" type="hidden" id="dz" name="dz">
                                                <input value="我自行办理" type="hidden" id="yhkh" name="yhkh">
                                              <input id="xy" type="checkbox"> 我已阅读并同意《<a href="">“企业服务”服务协议</a>》
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="sj-list">
                        <li class="clearfix">
                            <div class="pull-left">
                                <div class="sj-list-tt"><span>工商注册</span>请选择注册公司类型</div>
                                <div class="sj-btn-c clearfix" id="e">
                                    <a role="button" class="sj-btn" id="<?=$result[4]['jiage']?>"><?=$result[4]['leixing']?></a>
                                    <a role="button" class="sj-btn active" id="<?=$result[0]['jiage']?>"><?=$result[0]['leixing']?></a>
                                </div>
                            </div>
                            <div class="pull-right sj-right" id="ee"><span><?=$result[0]['jiage']?></span>元</div>
                        </li>
                        <li class="clearfix">
                            <div class="pull-left">
                                <div class="sj-list-tt"><span>纳税资质</span>请选择纳税类型</div>
                                <div class="sj-btn-c clearfix" id="h">
                                    <a role="button" class="sj-btn" id="<?=$result[5]['jiage']?>"><?=$result[5]['leixing']?></a>
                                    <a role="button" class="sj-btn active" id="<?=$result[1]['jiage']?>"><?=$result[1]['leixing']?></a>
                                </div>
                            </div>
                            <div class="pull-right sj-right" id="hh"><span><?=$result[1]['jiage']?></span>元</div>
                        </li>
                        <li class="clearfix">
                            <div class="pull-left">
                                <div class="sj-list-tt"><span>选择地址</span>一个商用的地址是注册公司的必备条件</div>
                                <div class="sj-btn-c clearfix" id="i">
                                    <a role="button" class="sj-btn" id="<?=$result[6]['jiage']?>"><?=$result[6]['leixing']?></a>
                                    <a role="button" class="sj-btn active" id="<?=$result[2]['jiage']?>"><?=$result[2]['leixing']?></a>
                                </div>
                            </div>
                            <div class="pull-right sj-right" id="ii"><span><?=$result[2]['jiage']?></span>元</div>
                        </li>
                        <li class="clearfix">
                            <div class="pull-left">
                                <div class="sj-list-tt"><span>选择银行开户</span>公司注册完成后需要开设银行基本账户</div>
                                <div class="sj-btn-c clearfix" id="j">
                                    <a role="button" class="sj-btn" id="<?=$result[7]['jiage']?>"><?=$result[7]['leixing']?></a>
                                    <a role="button" class="sj-btn active" id="<?=$result[3]['jiage']?>"><?=$result[3]['leixing']?></a>
                                </div>
                            </div>
                            <div class="pull-right sj-right" id="jj"><span><?=$result[3]['jiage']?></span>元</div>
                        </li>
                        <li class="clearfix border-no">
                            <div class="sj-list-tt"><span>需求描述</span>公司注册完成后需要开设银行基本账户</div>
                            <textarea name="ms" class="form-control input-sell" placeholder="让您的代理人更了解您的需求，如公司名、公司类型、经营范围、注册资金等"></textarea>
                        </li>
                    </ul>
                    <div class="sj-bottom"><span class="bold">注：</span><span class="margin-sj">1.部分地区以上价格不含工本费及银行实报实销的费用；</span><span class="margin-sj"> 2.如需可开发票地址，地址费差价额外另付；</span><span class="margin-sj">3.后续每年需收取的地址费根据政策决定。</span></div>

                </form>
            </div>
        </div>
        <div class="container fw-zm sj-lc">
            <div class="yy-title"><span>升级店铺流程</span></div>
            <div class="yy-title-sm text-center">TO UPGRADE THE STORE PROCESS</div>
            <div class="sj-lc-img text-center"><img src="public/khshop/images/sj05.png"></div>
            <div class="clearfix">
                <div class="width20">
                    <div class="sjlc-c">
                        <div class="sjlc-tt">工商注册</div>
                        <div class="sjlc-txt"><span>3-20</span>个工作日</div>
                    </div>
                </div>
                <div class="width20">
                    <div class="sjlc-c">
                        <div class="sjlc-tt">税种报道</div>
                        <div class="sjlc-txt"><span>2-3</span>个工作日</div>
                    </div>
                </div>
                <div class="width20">
                    <div class="sjlc-c">
                        <div class="sjlc-tt">银行开户</div>
                        <div class="sjlc-txt"><span>15-20</span>个工作日</div>
                    </div>
                </div>
                <div class="width20">
                    <div class="sjlc-c">
                        <div class="sjlc-tt">淘宝后台上传信息</div>
                        <div class="sjlc-txt"><span>30</span>个工作日</div>
                    </div>
                </div>
                <div class="width20">
                    <div class="sjlc-c">
                        <div class="sjlc-tt">股权变更</div>
                        <div class="sjlc-txt"><span>7-10</span>个工作日</div>
                    </div>
                </div>
            </div>
        </div>
    <!--footer-->
    </div>
    <?php include CUR_VIEW_PATH."Spublic/foot.html";?>

</body> 
<script src="public/khshop/js/jquery.min.js"></script>
<script src="public/khshop/js/bootstrap.min.js"></script>
<script src="public/khshop/js/common.js"></script>
<script src="public/khshop/js/wow.min.js"></script>
<script>
if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
	new WOW().init();
};
$('#id').children('li').prop('class','');


//+++++
$('#b').children('li').click(function () {
    var a=$(this).text();
    $('#a').children('li:first').children('a').text(a);
    $('#f').text(a);
    $('#province').val(a);
});
//++++++
$('#c').children('li').click(function () {
    var a=$(this).text();
    $('#a').children('li:not(:first)').children('a').text(a);
    $('#g').text(a);
    $('#city').val(a);
});

//-----
$('#ql').click(function () {
    $('#a').children('li:first').children('a').text('请选择');
    $('#a').children('li:not(:first)').children('a').text('请选择');

    $('#b').children('li').children('a').prop('class','');
    $('#c').children('li').children('a').prop('class','');

//    $('#b').children('li:eq(5)').children('a').prop('class','active');
//    $('#c').children('li:eq(0)').children('a').prop('class','active');

    $('#f').text('请选择');
    $('#g').text('请选择');

    $('#province').val('请选择');
    $('#city').val('请选择');
});

//------
    $('#e').children('a').click(function () {
        var a=$(this).text();
        $('#gszc').val(a);
        $('#d').text(a);
        $('#ee').children('span').text(this.id);

        var s=parseInt(this.id);
        var b=parseInt($('#h').children('.sj-btn.active').prop('id'));
        var d=parseInt($('#i').children('.sj-btn.active').prop('id'));
        var e=parseInt($('#j').children('.sj-btn.active').prop('id'));
        var c=s+b+d+e;
        $('.lg').text(c);
        $("#price").val(c);
    });

    $('#h').children('a').click(function () {
        var a=$(this).text();
        $('#nszz').val(a);
        $('#hh').children('span').text(this.id);
         var s=parseInt(this.id);
         var b=parseInt($('#e').children('.sj-btn.active').prop('id'));
         var d=parseInt($('#i').children('.sj-btn.active').prop('id'));
         var e=parseInt($('#j').children('.sj-btn.active').prop('id'));
         var c=s+b+d+e;
         $('.lg').text(c);
        $("#price").val(c);
    });

    $('#i').children('a').click(function () {
        var a=$(this).text();
        $('#dz').val(a);
        $('#ii').children('span').text(this.id);

        var s=parseInt(this.id);
        var b=parseInt($('#e').children('.sj-btn.active').prop('id'));
        var d=parseInt($('#h').children('.sj-btn.active').prop('id'));
        var e=parseInt($('#j').children('.sj-btn.active').prop('id'));
        var c=s+b+d+e;
        $('.lg').text(c);
        $("#price").val(c);
    });

    $('#j').children('a').click(function () {
        var a=$(this).text();
        $('#yhkh').val(a);
        $('#jj').children('span').text(this.id);

        var s=parseInt(this.id);
        var b=parseInt($('#e').children('.sj-btn.active').prop('id'));
        var d=parseInt($('#i').children('.sj-btn.active').prop('id'));
        var e=parseInt($('#h').children('.sj-btn.active').prop('id'));
        var c=s+b+d+e;
        $('.lg').text(c);
        $("#price").val(c);
    });
//-----
    $('#js').click(function () {
        if (!$("#province").val()||!$("#city").val()){
            alert("请选择城市"); return false;
        }
        if ($('#xy').is(":checked")==false){
            alert("请认真读取协议"); return false;
        }
    })
</script>
</html>