<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>商务合作</title>

    <!-- Bootstrap -->
    <link href="public/khshop/css/bootstrap.css" rel="stylesheet">
    <link href="public/khshop/css/animate.min.css" rel="stylesheet">
    <link href="public/khshop/css/css.css" rel="stylesheet">
</head>
<body>
<header>
    <?php include CUR_VIEW_PATH."Spublic/gongsi_header.html";?>
</header>
    <div class="about-banner sw-banner">
        <div class="container">
            <div class="sw-banner-c">
                <div class="sw-banner-tt wow bounceInLeft animated">商务合作</div>
                <div class=" wow bounceInRight animated"><img src="public/khshop/images/sw01.png"></div>
            </div>
        </div>
    </div>
 
    <div class="container">
        <div class="about-back sw-back">
            <div class="row">
                <div class="col-xs-4">
                    <div class="about-icon sw-icon clearfix"><i></i><span>客户服务</span><br>CUSTOMER SERVICE</div>
                </div>
                <div class="col-xs-4">
                    <div class="about-icon sw-icon sw-icon02 clearfix"><i></i><span>资源 / 渠道 / 运营合作</span><br>RESOURCE / CHANNEL / OPERATION COOPERATION</div>
                </div>
                <div class="col-xs-4">
                    <div class="about-icon sw-icon sw-icon03 clearfix"><i></i><span>其他商务合作</span><br>ATHER BUSINESS COOPERATION</div>
                </div>
                <div class="col-xs-4">
                    <ul class="sw-list">
                        <li>联系电话：400-123-4567</li>
                        <li>客服QQ：159800125  </li>
                        <li>E-mail：dldw@dianlaid.com </li>
                    </ul>
                </div>
                <div class="col-xs-4">
                    <ul class="sw-list sw-list02">
                        <li>联系人：王先生</li>
                        <li>QQ：259800003</li>
                        <li>E-mail：dldw@dianlaid.com</li>
                    </ul>
                </div>
                <div class="col-xs-4">
                    <ul class="sw-list sw-list03">
                        <li>联系人：李先生</li>
                        <li>QQ：259800029</li>
                        <li>E-mail：dldw@dianlaid.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--footer-->

    <?php include CUR_VIEW_PATH."Spublic/foot.html";?>

</body> 
<script src="public/khshop/js/jquery.min.js"></script>
<script src="public/khshop/js/bootstrap.min.js"></script>
<script src="public/khshop/js/common.js"></script>
<script src="public/khshop/js/wow.min.js"></script>
<script>
if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
	new WOW().init();
};
</script>
</html>