<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>诚聘英才</title>

    <!-- Bootstrap -->
    <link href="public/khshop/css/bootstrap.css" rel="stylesheet">
    <link href="public/khshop/css/animate.min.css" rel="stylesheet">
    <link href="public/khshop/css/css.css" rel="stylesheet">
</head>
<body>
<header>
    <?php include CUR_VIEW_PATH."Spublic/gongsi_header.html";?>
</header>
	<div class="recruit-banner">
    	<div class="container">
        	<div class="recruit-banner-tt wow bounceInLeft animated">诚聘英才</div>
            <div class="recruit-banner-lg wow bounceInRight animated"><img src="public/khshop/images/recruit02.png"></div>
            <div class="recruit-banner-sm wow bounceInRight animated"><img src="public/khshop/images/recruit03.png"></div>
        </div>
    </div>
    <div class="back-f9">
        <div class="container">
            <div class="recruit-c">
                <div class="recruit-border">
                    <i></i>
                    <p>我们店来店往拥有一支最青春的队伍，每个人在队伍中都起着重要性的作用，一环连一环，我们专注与店来店往，热爱店来店往，对于店来店往的思想理念更是赞不绝口。
    我们的学习：刚进入公司，可以在公司里不断的练习，不断的改善自己，开拓自己，每个人都在努力投入到公司中去，那么在这样的环境下学习才会更有动力。</p>
                    <p>我们的工作：我们每个人的人工作都十分明确，工作的时间也比较自由，那么在这么舒适的条件下，我们可以在工作中不段的去创新，并实践。看着网站更加成功，就感觉自己也是成功的一份子。</p>
                    <p>我们的团结：团队中队员的相互合作，默契的完成每项任务，一起努力满足顾客的要求，争取做到求实、求精。</p>
                    <p>我们的友谊：我们就像一群天真的孩子，在遇到问题会冷静面对，相互帮助，在嬉笑时会打成一片，每天都是开开心心的。</p>
                    <p>这就是我们，这就是我们易店无忧，欢迎加入我们的队伍，同时成就你的大好前途。</p>
                    <p>我们的最终目标：不求最好，但求更好。</p>
                </div>
            </div>
            <div class="recruit-txt-c">
            	<div class="recruit-tt">网店交易专员</div>
                <p>任职要求：</p>
                <p>1、大专以上学历，性别不限。</p>
                <p>2、计算机操作熟练，打字速度快。</p>
                <p>3、勤奋踏实，抗压能力强，有良好的团队意识。</p>
                <p>4、有网络产品交易相关工作经验者优先。</p>
                <p>5、认同淘宝行业，对淘宝有一定了解，能适应早晚倒班制。</p>
            </div>
            <div class="recruit-txt-c">
            	<div class="recruit-tt">热线客服专员</div>
                <p>任职要求：</p>
                <p>1.负责接听公司的服务热线，为客户提供优质的业务咨询，受理投诉处理、电话回访、客户关怀等服务； </p>
                <p>2.具有良好的职业道德、吃苦耐劳、爱岗敬业、责任心强，有良好的沟通能力和团队合作精神； </p>
                <p>3.声音甜美、普通话标准、工作热心负责，反应灵敏,思维敏捷,能从容应对客户的投诉电话； </p>
                <p>4.能承受较大的工作压力，适应轮班工作的需要； </p>
                <p>5.汉字听打录入熟练，打字速度在50字/分钟以上；</p>
            </div>
            <div class="recruit-txt-c">
            	<div class="recruit-tt">在线咨询客服</div>
                <p>任职要求：</p>
                <p>1、高中以上学历，从事客服类工作1年以上，打字速度60个/分；</p>
                <p>2、熟悉淘宝，对淘宝有一定的认识； </p>
                <p>3、有良好的服务意识，工作耐心细致，有良好的语言表达和沟通能力，善于解答客户的各种提问； </p>
                <p>4、能承受较大的工作压力，适应轮班工作的需要； </p>
                <p>5、外地求职人员优先。</p>
            </div>
            <div class="recruit-txt-c">
            	<div class="recruit-tt">网站编辑</div>
                <p>任职要求：</p>
                <p>1、负责网站日常信息更新工作，按照规定的题材进行文章的编辑工作；</p>
                <p>2、文笔流畅，善于信息搜索与编辑整理，具有较强的选题、策划、编辑撰写能力；</p>
                <p>3、能够搜集行业相关题材的文章，并进行原创工作，发布到网站指定的板块；</p>
                <p>4、负责网站结构与内容的策划与组织；</p>
                <p>5、思维敏捷，文笔好，能够独立完成采编任务，具有较强的新闻敏感性和专题策划能力，</p>
                <p>6、工作责任心强，耐心细致，能承受较大的压力和繁琐的工作，执行力和沟通力强，有良好的学习能力，能吃苦耐劳</p>
                <p>7、善于学习和接受新鲜事物，具有团队合作精神；</p>
                <p>网络SEO</p>
                <p>任职要求</p>
                <p>1、根据SEO整体策略，制定SEO反向链接计划，熟悉搜索引擎的排名规则。</p>
                <p>2、负责网站的外链建设；</p>
                <p>3、对外链资源进行归类整理，定期提交外链执行计划及统计报告；</p>
                <p>4、协助团队其他成员进行网络推广等方面工作。</p>
                <p>5、熟悉百度知道推广技巧，并能熟练的运用。</p>
                <p>6、了解网站目录、博客、论坛等常用获取外链方式；</p>
                <p>7、具有一定的文字功底，善于组织和编辑文章；</p>
                <p>8、热爱互联网、积极上进、能承受一定工作压力、完成分配的任务；</p>
            </div>
            <div class="recruit-txt-c">
            	<div class="recruit-tt">PHP程序员</div>
                <p>任职要求：</p>
                <p>1、大专以上学历，计算机等相关专业；</p>
                <p>2、具备1年以上电子商务网站或企业网站开发经验；</p>
                <p>3、熟悉PHP编程、MySQL数据库、DIV+CSS、Javascript, AJAX技术，熟悉CMS、有用CMS开发项目经验者优先！</p>
                <p>4、具有良好的沟通能力、较强的团队工作意识、创新意识和高度的责任心。</p>
            </div>
            <div class="recruit-b">如有兴趣请投简历到：<span>dianlaidianw@qq.com</span> (邮件主题注明应聘职位)</div>
        </div>
    </div>
    <!--footer-->

    <?php include CUR_VIEW_PATH."Spublic/foot.html";?>

</body> 
<script src="public/khshop/js/jquery.min.js"></script>
<script src="public/khshop/js/bootstrap.min.js"></script>
<script src="public/khshop/js/common.js"></script>
<script src="public/khshop/js/wow.min.js"></script>
<script>
if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
	new WOW().init();
};
</script>
</html>