<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>代运营</title>

    <!-- Bootstrap -->
    <link href="public/khshop/css/bootstrap.css" rel="stylesheet">
    <link href="public/khshop/css/animate.min.css" rel="stylesheet">
    <link href="public/khshop/css/css.css" rel="stylesheet">
</head>
<body>
<header>
    <?php include CUR_VIEW_PATH."Spublic/header.html";?>
</header>
    <div class="yy-banner">
    	<div class="container">
            <div class="yy-img text-center wow bounceInDown animated"><img src="public/khshop/images/yy01.png"></div>
        </div>
    </div>
    <div class="back-f9">
        <div class="container">
            <div class="yy-nav text-right">当前位置：<span>网店代运营</span></div>
            <div class="rz-top yy-top">
                <div class="clearfix yy-icon-c text-center">
                    <div class="col-xs-4 yy01 wow bounceInLeft animated">
                        <div class="yy-icon-border">
                            <div class="yy-icon-img"><img src="public/khshop/images/yy02.png"></div>
                            <div class="yy-icon-tt">管理不愁</div>
                            <div class="yy-lind"></div>
                            <div class="yy-txt">电商小白不知道怎么运营?真是愁死人。店<br>来店往代运营帮您装修店铺、招聘人才、流<br>量推广，让您的生意早日步入正轨。</div>
                        </div>
                    </div>
                    <div class="col-xs-4 yy02 wow bounceInUp animated">
                        <div class="yy-icon-border">
                            <div class="yy-icon-img"><img src="public/khshop/images/yy03.png"></div>
                            <div class="yy-icon-tt">轻松减负</div>
                            <div class="yy-lind"></div>
                            <div class="yy-txt">超过20%的店主，每天工作时间14个小时以<br>上，店来店往代运营解放您的时间，您无需<br>亲力亲为，让您有更多时间休闲娱乐。</div>
                        </div>
                    </div>
                    <div class="col-xs-4 yy03 wow bounceInRight animated">
                        <div class="yy-icon-border border-no">
                            <div class="yy-icon-img"><img src="public/khshop/images/yy04.png"></div>
                            <div class="yy-icon-tt">电商大咖</div>
                            <div class="yy-lind"></div>
                            <div class="yy-txt">10个店主中有7个因为运营问题转让店铺。<br>店来店往运营有来自阿里高管、天猫小二等<br>替您坐镇运营，让您的店铺稳如泰山。</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="yy-title wow bounceInDown animated"><span>关于店来店往代运营</span></div>
            <div class="yy-title-sm text-center wow bounceInDown animated">ABOUT GENERATION OPERATION</div>
            <div class="yy-title-lind"></div>
            <div class="about-txt text-center">
                <p>多数店主有这样的心声：忙不过来，恨不得一天有48个小时！</p>
                <p>店来店往代运营是针对电商卖家运营店铺过程中遇到的种种问题，为电商卖家量身打造的管家式托管经营服务!</p>
                <p>采用”5省1优1高“的模式，即帮您省事、省时、省力、省心 、省钱，优化店铺，提高利润。</p>
                <p>店来店往代运营以电商卖家运营为出发点，为电商客户提供网店托管、推广运营、店铺装修、品牌策划、人才招聘等各种服务，为网店提升效率，获得更大利润。</p>
                <p>店来店往代运营于2017年11月正式上线。致力于让电商创业不再那么辛苦，轻松成为细分品类的领导品牌！</p>
            </div>
        </div>
        <div class="yy-zz">
            <div class="container clearfix">
                <div class="pull-left">
                    <div class="yy-zz-tt wow bounceInDown animated"><span>代运营</span>服务宗旨</div>
                    <div class="yy-zz-txt wow bounceInDown animated">以创客精神，热爱您的事业，<br>为您的店铺负责到底!</div>
                    <div class="yy-zz-lind"></div>
                </div>
                <div class="pull-right wow bounceInRight animated"><img src="public/khshop/images/yy05.png"></div>
            </div>
        </div>
    </div>
    <div class="container yy-nc">
        <div class="yy-title wow bounceInDown animated"><span>自己运营店铺的难处</span></div>
        <div class="yy-title-sm text-center wow bounceInDown animated">THE DIFFICULTY OF RUNNING A SHOP</div>
        <div class="yy-title-lind"></div>
        <div class="yy-back clearfix">
            <div class="yy-back-img"></div>
            <ul class="yy-list pull-left  wow bounceInLeft animated">
                <li><span>1. 经验问题：</span>自己学习，耗时且效率低。</li>
                <li><span>2. 人才问题：</span>自己组建团队，很难招聘到合适人才。</li>
                <li><span>3. 规模大小：</span>人运营，无论是能力还是精力都跟不上。</li>
                <li><span>4. 拍卖情况：</span>不懂排名优化，靠烧钱投广告，风险大。</li>
                <li><span>5. 知名度：</span>不懂淘宝规则，错失很多机会。</li>
            </ul>
            <ul class="yy-list pull-right wow bounceInRight animated">
                <li><span>6. 案例数量：</span>运营店铺没有起色，找不到解决办法。</li>
                <li><span>7. 运营能力：</span>无法保证效果，整体效率低。</li>
                <li><span>8. 淘宝认证：</span>不懂运营，容易陷入价格战。</li>
                <li><span>9. 合作模式：</span>病急乱投医，错信没实力的公司，雪上加霜。</li>
                <li><span>10. 内部资源：</span>没有淘宝内部流量资源，成本高。</li>
            </ul>
        </div>
    </div>
    <div class="back-f9">
        <div class="container yy-nc">
            <div class="yy-title wow bounceInDown animated"><span>当您店铺出现以下困惑 , 您可以考虑代运营</span></div>
            <div class="yy-title-sm text-center wow bounceInDown animated">SHOPS ARE CONFUSED ALTERNATIVE OPERATION</div>
            <div class="yy-title-lind"></div>   
            <div class="row yy-row text-center">
                <div class="pull-left">
                    <div class="yy-back-b wow flipInX animated">
                        <div class="yy-back-icon"><img src="public/khshop/images/yy08.png"></div>
                        <div class="yy-bottom-tt">团队乱</div>
                        <div class="yy-bottom-lind"></div>
                        <div class="yy-bottom-txt">人才短缺，人员流动大，<br>运营团队充满变化</div>
                    </div>
                </div>
                <div class="pull-left">
                    <div class="yy-back-b wow bounceInLeft animated">
                        <div class="yy-back-icon"><img src="public/khshop/images/yy07.png"></div>
                        <div class="yy-bottom-tt">效率低</div>
                        <div class="yy-bottom-lind"></div>
                        <div class="yy-bottom-txt">员工无创客精神，分工不清，<br>管理不明，执行力弱</div>
                    </div>
                </div>
                <div class="pull-left">
                    <div class="yy-back-b wow bounceInDown animated">
                        <div class="yy-back-icon"><img src="public/khshop/images/yy09.png"></div>
                        <div class="yy-bottom-tt">专业弱</div>
                        <div class="yy-bottom-lind"></div>
                        <div class="yy-bottom-txt">不懂规则，缺乏经验，<br>运营布局总是错失良机</div>
                    </div>
                </div>
                <div class="pull-left">
                    <div class="yy-back-b wow bounceInUp animated">
                        <div class="yy-back-icon"><img src="public/khshop/images/yy10.png"></div>
                        <div class="yy-bottom-tt">成本高</div>
                        <div class="yy-bottom-lind"></div>
                        <div class="yy-bottom-txt">人工上涨，利润下滑，<br>投入产出已经大不如从前</div>
                    </div>
                </div>
                <div class="pull-left">
                    <div class="yy-back-b wow bounceInRight animated">
                        <div class="yy-back-icon"><img src="public/khshop/images/yy11.png"></div>
                        <div class="yy-bottom-tt">店铺多</div>
                        <div class="yy-bottom-lind"></div>
                        <div class="yy-bottom-txt">扩大生意，店铺多管不过来，<br>西瓜芝麻都想要，力不从心</div>
                    </div>
                </div>
            </div>
            <div class="yy-btn-c">
            <a role="button" class="btn-yy-zx">在线咨询</a>
            <a role="button" data-toggle="modal" data-target="#yy-xq" class="btn-yy-zx btn-yy-xq">提交需求</a>
        </div>
    </div>
    </div>
    <!--footer-->
        <div class="modal fade" id="yy-xq" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-close" data-dismiss="modal" aria-label="Close"><i class="icon"></i></div>
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="modal-tt text-center">在线提交需求信息</div>
                        <form method="post" action="index.php?p=show&c=index&a=dyy">
                        <div class="yy-modal-c">
                            <input name="name" type="text" class="form-control qq-input" placeholder="姓       名：">
                            <input name="tel" type="text" class="form-control qq-input" placeholder="手机号码：">
                            <input name="dpm" type="text" class="form-control qq-input" placeholder="店  铺  名： ">
                            <textarea name="content" class="form-control qq-input" placeholder="需求描述："></textarea>
                            <button type="button" id="tj" class="btn btn-qq">提交</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
            <?php include CUR_VIEW_PATH."Spublic/foot.html";?>

</body> 
<script src="public/khshop/js/jquery.min.js"></script>
<script src="public/khshop/js/bootstrap.min.js"></script>
<script src="public/khshop/js/common.js"></script>
<script src="public/khshop/js/wow.min.js"></script>
<script>
if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
	new WOW().init();
};
$('#id').children('li').prop('class','');

$('#tj').click(function () {

    var tel=$('input[name=tel]').val();
    var name=$('input[name=name]').val();
    var reg = /^1[34578]\d{9}$/;
    var reg1=/^[1-9][0-9]{4,9}$/;
    if (reg.test(tel)){
            if (name!=''){
                $('form').submit();
            }else {
                alert('请输入姓名')
            }
    }else{
        alert('请正确输入手机号码')
    }

});
</script>
</html>