<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>企业服务-企业变更服务</title>

    <!-- Bootstrap -->
    <link href="public/khshop/css/bootstrap.css" rel="stylesheet">
    <link href="public/khshop/css/animate.min.css" rel="stylesheet">
    <link href="public/khshop/css/css.css" rel="stylesheet">
</head>
<body>
<header>
    <?php include CUR_VIEW_PATH."Spublic/qiye_header.html";?>
</header>
    <div class="fw-banner bg-banner">
    	<div class="container">
            <div class="fw-banner-tt wow bounceInLeft animated">企业变更服务</div>
            <div class="fw-lind wow bounceInRight animated"><img src="public/khshop/images/fw02.png"></div>
            <div class="fw03 wow bounceInUp animated"><img src="public/khshop/images/bg01.png"></div>
        </div>
    </div>
    <div class="back-f9">
        <div class="container">
            <div class="yy-nav text-right">当前位置：<span>网店代运营</span></div>
            <div class="rz-top yy-top fw-top bg-top">
                <div class="clearfix bg-clearfix">
                    <div class="pull-left bg-tt">地区</div>
                    <ul class="pull-left dq-list clearfix" id="a">
                        <li><a href="">请选择</a></li>
                        <li><a href="">请选择</a></li>
                    </ul>
                    <ul class="pull-left dq-list clearfix">
                        <li id="ql"><a  class="dq-btn">重置</a></li>
                    </ul>
                </div>
                <div class="clearfix bg-clearfix">
                    <div class="pull-left bg-tt bg-tt-sm">选择省：</div>
                    <ul class="pull-left purchase-ul dq-list dq-list02 clearfix" id="b">
                        <?php foreach($sheng as $v): ?>
                        <li><a role="button" ><?=$v['diqu']?></a></li>
                       <?php endforeach; ?>
                    </ul>
                </div>
                <div class="clearfix">
                    <div class="pull-left bg-tt bg-tt-sm">选择市区：</div>
                    <ul class="pull-left purchase-ul dq-list dq-list02 clearfix" id="c">
                        <?php foreach($shi as $v): ?>
                        <li><a role="button"><?=$v['diqu']?></a></li>
                        <?php endforeach; ?>
                    </ul>
                </div>
                <div class="bg-back">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="bg-back-tt active" name="q" id="<?=$A['id']?>"><span>A</span>套餐</div>
                            <div class="bg-back-txt" name="a"><?=$A['fwxq']?></div>
                            <div class="clearfix">
                                <div class="bg-back-money pull-left"><span><?=$A['jiage']?></span>元</div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="bg-back-tt" name="w" id="<?=$B['id']?>"><span>B</span>套餐</div>
                            <div class="bg-back-txt" name="s"><?=$B['fwxq']?></div>
                            <div class="clearfix">
                                <div class="bg-back-money pull-left"><span><?=$B['jiage']?></span>元</div>
                                <div class="bg-back-money-yh pull-left">优惠<span><?=$B['youhui']?></span>元</div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="bg-back-tt" name="e" id="<?=$C['id']?>"><span>C</span>套餐</div>
                            <div class="bg-back-txt" name="d"><?=$C['fwxq']?></div>
                            <div class="clearfix">
                                <div class="bg-back-money pull-left"><span><?=$C['jiage']?></span>元</div>
                                <div class="bg-back-money-yh pull-left">优惠<span><?=$C['youhui']?></span>元</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-car">
                <div class="clearfix">
                    <div class="bg-icon pull-left">加入购物车</div>
                    <div class="pull-left">
                        <div class="relative bg-car-input"><span id="d">套餐A</span> (<name id="f"></name>-<name id="g"></name>)<a role="button" class="icon"></a></div>
                        <div class="bg-jz" name="f">企业变更（含工商、税务、银行变更）</div>
                    </div>
                    <form method="post" action="?c=user&a=common&type=3">
                    <div class="pull-right">
                        <div class="pull-left bg-hj"><span>小计：</span><span class="lg" id="xj">1000</span><span>元</span></div>
                        <div class="pull-left">
                            <div class="bg-btn-c clearfix">
                                <button  class="btn btn-bg" id="js">去结算</button>
                                <a href="" class="btn btn-bg btn-bg02">免费咨询</a>
                            </div>
                             <div class="checkbox fw-checkbox">
                                <label>
                                  <input type="checkbox" id="xy"> 我已阅读并同意《<a href="">“企业服务”服务协议</a>》
                                </label>
                            </div>
                        </div>
                    </div>
                        <input type="hidden" name="province" id="province">
                        <input type="hidden" name="city" id="city">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container fw-zm bg-lc">
        <div class="yy-title"><span>服务流程</span></div>
        <div class="yy-title-sm text-center">支付订单后企业服务人员将第一时间联系到您，并向您索取以下资料及提供服务</div>
        <div class="row">
            <div class="col-xs-6">
                <div class="clearfix">
                    <div class="bg-number pull-left">1</div>
                    <div class="pull-left bg-number-txt">公司注册号以及执照地址信息；</div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="clearfix">
                    <div class="bg-number pull-left">2</div>
                    <div class="pull-left bg-number-txt">原 (法人，股东，监事人)证件信息以及持股比例；</div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="clearfix">
                    <div class="bg-number pull-left">3</div>
                    <div class="pull-left bg-number-txt">新 (法人，股东，监事人)证件信息以及持股比例；</div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="clearfix">
                    <div class="bg-number pull-left">4</div>
                    <div class="pull-left bg-number-txt">工商变更三证合一（包含营业执照 税务登记证 组织机构代码证）；</div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="clearfix">
                    <div class="bg-number pull-left">5</div>
                    <div class="pull-left bg-number-txt">税务变更；</div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="clearfix">
                    <div class="bg-number pull-left">6</div>
                    <div class="pull-left bg-number-txt">银行开户许可证受理、换证（个别地区需自行办理）；</div>
                </div>
            </div>
        </div>
    </div>
    <div class="back-f9">
    <div class="container bg-zm">
        <div class="yy-title"><span>注明</span></div>
        <div class="yy-title-sm text-center">CHANGE SERVICE NOTE</div>
        <div class="clearfix">
            <div class="bg-zm-img pull-left"><img src="public/khshop/images/bg04.png"></div>
            <div class="pull-left bg-zm-txt">
                <p>1. 因各地区域政策不同，变更所需资料并不一致，具体要求在电话联系确认后为准；</p>
                <p>2. 以上价格不包含变更过程中产生的工本费、公证费、印花税及需更换公司地址的费用，详情可咨询企业服务人员；</p>
                <p>3. 购买代理记账服务需多提供企业基础证件的复印件、企业CA证书、报税密码、交接企业原财务账目等；</p>
                <p>4. 购买企业变更加1年代理记账套餐可享受变更费用优惠；</p>
                <p>5. 依据客户所提供的发票、税务凭证等资料信息进行记账报税，若因所提供资料信息的真实性产生问题，皆由客户自行承担；</p>
                <p>6. 若开票数量较多，会视各区域行情每月多增加一定的代理费用、详情可咨询企业服务人员。</p>
            </div>
        </div>
    </div>
    </div>
    <!--footer-->

    <?php include CUR_VIEW_PATH."Spublic/foot.html";?>

</body> 
<script src="public/khshop/js/jquery.min.js"></script>
<script src="public/khshop/js/bootstrap.min.js"></script>
<script src="public/khshop/js/common.js"></script>
<script src="public/khshop/js/wow.min.js"></script>
<script>
if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
	new WOW().init();
};
$('#id').children('li').prop('class','');



$('#b').children('li').click(function () {
    var a=$(this).text();
    $('#a').children('li:first').children('a').text(a);
    $('#f').text(a);
    $('#province').val(a);
});
//++++++
$('#c').children('li').click(function () {
    var a=$(this).text();
    $('#a').children('li:not(:first)').children('a').text(a);
    $('#g').text(a);
    $('#city').val(a);
});

//-----
$('#ql').click(function () {
    $('#a').children('li:first').children('a').text('请选择');
    $('#a').children('li:not(:first)').children('a').text('请选择');

    $('#b').children('li').children('a').prop('class','');
    $('#c').children('li').children('a').prop('class','');

//    $('#b').children('li:eq(5)').children('a').prop('class','active');
//    $('#c').children('li:eq(0)').children('a').prop('class','active');

    $('#f').text('请选择');
    $('#g').text('请选择');

    $('#province').val('请选择');
    $('#city').val('请选择');
});

$('div[name=q]').click(function () {
   var a=$(this).text();
   var b=$('div[name=a]').text();
   $('div[name=f]').text(b);
   $('#d').text(a);
   $('#xj').text(1000);
   $('#price').val(1000);
   $('#detail').val(b);
})

$('div[name=w]').click(function () {
    var a=$(this).text();
    var b=$('div[name=s]').text();
    $('div[name=f]').text(b);
    $('#d').text(a);
    $('#xj').text(3200);
    $('#price').val(3200);
    $('#detail').val(b);
})

$('div[name=e]').click(function () {
    var a=$(this).text();
    var b=$('div[name=d]').text();
    $('div[name=f]').text(b);
    $('#d').text(a);
    $('#xj').text(5800);
    $('#price').val(5800);
    $('#detail').val(b);
})

    $('#js').click(function () {
        if (!$("#f").text()||!$("#g").text()){
            alert("请选择城市"); return false;
        }
        if ($('#xy').is(":checked")==false){
            alert("请认真读取协议"); return false;
        }
        var a=$('.bg-back-tt.active').prop('id');
        var url = "?c=user&a=common&type=3&id="+a;
        $("form").attr("action",url);
    })

</script>
</html>