<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>帮助中心-在线问答详情</title>

    <!-- Bootstrap -->
    <link href="public/khshop/css/bootstrap.css" rel="stylesheet">
    <link href="public/khshop/css/animate.min.css" rel="stylesheet">
    <link href="public/khshop/css/css.css" rel="stylesheet">
</head>
<body>
<header>
    <?php include CUR_VIEW_PATH."Spublic/header.html";?>
</header>
	<div class="service-banner">
    	<div class="container">
        	<div class="service-banner-c  text-center wow bounceInUp animated">
            	<div class="service-banner-tt">服务市场</div>
                <div class="service-tt-sm">汇聚行业优质电商服务专家</div>
                <div class="servicr-tt-xs">所有服务商均实地查看，确保安全可靠!</div>
                <a role="button" data-toggle="modal" data-target="#service" class="btn btn-g btn-g02 btn-service">服务商入驻</a>
            </div>
        </div>
    </div>
    <div class="back-f9">
    	<div class="container">
            <div class="sell-border service-border">
				<div class="sell-nav">
                	当前位置：<a href="">首页</a> &gt; <a href="" class="active">服务市场</a>
                </div>
                <div class="service-tt"><i class="icon service-i"></i>教育培训<span>Education and training</span></div>
                <div class="clearfix service-row">
                     <?php foreach($jy as $v): ?>
                	<div class="col-xs-3">
                    	<a href="<?=$v['lianjie']?>" class="service-link"><img src="<?=$v['tupian']?>"></a>
                    </div>
                     <?php endforeach; ?>

                </div>	
                <div class="service-tt"><i class="icon service-i service-i02"></i>软件服务<span>Software service</span></div>
                <div class="clearfix service-row">
                    <?php foreach($rj as $v): ?>
                    <div class="col-xs-3">
                        <a href="<?=$v['lianjie']?>" class="service-link"><img src="<?=$v['tupian']?>"></a>
                    </div>
                    <?php endforeach; ?>
                </div>	
                <div class="service-tt"><i class="icon service-i service-i03"></i>电商ERP<span>Electricity supplier ERP</span></div>
                <div class="clearfix service-row">

                    <?php foreach($ds as $v): ?>
                    <div class="col-xs-3">
                        <a href="<?=$v['lianjie']?>" class="service-link"><img src="<?=$v['tupian']?>"></a>
                    </div>
                    <?php endforeach; ?>

                </div>
                <div class="service-tt"><i class="icon service-i service-i04"></i>网店装修<span>Electricity supplier ERP</span></div>
                <div class="clearfix service-row">

                    <?php foreach($wd as $v): ?>
                    <div class="col-xs-3">
                        <a href="<?=$v['lianjie']?>" class="service-link"><img src="<?=$v['tupian']?>"></a>
                    </div>
                    <?php endforeach; ?>

                </div>
                <div class="service-tt"><i class="icon service-i"></i>电商招聘<span>E-commerce recruitment</span></div>
                <div class="clearfix service-row">

                    <?php foreach($zp as $v): ?>
                    <div class="col-xs-3">
                        <a href="<?=$v['lianjie']?>" class="service-link"><img src="<?=$v['tupian']?>"></a>
                    </div>
                    <?php endforeach; ?>

                </div>
            </div>
            <div class="service-btn-c">
                <button type="button" data-toggle="modal" data-target="#service02" class="btn btn-sell-l btn-phone"><i class="icon"></i>商务合作</button>
                <button type="button" class="btn btn-sell-l btn-sell-l02"><i class="icon"></i>在线咨询</button>
            </div>
        </div>
    </div>
    <!--footer-->
    <?php include CUR_VIEW_PATH."Spublic/foot.html";?>

</body> 
<script src="public/khshop/js/jquery.min.js"></script>
<script src="public/khshop/js/bootstrap.min.js"></script>
<script src="public/khshop/js/common.js"></script>
<script src="public/khshop/js/wow.min.js"></script>
<script>
if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
	new WOW().init();
};
</script>

<script>
//营业执照上传
$(function(){
	$("input[type=file]").change(function(){$(this).parents(".uploader").find(".filename").val($(this).val());});
	$("input[type=file]").each(function(){
	if($(this).val()==""){$(this).parents(".uploader").find(".filename").val("营业执照");}
	});


    $('#id').children('li').prop('class','');
});
</script>
</html>