<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
    <link href="public/khshop/css/bootstrap.css" rel="stylesheet">
    <link href="public/khshop/css/animate.min.css" rel="stylesheet">
    <link href="public/khshop/css/css.css" rel="stylesheet">
</head>
<body>
<header>
    <?php include CUR_VIEW_PATH."Spublic/header.html";?>
</header>

    <div class="banner">
    	<div class="container">
        	<div class="banner-tt wow bounceInLeft animated">网店转让 <span>就在店来店往</span></div>
            <div class="banner-tt-sm wow bounceInRight animated">法律护航，服务至上！打造专业网店转让中介平台！</div>
            <div class="clearfix wow bounceInRight animated">
            	<a href="index.php?p=show&c=buy&a=sale" class="btn btn-sell"><i class="icon"></i>出售网店</a>
                <a href="index.php?p=show&c=index&a=qita" class="btn btn-sell btn-shop"><i class="icon"></i>购买网店</a>
            </div>
            <div class="search-c">
            	<ul class="clearfix search-list" id="tj">
                	<li class="active"><a role="button">天猫商城</a></li>
                    <li><a role="button">天猫新店</a></li>
                    <li><a role="button">淘宝网店</a></li>
                    <li><a role="button">京东商城</a></li>
                    <li><a role="button">企业店铺</a></li>
                    <li><a role="button">其他商城</a></li>
                </ul>
                <form method="post" action="index.php?p=show&c=index&a=search1">
                <div class="search-w clearfix">
                    <input id="t" type="hidden" name="t1" value="天猫商城">
                	<input name="t2" type="text" class="form-control input-search" placeholder="大家都在搜： 服装  数码产品    家居  运动户外  企业店铺" />
                    <button type="submit" class="btn btn-search"><i class="glyphicon glyphicon-search"></i></button>
                </div>
                </form>
            </div>
        </div>
        <div class="banner-bottom">
        	<div class="container">
            	<div class="row">
                	<div class="col-xs-4 clearfix">
                    	<i class="icon icon-number01"></i>
                        <div class="number-tt">交易店铺</div>
                        <div class="number-txt"><span>35,609</span>个</div>
                    </div>
                	<div class="col-xs-4 clearfix">
                    	<i class="icon icon-number01 icon-number02"></i>
                        <div class="number-tt">交易金额</div>
                        <div class="number-txt"><span>8,935,764</span>个</div>
                    </div>
                	<div class="col-xs-4 clearfix">
                    	<i class="icon icon-number01 icon-number03"></i>
                        <div class="number-tt">在售店铺</div>
                        <div class="number-txt"><span>75,230</span>个</div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="back-c">
    	<div class="container">
        	<div class="clearfix">
            	<div class="pull-left list-tt">网店类型</div>
                <ul class="list-icon pull-left clearfix" id="lx">
                	<li class="clearfix active"><a href="#list01" aria-controls="list01" role="tab" data-toggle="tab"><i class="icon icon-list01"></i>天猫商城</a></li>
                    <li class="clearfix"><a href="#list02" aria-controls="list02" role="tab" data-toggle="tab"><i class="icon icon-list02"></i>淘宝商城</a></li>
                    <li class="clearfix"><a href="#list03" aria-controls="list03" role="tab" data-toggle="tab"><i class="icon icon-list03"></i>京东商城</a></li>
                    <li class="clearfix"><a href="#list04" aria-controls="list04" role="tab" data-toggle="tab"><i class="icon icon-list04"></i>蘑菇街</a></li>
                    <li class="clearfix"><a href="#list05" aria-controls="list05" role="tab" data-toggle="tab"><i class="icon icon-list05"></i>苏宁易购</a></li>
                </ul>
                <a href="index.php?p=show&c=index&a=qita" class="list-more">更多类型<span>···</span></a>
            </div>
              <!-- Tab panes -->
            <div class="tab-content list-back">
                <div role="tabpanel" class="tab-pane active" id="list01">
                    <div id="aaa" class="area text-center">
                        <div class="cons">
                            <div class="con con01" style="left: 0px;" id="lx1"><!--调整第一个显示位置请修改"left:0px;的值" -->

                                <?php foreach($tm as $v): ?>
                                <a class="<?=$v['tubiao']?>" href="<?=$v['url']?>" >
                                    <div class="img-icon"><img src="<?=$v['img']?>"></div>
                                    <div class="icon-txt"><?=$v['biaoti']?></div>
                                </a>
                                <?php endforeach; ?>

                                
                            </div>
                        </div>
                        <div class="btns btns01"><a href="javascript:void(0)" class="up up01"></a><a href="javascript:void(0)" class="down down01"></a></div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="list02">
                    <div id="bbb" class="area text-center">
                        <div class="cons cons02">
                            <div class="con con02" style="left: 0px;"><!--调整第一个显示位置请修改"left:0px;的值" -->
                                <?php foreach($tb as $v): ?>
                                <a class="<?=$v['tubiao']?>" href="<?=$v['url']?>" >
                                    <div class="img-icon"><img src="<?=$v['img']?>"></div>
                                    <div class="icon-txt"><?=$v['biaoti']?></div>
                                </a>
                                <?php endforeach; ?>

                            </div>
                        </div>
                        <div class="btns btns02"><a href="javascript:void(0)" class="up up02"></a><a href="javascript:void(0)" class="down down02"></a></div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="list03">
                    <div id="ccc" class="area text-center">
                        <div class="cons cons3">
                            <div class="con con03" style="left: 0px;"><!--调整第一个显示位置请修改"left:0px;的值" -->


                                <?php foreach($jd as $v): ?>
                                <a class="<?=$v['tubiao']?>" href="<?=$v['url']?>" >
                                    <div class="img-icon"><img src="<?=$v['img']?>"></div>
                                    <div class="icon-txt"><?=$v['biaoti']?></div>
                                </a>
                                <?php endforeach; ?>



                            </div>
                        </div>
                        <div class="btns btns03"><a href="javascript:void(0)" class="up up03"></a><a href="javascript:void(0)" class="down down03"></a></div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="list04">
                    <div id="ddd" class="area text-center">
                        <div class="cons cons04">
                            <div class="con con04" style="left: 0px;"><!--调整第一个显示位置请修改"left:0px;的值" -->


                                <?php foreach($mgj as $v): ?>
                                <a class="<?=$v['tubiao']?>" href="<?=$v['url']?>" >
                                    <div class="img-icon"><img src="<?=$v['img']?>"></div>
                                    <div class="icon-txt"><?=$v['biaoti']?></div>
                                </a>
                                <?php endforeach; ?>


                            </div>
                        </div>
                        <div class="btns btns04"><a href="javascript:void(0)" class="up up04"></a><a href="javascript:void(0)" class="down down04"></a></div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="list05">
                    <div id="eee" class="area text-center">
                        <div class="cons cons05">
                            <div class="con con05" style="left: 0px;"><!--调整第一个显示位置请修改"left:0px;的值" -->


                                <?php foreach($snyg as $v): ?>
                                <a class="<?=$v['tubiao']?>" href="<?=$v['url']?>" >
                                    <div class="img-icon"><img src="<?=$v['img']?>"></div>
                                    <div class="icon-txt"><?=$v['biaoti']?></div>
                                </a>
                                <?php endforeach; ?>


                            </div>
                        </div>
                        <div class="btns btns05"><a href="javascript:void(0)" class="up up05"></a><a href="javascript:void(0)" class="down down05"></a></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="pull-left news-tt"><i class="icon"></i>公告</div>
                    <div id="carousel-example-vertical" class="carousel vertical slide pull-left">
                      <div class="carousel-inner" role="listbox">
                        <!--<div class="item active"><a target="_blank" href="">店来店往2017国庆节放假通知往2017国庆节放假通往2017国庆节放假通.</a></div>-->
                          <?php foreach($gonggao as $v): ?>
                        <div id="q" class="item"><a target="_blank" href=""><?=$v['gg']?></a></div>
                          <?php endforeach; ?>
                      </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="pull-left news-tt"><i class="icon"></i>指南</div>
                    <div id="carousel-example-vertical" class="carousel vertical slide pull-left">
                      <div class="carousel-inner" role="listbox">
                          <?php foreach($zhinan as $v): ?>
                          <div id="w" class="item"><a target="_blank" href=""><?=$v['zn']?></a></div>
                          <?php endforeach; ?>
                      </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="pull-left news-tt"><i class="icon"></i>问答</div>
                    <div id="carousel-example-vertical" class="carousel vertical slide pull-left">
                      <div class="carousel-inner" role="listbox">
                          <?php foreach($wenda as $v): ?>
                          <div id="e" class="item"><a target="_blank" href=""><?=$v['wd']?></a></div>
                          <?php endforeach; ?>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="back-tow over-hidden">
        <div class="container">
            <div class="row text-center">
                <div class="col-xs-4 wow bounceInRight animated">
                    <div class="img-c"><img src="public/khshop/images/img01.png"></div>
                    <div class="img-tt">走进店来店往</div>
                    <div class="img-txt">通过我们的专业水平和不懈努力，为广大客户提供专业放心的服务......</div>
                    <a href="" class="btn img-more">查看更多</a>
                </div>
                <div class="col-xs-4 wow bounceInUp animated">
                    <div class="img-c"><img src="public/khshop/images/img02.png"></div>
                    <div class="img-tt">服务项目</div>
                    <div class="img-txt">网店转让服务、商城代入驻服务、网店代理服务、网店运营指导......</div>
                    <a href="" class="btn img-more">查看更多</a>
                </div>
                <div class="col-xs-4 wow bounceInLeft animated">
                    <div class="img-c"><img src="public/khshop/images/img03.png"></div>
                    <div class="img-tt">网店交易流程</div>
                    <div class="img-txt">请仔细阅读网店交易流程指南，如有疑问请电话或联系在线客服.....</div>
                    <a href="" class="btn img-more">查看更多</a>
                </div> 
            </div>
            <div class="shop-back clearfix">
                <div class="pull-left shop-back-left">
                    <div class="shop-back-tt clearfix"><i class="icon"></i>网店估价<span>（淘宝&天猫)</span></div>
                    <div class="shop-back-form">
                        <input type="text" class="form-control" placeholder="请输入店铺地址或旺旺账号">
                        <input type="text" class="form-control" placeholder="请输入手机号码">
                    </div>
                    <div class="help-txt"><span>温馨提示：</span><br>此价格仅作为您店铺出售参考价格，具体的店铺出售价格由您自行决定！</div>
                    <button type="button" class="btn btn-g">估一下</button>
                </div>
                <div class="pull-left shop-back-right">
                    <div class="shop-back-tt clearfix"><i class="icon"></i>估价结果</div>
                    <div class="shop-back-border">
                        <div class="shop-back-r-tt">亲爱的掌柜：<br>根据你店铺信息计算，综合评估店铺价值为</div>
                        <div class="clearfix">
                            <div class="pull-left money-i">¥</div>
                            <div class="pull-left money-border">****</div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="pull-left share-left">分享我的网店</div>
                        <div class="pull-left">
                            <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
                            <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
							</script>
                        </div>
                    </div>
                    <button onclick="location.href='index.php?p=show&c=buy&a=sale'" type="button" class="btn btn-g btn-g02">我要出售网店</button>
                </div>
            </div>
        </div>
    </div>
    </span>
    <div class="container boutique clearfix">
    	<div class="pull-left boutique-width">
        	<div class="boutique-tt"><i class="icon"></i>精品网店</div>
            <div class="tab-back">
            	<div class="tab-back-c active">
                	<a href="#show-tab01" class="tab-back-tt active">天猫商城<i class="icon"></i></a>
                    <ul class="tab-back-list clearfix" style="display:block">
                    	<li><a href="index.php?p=show&c=index&a=search3&t1=天猫商城&t2=旗舰店">旗舰店</a></li>
                        <li><a href="index.php?p=show&c=index&a=search3&t1=天猫商城&t2=专营店">专营店</a></li>
                        <li><a href="index.php?p=show&c=index&a=search3&t1=天猫商城&t2=专卖店">专卖店</a></li>
                        <li><a href="index.php?p=show&c=index&a=search3&t1=天猫商城&t2=R">R商标</a></li>
                        <li><a href="index.php?p=show&c=index&a=search3&t1=天猫商城&t2=TM">TM商标</a></li>
                        <li><a href="index.php?p=show&c=index&a=search3&t1=天猫商城&t2=供销平台">供销平台</a></li>
                    </ul>
                </div>
            	<div class="tab-back-c">
                	<a href="#show-tab02" class="tab-back-tt">淘宝网店<i class="icon"></i></a>
                    <ul class="tab-back-list clearfix" style="display:none">
                    	<li><a href="index.php?p=show&c=index&a=search3&t1=淘宝网店&t2=旗舰店">旗舰店</a></li>
                        <li><a href="index.php?p=show&c=index&a=search3&t1=淘宝网店&t2=专营店">专营店</a></li>
                        <li><a href="index.php?p=show&c=index&a=search3&t1=淘宝网店&t2=专卖店">专卖店</a></li>
                        <li><a href="index.php?p=show&c=index&a=search3&t1=淘宝网店&t2=R">R商标</a></li>
                        <li><a href="index.php?p=show&c=index&a=search3&t1=淘宝网店&t2=TM">TM商标</a></li>
                        <li><a href="index.php?p=show&c=index&a=search3&t1=淘宝网店&t2=供销平台">供销平台</a></li>
                    </ul>
                </div>
            	<div class="tab-back-c">
                	<a href="#show-tab03" class="tab-back-tt">京东商城<i class="icon"></i></a>
                    <ul class="tab-back-list clearfix" style="display:none">
                    	<li><a href="index.php?p=show&c=index&a=search3&t1=京东商城&t2=旗舰店">旗舰店</a></li>
                        <li><a href="index.php?p=show&c=index&a=search3&t1=京东商城&t2=专营店">专营店</a></li>
                        <li><a href="index.php?p=show&c=index&a=search3&t1=京东商城&t2=专卖店">专卖店</a></li>
                        <li><a href="index.php?p=show&c=index&a=search3&t1=京东商城&t2=R">R商标</a></li>
                        <li><a href="index.php?p=show&c=index&a=search3&t1=京东商城&t2=TM">TM商标</a></li>
                        <li><a href="index.php?p=show&c=index&a=search3&t1=京东商城&t2=供销平台">供销平台</a></li>
                    </ul>
                </div>
            	<div class="tab-back-c">
                	<a href="#show-tab05" class="tab-back-tt">蘑菇街<i class="icon"></i></a>
                    <ul class="tab-back-list clearfix" style="display:none">
                    	<li><a href="index.php?p=show&c=index&a=search3&t1=蘑菇街&t2=旗舰店">旗舰店</a></li>
                        <li><a href="index.php?p=show&c=index&a=search3&t1=蘑菇街&t2=专营店">专营店</a></li>
                        <li><a href="index.php?p=show&c=index&a=search3&t1=蘑菇街&t2=专卖店">专卖店</a></li>
                        <li><a href="index.php?p=show&c=index&a=search3&t1=蘑菇街&t2=R">R商标</a></li>
                        <li><a href="index.php?p=show&c=index&a=search3&t1=蘑菇街&t2=TM">TM商标</a></li>
                        <li><a href="index.php?p=show&c=index&a=search3&t1=蘑菇街&t2=供销平台">供销平台</a></li>
                    </ul>
                </div>
            	<div class="tab-back-c">
                	<div class="tab-back-tt">其他网店<i class="icon"></i></div>
                    <ul class="tab-back-list clearfix" style="display:none">
                    	<li><a href="index.php?p=show&c=index&a=search3&t1=其他网店&t2=旗舰店">旗舰店</a></li>
                        <li><a href="index.php?p=show&c=index&a=search3&t1=其他网店&t2=专营店">专营店</a></li>
                        <li><a href="index.php?p=show&c=index&a=search3&t1=其他网店&t2=专卖店">专卖店</a></li>
                        <li><a href="index.php?p=show&c=index&a=search3&t1=其他网店&t2=R">R商标</a></li>
                        <li><a href="index.php?p=show&c=index&a=search3&t1=其他网店&t2=TM">TM商标</a></li>
                        <li><a href="index.php?p=show&c=index&a=search3&t1=其他网店&t2=供销平台">供销平台</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pull-right jp-width">
        	<div id="show-tab01" class="show-tab-c active">
                <div id="slide-show01" class="carousel slide slide-show">
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <ul class="shop-tab clearfix">
                            <li><a class="active" href="#tabs01" onclick="location.href='abc.html';">服装饰品</a></li>
                            <li><a href="#tabs02" onclick="location.href='abc.html';">家居用品</a></li>
                            <li><a href="#tabs03" onclick="location.href='abc.html';">家装家饰</a></li>
                            <li><a href="#tabs04" onclick="location.href='abc.html';">美容护理</a></li>
                            <li><a href="#tabs05" onclick="location.href='abc.html';">母婴用品</a></li>
                            <li><a href="#tabs06">3C数码类</a></li>
                            <li><a href="#tabs07">运动户外</a></li>
                            <li class="border-no"><a href="#tabs08">食品保健</a></li>
                        </ul>
                    </div>
                    <div class="item">
                        <ul class="shop-tab clearfix">
                            <li><a href="#tabs09">服装饰品</a></li>
                            <li><a href="#tabs10">家居用品</a></li>
                            <li><a href="#tabs11">家装家饰</a></li>
                            <li><a href="#tabs12">美容护理</a></li>
                            <li><a href="#tabs13">母婴用品</a></li>
                            <li><a href="#tabs14">3C数码类</a></li>
                            <li><a href="#tabs15">运动户外</a></li>
                            <li class="border-no"><a href="#tabs16">食品保健</a></li>
                        </ul>
                    </div>
                  </div>
                
                  <!-- Controls -->
                  <a class="left carousel-control" href="#slide-show01" role="button" data-slide="prev">
                    <
                  </a>
                  <a class="right carousel-control" href="#slide-show01" role="button" data-slide="next">
                    >
                  </a>
                </div>
                  <!-- Tab panes -->
                  <div class="tab-content tab-shop-container">
                    <div role="tabpanel" class="tab-pane active" id="tabs01">
                        <div class="shop-tt clearfix">
                            <i class="icon"></i>
                            <div class="shop-tt-txt">江浙沪地区京东车品专营店低价诚心出售，自带TM标和公司一起转让 ，需要的亲联系客服哦</div>
                        </div>
                        <div class="clearfix shop-tab-b">
                            <div class="pull-left shop-change">网店类型：<span>淘宝旗舰店</span></div>
                            <div class="pull-left shop-change">店铺等级：<span>3冠</span><i class="icon icon-hg"></i><i class="icon icon-hg"></i><i class="icon icon-hg"></i></div>
                            <div class="pull-left shop-change">店铺等级：<span>服装饰品</span></div>
                            <div class="pull-left shop-change shop-change-last">收藏人气：<span>> 5000</span></div>
                        </div>
                        <div class="clearfix">
                            <div class="pull-left">
                                <div class="money-t">售价</div>
                                <div class="money-b">¥<span>36,8000</span></div>
                            </div>
                            <div class="pull-right">
                                <a href="" class="btn btn-sc"><i class="icon"></i>收藏</a>
                                <a role="button" data-toggle="modal" data-target="#kefu" class="btn btn-sc btn-kefu"><i class="icon"></i>联系客服</a>
                            </div>
                        </div> 
                    </div>
                    <div role="tabpanel" class="tab-pane"  id="tabs08">
                        <div class="shop-tt clearfix">
                            <i class="icon"></i>
                            <div class="shop-tt-txt">江浙沪地区京东车品专营一起转让 ，需要的亲联系客服哦</div>
                        </div>
                        <div class="clearfix shop-tab-b">
                            <div class="pull-left shop-change">网店类型：<span>淘宝旗舰店</span></div>
                            <div class="pull-left shop-change">店铺等级：<span>3冠</span><i class="icon icon-hg"></i><i class="icon icon-hg"></i><i class="icon icon-hg"></i></div>
                            <div class="pull-left shop-change">店铺等级：<span>服装饰品</span></div>
                            <div class="pull-left shop-change shop-change-last">收藏人气：<span>> 5000</span></div>
                        </div>
                        <div class="clearfix">
                            <div class="pull-left">
                                <div class="money-t">售价</div>
                                <div class="money-b">¥<span>36,8000</span></div>
                            </div>
                            <div class="pull-right">
                                <a href="" class="btn btn-sc"><i class="icon"></i>收藏</a>
                                <a role="button" data-toggle="modal" data-target="#kefu" class="btn btn-sc btn-kefu"><i class="icon"></i>联系客服</a>
                            </div>
                        </div> 
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tabs03">
                        <div class="shop-tt clearfix">
                            <i class="icon"></i>
                            <div class="shop-tt-txt">江浙沪地区京东车品专营店低价诚心出售，自带司一起转让 ，需要的亲联系客服哦</div>
                        </div>
                        <div class="clearfix shop-tab-b">
                            <div class="pull-left shop-change">网店类型：<span>淘宝旗舰店</span></div>
                            <div class="pull-left shop-change">店铺等级：<span>3冠</span><i class="icon icon-hg"></i><i class="icon icon-hg"></i><i class="icon icon-hg"></i></div>
                            <div class="pull-left shop-change">店铺等级：<span>服装饰品</span></div>
                            <div class="pull-left shop-change shop-change-last">收藏人气：<span>> 5000</span></div>
                        </div>
                        <div class="clearfix">
                            <div class="pull-left">
                                <div class="money-t">售价</div>
                                <div class="money-b">¥<span>36,8000</span></div>
                            </div>
                            <div class="pull-right">
                                <a href="" class="btn btn-sc"><i class="icon"></i>收藏</a>
                                <a role="button" data-toggle="modal" data-target="#kefu" class="btn btn-sc btn-kefu"><i class="icon"></i>联系客服</a>
                            </div>
                        </div> 
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tabs04">
                        <div class="shop-tt clearfix">
                            <i class="icon"></i>
                            <div class="shop-tt-txt">江诚心出售，自带TM标和公司一起转让 ，需要的亲联系客服哦</div>
                        </div>
                        <div class="clearfix shop-tab-b">
                            <div class="pull-left shop-change">网店类型：<span>淘宝旗舰店</span></div>
                            <div class="pull-left shop-change">店铺等级：<span>3冠</span><i class="icon icon-hg"></i><i class="icon icon-hg"></i><i class="icon icon-hg"></i></div>
                            <div class="pull-left shop-change">店铺等级：<span>服装饰品</span></div>
                            <div class="pull-left shop-change shop-change-last">收藏人气：<span>> 5000</span></div>
                        </div>
                        <div class="clearfix">
                            <div class="pull-left">
                                <div class="money-t">售价</div>
                                <div class="money-b">¥<span>36,8000</span></div>
                            </div>
                            <div class="pull-right">
                                <a href="" class="btn btn-sc"><i class="icon"></i>收藏</a>
                                <a role="button" data-toggle="modal" data-target="#kefu" class="btn btn-sc btn-kefu"><i class="icon"></i>联系客服</a>
                            </div>
                        </div> 
                    </div>
                  </div>
            </div>
        	<div id="show-tab02" class="show-tab-c">
                <div id="slide-show02" class="carousel slide slide-show">
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <ul class="shop-tab clearfix">
                            <li><a class="active" href="#tabs01">服装饰品</a></li>
                            <li><a href="#tabs02">家居用品</a></li>
                            <li><a href="#tabs03">家装家饰</a></li>
                            <li><a href="#tabs04">美容护理</a></li>
                            <li><a href="#tabs05">母婴用品</a></li>
                            <li><a href="#tabs06">3C数码类</a></li>
                            <li><a href="#tabs07">运动户外</a></li>
                            <li class="border-no"><a href="#tabs08">食品保健</a></li>
                        </ul>
                    </div>
                    <div class="item">
                        <ul class="shop-tab clearfix">
                            <li><a href="#tabs09">服装饰品</a></li>
                            <li><a href="#tabs10">家居用品</a></li>
                            <li><a href="#tabs11">家装家饰</a></li>
                            <li><a href="#tabs12">美容护理</a></li>
                            <li><a href="#tabs13">母婴用品</a></li>
                            <li><a href="#tabs14">3C数码类</a></li>
                            <li><a href="#tabs15">运动户外</a></li>
                            <li class="border-no"><a href="#tabs16">食品保健</a></li>
                        </ul>
                    </div>
                  </div>
                
                  <!-- Controls -->
                  <a class="left carousel-control" href="#slide-show02" role="button" data-slide="prev">
                    <
                  </a>
                  <a class="right carousel-control" href="#slide-show02" role="button" data-slide="next">
                    >
                  </a>
                </div>

                <div class="shop-tt clearfix" >
                    <i class="icon"></i>
                    <div class="shop-tt-txt">江浙沪地区京东车品专营店低价诚心出售，自带TM标，已经授权到店铺商标和公司一起转让 ，需要的亲联系客服哦</div>
                </div>
                <div class="clearfix shop-tab-b">
                    <div class="pull-left shop-change">网店类型：<span>淘宝旗舰店</span></div>
                    <div class="pull-left shop-change">店铺等级：<span>3冠</span><i class="icon icon-hg"></i><i class="icon icon-hg"></i><i class="icon icon-hg"></i></div>
                    <div class="pull-left shop-change">店铺等级：<span>服装饰品</span></div>
                    <div class="pull-left shop-change shop-change-last">收藏人气：<span>> 5000</span></div>
                </div>
                <div class="clearfix">
                    <div class="pull-left">
                        <div class="money-t">售价</div>
                        <div class="money-b">¥<span>36,8000</span></div>
                    </div>
                    <div class="pull-right">
                        <a href="" class="btn btn-sc"><i class="icon"></i>收藏</a>
                        <a role="button" data-toggle="modal" data-target="#kefu" class="btn btn-sc btn-kefu"><i class="icon"></i>联系客服</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--用户说-->
    <div class="user-talk">
    	<div class="user-talk-lind"></div>
        <div class="container">
        	<div class="user-more-c"><a href="" class="btn btn-user-more">更多用户说</a></div>
        	<div class="user-talk-title icon">
            	<div class="user-talk-t">用户说</div>
                <div class="user-talk-txt">店来店往，给你想要的店， 真实讲述网店转让的故事。</div>
            </div>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
              </ol>
            
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="user-clear clearfix">
                        <div class="pull-left">
                            <div class="user-talk-img"><img src="public/khshop/images/01.png"></div>
                            <div class="user-talk-name text-center">~麥芮 Marry~<br><span>网店购买者</span></div>
                            <div class="user-talk-label">第<span>001</span>期</div>
                        </div>
                        <div class="pull-right user-talk-width">
                        
                            <div class="user-talk-width-tt">不想被束缚，放飞电商梦。</div>
                            <div class="user-talk-right-txt">万事开头难，只怕有心人。三百六十行，行行出状元，在电商这行里面，您是否依然再坚持着自己的梦想？是否有信心去创造属于自己的人生？让我们一起跟着小编去探寻本期主人公刘先生的电商之路吧！</div>
                            <div class="clearfix">
                                <div class="pull-left shop-change shop-change01">商城类型：<span>旗舰店</span><span class="shop-tm">TM</span>标</div>
                                <div class="pull-left shop-change">价格：<span class="shop-money">28,5000</span>元</div>
                                <div class="pull-left shop-change shop-change03">网店等级：<i class="icon icon-hg"></i><i class="icon icon-hg"></i><i class="icon icon-zs"></i><i class="icon icon-zs"></i><i class="icon icon-zs"></i></div>
                            </div>
                            <div class="clearfix">
                                <a href="" class="user-talk-more">查看详细 <span>></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="user-clear clearfix">
                        <div class="pull-left">
                            <div class="user-talk-img"><img src="public/khshop/images/01.png"></div>
                            <div class="user-talk-name text-center">~麥芮 Marry~<br><span>网店购买者</span></div>
                            <div class="user-talk-label">第<span>001</span>期</div>
                        </div>
                        <div class="pull-right user-talk-width">
                        
                            <div class="user-talk-width-tt">不想被束缚，放飞电商梦。</div>
                            <div class="user-talk-right-txt">万事开头难，只怕有心人。三百六十行，行行出状元，在电商这行里面，您是否依然再坚持着自己的梦想？是否有信心去创造属于自己的人生？让我们一起跟着小编去探寻本期主人公刘先生的电商之路吧！</div>
                            <div class="clearfix">
                                <div class="pull-left shop-change shop-change01">商城类型：<span>旗舰店</span><span class="shop-tm">TM</span>标</div>
                                <div class="pull-left shop-change">价格：<span class="shop-money">28,5000</span>元</div>
                                <div class="pull-left shop-change shop-change03">网店等级：<i class="icon icon-hg"></i><i class="icon icon-hg"></i><i class="icon icon-zs"></i><i class="icon icon-zs"></i><i class="icon icon-zs"></i></div>
                            </div>
                            <div class="clearfix">
                                <a href="" class="user-talk-more">查看详细 <span>></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="user-clear clearfix">
                        <div class="pull-left">
                            <div class="user-talk-img"><img src="public/khshop/images/01.png"></div>
                            <div class="user-talk-name text-center">~麥芮 Marry~<br><span>网店购买者</span></div>
                            <div class="user-talk-label">第<span>001</span>期</div>
                        </div>
                        <div class="pull-right user-talk-width">
                        
                            <div class="user-talk-width-tt">不想被束缚，放飞电商梦。</div>
                            <div class="user-talk-right-txt">万事开头难，只怕有心人。三百六十行，行行出状元，在电商这行里面，您是否依然再坚持着自己的梦想？是否有信心去创造属于自己的人生？让我们一起跟着小编去探寻本期主人公刘先生的电商之路吧！</div>
                            <div class="clearfix">
                                <div class="pull-left shop-change shop-change01">商城类型：<span>旗舰店</span><span class="shop-tm">TM</span>标</div>
                                <div class="pull-left shop-change">价格：<span class="shop-money">28,5000</span>元</div>
                                <div class="pull-left shop-change shop-change03">网店等级：<i class="icon icon-hg"></i><i class="icon icon-hg"></i><i class="icon icon-zs"></i><i class="icon icon-zs"></i><i class="icon icon-zs"></i></div>
                            </div>
                            <div class="clearfix">
                                <a href="" class="user-talk-more">查看详细 <span>></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="user-clear clearfix">
                        <div class="pull-left">
                            <div class="user-talk-img"><img src="public/khshop/images/01.png"></div>
                            <div class="user-talk-name text-center">~麥芮 Marry~<br><span>网店购买者</span></div>
                            <div class="user-talk-label">第<span>001</span>期</div>
                        </div>
                        <div class="pull-right user-talk-width">
                        
                            <div class="user-talk-width-tt">不想被束缚，放飞电商梦。</div>
                            <div class="user-talk-right-txt">万事开头难，只怕有心人。三百六十行，行行出状元，在电商这行里面，您是否依然再坚持着自己的梦想？是否有信心去创造属于自己的人生？让我们一起跟着小编去探寻本期主人公刘先生的电商之路吧！</div>
                            <div class="clearfix">
                                <div class="pull-left shop-change shop-change01">商城类型：<span>旗舰店</span><span class="shop-tm">TM</span>标</div>
                                <div class="pull-left shop-change">价格：<span class="shop-money">28,5000</span>元</div>
                                <div class="pull-left shop-change shop-change03">网店等级：<i class="icon icon-hg"></i><i class="icon icon-hg"></i><i class="icon icon-zs"></i><i class="icon icon-zs"></i><i class="icon icon-zs"></i></div>
                            </div>
                            <div class="clearfix">
                                <a href="" class="user-talk-more">查看详细 <span>></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="user-clear clearfix">
                        <div class="pull-left">
                            <div class="user-talk-img"><img src="public/khshop/images/01.png"></div>
                            <div class="user-talk-name text-center">~麥芮 Marry~<br><span>网店购买者</span></div>
                            <div class="user-talk-label">第<span>001</span>期</div>
                        </div>
                        <div class="pull-right user-talk-width">
                        
                            <div class="user-talk-width-tt">不想被束缚，放飞电商梦。</div>
                            <div class="user-talk-right-txt">万事开头难，只怕有心人。三百六十行，行行出状元，在电商这行里面，您是否依然再坚持着自己的梦想？是否有信心去创造属于自己的人生？让我们一起跟着小编去探寻本期主人公刘先生的电商之路吧！</div>
                            <div class="clearfix">
                                <div class="pull-left shop-change shop-change01">商城类型：<span>旗舰店</span><span class="shop-tm">TM</span>标</div>
                                <div class="pull-left shop-change">价格：<span class="shop-money">28,5000</span>元</div>
                                <div class="pull-left shop-change shop-change03">网店等级：<i class="icon icon-hg"></i><i class="icon icon-hg"></i><i class="icon icon-zs"></i><i class="icon icon-zs"></i><i class="icon icon-zs"></i></div>
                            </div>
                            <div class="clearfix">
                                <a href="" class="user-talk-more">查看详细 <span>></span></a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <!--优势-->
    <div class="container bottom over-hidden">
    	<div class="text-center bottom-tt">我们的优势</div>
        <div class="clearfix bottom-clear text-center">
        	<div class="width20 wow bounceInRight animated">
            	<i class="icon-bottom icon-bottom01"></i>
                <div class="icon-b-tt">法律保障</div>
                <div class="icon-b-tt-sm">LEGAL GUARANTEE</div>
                <div class="icon-lind"></div>
                <div class="icon-b-txt">交易时签署具有法律<br>效益的合同</div>
            </div>
        	<div class="width20 wow bounceInUp animated">
            	<i class="icon-bottom icon-bottom02"></i>
                <div class="icon-b-tt">资金保障</div>
                <div class="icon-b-tt-sm">FUND GUARANTEE</div>
                <div class="icon-lind"></div>
                <div class="icon-b-txt">交易时作为居间方<br>担保资金安全</div>
            </div>
        	<div class="width20 wow bounceInLeft animated">
            	<i class="icon-bottom icon-bottom03"></i>
                <div class="icon-b-tt">严密审查</div>
                <div class="icon-b-tt-sm">CLOSE EXAMINATION</div>
                <div class="icon-lind"></div>
                <div class="icon-b-txt">拒绝问题网店，保障<br>交易双方权益</div>
            </div>
        	<div class="width20 wow bounceInUp animated">
            	<i class="icon-bottom icon-bottom04"></i>
                <div class="icon-b-tt">优质服务</div>
                <div class="icon-b-tt-sm">GOOD SERVICE</div>
                <div class="icon-lind"></div>
                <div class="icon-b-txt">专属客服1对1<br>全程跟踪服务</div>
            </div>
        	<div class="width20 wow bounceInLeft animated">
            	<i class="icon-bottom icon-bottom05"></i>
                <div class="icon-b-tt">放心购店</div>
                <div class="icon-b-tt-sm">SECURITY BUY</div>
                <div class="icon-lind"></div>
                <div class="icon-b-txt">如发现店铺与描述不符<br>可无条件全额退款</div>
            </div>
        </div>
    </div>
    <!--footer-->
<?php include CUR_VIEW_PATH."Spublic/foot.html";?>
</body> 
<script src="public/khshop/js/jquery.min.js"></script>
<script src="public/khshop/js/bootstrap.min.js"></script>
<script src="public/khshop/js/common.js"></script>
<script src="public/khshop/js/wow.min.js"></script>
<script>
//滚屏动画JS
if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
	new WOW().init();
};
var t=$('#t');
$('#tj').children('li').click(function () {
    var tj=$(this).children('a').html();
    t.val(tj);
})
$('#q:first').prop('class','item active')
$('#w:first').prop('class','item active')
$('#e:first').prop('class','item active')
</script>
</html>