<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>诚聘英才</title>

    <!-- Bootstrap -->
    <link href="public/khshop/css/bootstrap.css" rel="stylesheet">
    <link href="public/khshop/css/animate.min.css" rel="stylesheet">
    <link href="public/khshop/css/css.css" rel="stylesheet">
</head>
<body>
<header>
    <?php include CUR_VIEW_PATH."Spublic/gongsi_header.html";?>
</header>
    <div class="about-banner text-center">
        <div class="container">
            <div class="about-logo wow bounceInDown animated"><img src="public/khshop/images/about-logo.png"></div>
            <div class="about-banner-txt wow bounceInUp animated">店来店往隶属于北京某某网络科技有限公司。成立于2010年7月，是网店转让行业的领军品牌。我们的总部坐落于北京，经过几年的不断发展和壮大，已分别于上海、武汉、长沙、广州、成都、杭州成立了分公司。公司自成立以来，立足于电商转让服务领域，以电商市场为基础，以雄厚的技术实力和优质的服务为后盾，整合电商市场资源，致力于网络店铺转让经纪服务，主打天猫商城、淘宝网店的转让过户服务，为电商人创造更有竞争力网店，激活网购市场。我们充分考虑每一个细节，我们积极的做好服务，我们努力开拓更好的市场，我们深入、专业的服务得到客户的高度认可。</div>
        </div>
    </div>
 
    <div class="container">
        <div class="about-back">
            <div class="row">
                <div class="col-xs-4">
                    <div class="about-icon clearfix"><i></i><span>电话</span><br>TELEPHONE</div>
                </div>
                <div class="col-xs-4">
                    <div class="about-icon about-icon02 clearfix"><i></i><span>总部</span><br>HEADQUARTERS</div>
                </div>
                <div class="col-xs-4">
                    <div class="about-icon about-icon03 clearfix"><i></i><span>邮箱</span><br>MAILBOX</div>
                </div>
                <div class="col-xs-4"><div class="about-phone">400-123-5678</div></div>
                <div class="col-xs-4"><div class="about-txt">四川省成都市金牛区高科技产业园<br>(西区)蜀西路48号</div></div>
                <div class="col-xs-4"><div class="about-txt">dianldshop@126.com</div></div>
            </div>
        </div>
    </div>
    <div class="about-back-c">
        <div class="container">
            <div class="about-tt">企业文化</div>
            <div class="about-tt-e">corporate culture</div>
            <div class="about-tt-lind"></div>
            <div class="about-lc text-right wow bounceInDown animated">
                <div class="about-lc-tt">公司使命</div>
                <div class="about-lc-txt">服务至上，构建交易双方诚信的桥梁</div>
            </div>
            <div class="about-lc about-lc02 text-right wow bounceInDown animated">
                <div class="about-lc-tt">公司口号</div>
                <div class="about-lc-txt">锐意进取，敢为人先</div>
            </div>
            <div class="about-lc about-lc03 wow bounceInUp animated">
                <div class="about-lc-tt">公司定位</div>
                <div class="about-lc-txt">专业的虚拟资产服务平台</div>
            </div>
            <div class="about-lc about-lc04 text-right wow bounceInDown animated">
                <div class="about-lc-tt">公司愿景</div>
                <div class="about-lc-txt">以专业的服务，严谨的态度，成为<br>虚拟资产服务全国第一品牌</div>
            </div>
            <div class="about-lc about-lc05 wow bounceInUp animated">
                <div class="about-lc-tt">价 值 观</div>
                <div class="about-lc-txt">精诚所至,金石为开</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="about-map">
            <div class="about-map-i wow bounceInDown animated"><img src="public/khshop/images/about-map-i.png"></div>
            <div class="about-map-back">
                <div class="about-map-tt">成都总部</div>
                <div class="about-map-address"><i></i><span>地址</span><br>四川省成都市金牛区高科技产业园<br>(西区)蜀西路48号</div>
                <div class="about-map-address about-map-address02"><i></i><span>手机</span><br>1896669000</div>
                <div class="about-map-address about-map-address03"><i></i><span>免费电话</span><br>400-123-4567</div>
            </div>
        </div>
    </div>
    <div class="back-f9">
        <div class="container about-hb">
            <div class="about-tt wow bounceInDown animated">业务合作伙伴</div>
            <div class="about-tt-e wow bounceInDown animated">BUSINESS PARTNER</div>
            <div class="about-tt-lind"></div>
            <div id="carousel-example-generic" class="carousel slide about-slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="row">
                        <div class="col-xs-3">
                            <a href="" class="about-hb-img"><img src="public/khshop/images/about-hb01.png"></a>
                        </div>
                        <div class="col-xs-3">
                            <a href="" class="about-hb-img"><img src="public/khshop/images/about-hb02.png"></a>
                        </div>
                        <div class="col-xs-3">
                            <a href="" class="about-hb-img"><img src="public/khshop/images/about-hb03.png"></a>
                        </div>
                        <div class="col-xs-3">
                            <a href="" class="about-hb-img"><img src="public/khshop/images/about-hb04.png"></a>
                        </div> 
                        <div class="col-xs-3">
                            <a href="" class="about-hb-img"><img src="public/khshop/images/about-hb01.png"></a>
                        </div>
                        <div class="col-xs-3">
                            <a href="" class="about-hb-img"><img src="public/khshop/images/about-hb02.png"></a>
                        </div>
                        <div class="col-xs-3">
                            <a href="" class="about-hb-img"><img src="public/khshop/images/about-hb03.png"></a>
                        </div>
                        <div class="col-xs-3">
                            <a href="" class="about-hb-img"><img src="public/khshop/images/about-hb04.png"></a>
                        </div> 
                    </div>      
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-xs-3">
                            <a href="" class="about-hb-img"><img src="public/khshop/images/about-hb01.png"></a>
                        </div>
                        <div class="col-xs-3">
                            <a href="" class="about-hb-img"><img src="public/khshop/images/about-hb02.png"></a>
                        </div>
                        <div class="col-xs-3">
                            <a href="" class="about-hb-img"><img src="public/khshop/images/about-hb03.png"></a>
                        </div>
                        <div class="col-xs-3">
                            <a href="" class="about-hb-img"><img src="public/khshop/images/about-hb04.png"></a>
                        </div> 
                        <div class="col-xs-3">
                            <a href="" class="about-hb-img"><img src="public/khshop/images/about-hb01.png"></a>
                        </div>
                        <div class="col-xs-3">
                            <a href="" class="about-hb-img"><img src="public/khshop/images/about-hb02.png"></a>
                        </div>
                        <div class="col-xs-3">
                            <a href="" class="about-hb-img"><img src="public/khshop/images/about-hb03.png"></a>
                        </div>
                        <div class="col-xs-3">
                            <a href="" class="about-hb-img"><img src="public/khshop/images/about-hb04.png"></a>
                        </div> 
                    </div> 
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-xs-3">
                            <a href="" class="about-hb-img"><img src="public/khshop/images/about-hb01.png"></a>
                        </div>
                        <div class="col-xs-3">
                            <a href="" class="about-hb-img"><img src="public/khshop/images/about-hb02.png"></a>
                        </div>
                        <div class="col-xs-3">
                            <a href="" class="about-hb-img"><img src="public/khshop/images/about-hb03.png"></a>
                        </div>
                        <div class="col-xs-3">
                            <a href="" class="about-hb-img"><img src="public/khshop/images/about-hb04.png"></a>
                        </div> 
                        <div class="col-xs-3">
                            <a href="" class="about-hb-img"><img src="public/khshop/images/about-hb01.png"></a>
                        </div>
                        <div class="col-xs-3">
                            <a href="" class="about-hb-img"><img src="public/khshop/images/about-hb02.png"></a>
                        </div>
                        <div class="col-xs-3">
                            <a href="" class="about-hb-img"><img src="public/khshop/images/about-hb03.png"></a>
                        </div>
                        <div class="col-xs-3">
                            <a href="" class="about-hb-img"><img src="public/khshop/images/about-hb04.png"></a>
                        </div> 
                    </div> 
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-xs-3">
                            <a href="" class="about-hb-img"><img src="public/khshop/images/about-hb01.png"></a>
                        </div>
                        <div class="col-xs-3">
                            <a href="" class="about-hb-img"><img src="public/khshop/images/about-hb02.png"></a>
                        </div>
                        <div class="col-xs-3">
                            <a href="" class="about-hb-img"><img src="public/khshop/images/about-hb03.png"></a>
                        </div>
                        <div class="col-xs-3">
                            <a href="" class="about-hb-img"><img src="public/khshop/images/about-hb04.png"></a>
                        </div> 
                        <div class="col-xs-3">
                            <a href="" class="about-hb-img"><img src="public/khshop/images/about-hb01.png"></a>
                        </div>
                        <div class="col-xs-3">
                            <a href="" class="about-hb-img"><img src="public/khshop/images/about-hb02.png"></a>
                        </div>
                        <div class="col-xs-3">
                            <a href="" class="about-hb-img"><img src="public/khshop/images/about-hb03.png"></a>
                        </div>
                        <div class="col-xs-3">
                            <a href="" class="about-hb-img"><img src="public/khshop/images/about-hb04.png"></a>
                        </div>  
                    </div> 
                </div>
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>

        </div>
    </div>
    <div class="about-form">
        <div class="container">
            <div class="clearfix">
                <div class="pull-left about-form-l">
                    <div class="about-tt">诚邀业务合作</div>
                    <div class="about-tt-e">BUSINESS PARTNER</div>
                    <div class="about-tt-lind about-tt-lind02"></div>
                    <div class="about-form-t">业务咨询</div>
                    <button type="button" class="btn btn-sell-l btn-sell-l02"><i class="icon"></i>在线咨询</button>
                    <div class="about-form-lind"></div>
                    <div class="about-form-t">全国免费电话</div>
                    <div class="about-form-phone">400-123-5678</div>
                </div>
                <div class="pull-right about-form-r">
                    <div class="about-form-r-tt">请详细填写以下相关信息，我们将会在第一时间内给您回复：</div>
                    <div class="clearfix">
                        <div class="pull-left about-input-txt">联系人 *</div>
                        <div class="pull-left"><input type="text" class="form-control about-input" /></div>
                    </div>
                    <div class="clearfix">
                        <div class="pull-left about-input-txt">联系电话 *</div>
                        <div class="pull-left"><input type="text" class="form-control about-input" /></div>
                    </div> 
                    <div class="clearfix">
                        <div class="pull-left about-input-txt">Email地址 * </div>
                        <div class="pull-left"><input type="text" class="form-control about-input" /></div>
                    </div> 
                    <div class="clearfix">
                        <div class="pull-left about-input-txt">公司名称 </div>
                        <div class="pull-left"><input type="text" class="form-control about-input" /></div>
                    </div> 
                    <div class="clearfix">
                        <div class="pull-left about-input-txt">公司网址 </div>
                        <div class="pull-left"><input type="text" class="form-control about-input" /></div>
                    </div>
                    <div class="clearfix">
                        <div class="pull-left about-input-txt">合作内容 * </div>
                        <div class="pull-left"><textarea type="text" class="form-control about-input about-input-lg" /></textarea></div>
                    </div>  
                    <div class="clearfix">
                        <div class="pull-left about-input-txt">合作内容 * </div>
                        <div class="pull-left"><input type="text" class="form-control about-input about-input-sm" /></div>
                        <div class="pull-left yzm"><img src="public/khshop/images/yzm.png"></div>
                    </div>  
                    <div class="clearfix">
                        <div class="pull-left about-input-txt"></div>
                        <div class="pull-left"><button type="submit" class="btn btn-about">立即提交</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-bottom">
        <div class="container">
            <div class="text-center">
                <div class="about-tt">店来店往风采展示</div>
                <div class="about-tt-e">BUSINESS PARTNER</div>
                <div class="about-tt-lind about-tt-lind03"></div>
            </div>
            <div id="about-b-slide" class="carousel slide about-b-slide" data-ride="carousel">

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="row text-center">
                        <div class="col-xs-4">
                            <div class="img-b-c"><img src="public/khshop/images/about01.png"></div>
                            <div class="img-b-c-txt">店来店往员工风采展示</div>
                        </div>
                        <div class="col-xs-4">
                            <div class="img-b-c"><img src="public/khshop/images/about02.png"></div>
                            <div class="img-b-c-txt">店来店往员工风采展示</div>
                        </div>
                        <div class="col-xs-4">
                            <div class="img-b-c"><img src="public/khshop/images/about03.png"></div>
                            <div class="img-b-c-txt">店来店往员工风采展示</div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row text-center">
                        <div class="col-xs-4">
                            <div class="img-b-c"><img src="public/khshop/images/about01.png"></div>
                            <div class="img-b-c-txt">店来店往员工风采展示</div>
                        </div>
                        <div class="col-xs-4">
                            <div class="img-b-c"><img src="public/khshop/images/about02.png"></div>
                            <div class="img-b-c-txt">店来店往员工风采展示</div>
                        </div>
                        <div class="col-xs-4">
                            <div class="img-b-c"><img src="public/khshop/images/about03.png"></div>
                            <div class="img-b-c-txt img-b-c-txt">店来店往员工风采展示</div>
                        </div>
                    </div>
                </div>
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#about-b-slide" role="button" data-slide="prev">
              </a>
              <a class="right carousel-control" href="#about-b-slide" role="button" data-slide="next">
              </a>
            </div>
        </div>
    </div>
    <!--footer-->

    <?php include CUR_VIEW_PATH."Spublic/foot.html";?>

</body> 
<script src="public/khshop/js/jquery.min.js"></script>
<script src="public/khshop/js/bootstrap.min.js"></script>
<script src="public/khshop/js/common.js"></script>
<script src="public/khshop/js/wow.min.js"></script>
<script>
if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
	new WOW().init();
};
</script>
</html>