<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>帮助中心-在线问答</title>

    <!-- Bootstrap -->
    <link href="public/khshop/css/bootstrap.css" rel="stylesheet">
    <link href="public/khshop/css/animate.min.css" rel="stylesheet">
    <link href="public/khshop/css/css.css" rel="stylesheet">
</head>
<body>
<header>
    <?php include CUR_VIEW_PATH."Spublic/header.html";?>
</header>
	<div class="help-banner">
    	<div class="container">
        	<div class="help-img wow bounceInUp animated"><img src="public/khshop/images/help01.png"></div>
        </div>
    </div>
    <div class="back-f9">
        <div class="container">
            <div class="recruit-c help-c">
				<div class="clearfix help-list-c">
                	<ul class="help-list pull-right clearfix">
                    	<li>
                        	<a href="index.php?p=show&c=index&a=tixian&name=如何充值">提现充值</a>
                            <ul class="help-list-down">
                            	<li><a href="">如何充值</a></li>
                                <li><a href="">如何提现</a></li>
                                <li class="border-no"><a href="">收费标准</a></li>
                            </ul>
                        </li>
                        <li>
                        	<a href="index.php?p=show&c=index&a=fuwu&name=购买流程">服务流程</a>
                            <ul class="help-list-down">
                            	<li><a href="">购买流程</a></li>
                                <li><a href="">出售流程</a></li>
                                <li class="border-no"><a href="">寄售交易</a></li>
                            </ul>
                        </li>
                        <li>
                        	<a href="index.php?p=show&c=index&a=anquan&name=店铺转让认证">安全保障</a>
                            <ul class="help-list-down help-list-down-lg">
                            	<li><a href="">店铺转让认证</a></li>
                                <li><a href="">担保交易</a></li>
                                <li class="border-no"><a href="">合同如何签署</a></li>
                            </ul>
                        </li>
                        <li>
                        	<a href="index.php?p=show&c=index&a=help&name=买家帮助">帮助中心</a>
                            <ul class="help-list-down">
                            	<li><a href="">买家帮助</a></li>
                                <li><a href="">卖家帮助</a></li>
                                <li class="border-no"><a href="">隐私保护</a></li>
                            </ul>
                        </li>
                        <li class="active">
                        	<a href="index.php?p=show&c=index&a=kefu1&name=客服咨询">客服中心</a>
                            <ul class="help-list-down help-list-down-last">
                            	<li><a href="index.php?p=show&c=index&a=kefu1&name=客服咨询">客服咨询</a></li>
                                <li><a href="index.php?p=show&c=index&a=jianyi">建议中心</a></li>
                                <li class="border-no active"><a href="">在线问答</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="help-nav">
                	<i class="icon"></i><a href="">客服中心</a> > <a href="" class="active">在线问答</a>
                </div>
                <div class="clearfix">
                    <div class="pull-left wd-title">在线问答<span>30位专业客服为您解答服务！</span></div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-sell-l btn-phone"><i class="icon"></i>400-123-4567</button>
                        <button type="button" class="btn btn-sell-l btn-sell-l02"><i class="icon"></i>在线咨询</button>
                    </div>
                </div>
                <textarea class="form-control input-sell input-proposal-text wd-text" placeholder="在这描述您的疑问（请描述您的疑问,最多可输入100个字符）"></textarea>
                <textarea class="form-control input-sell input-proposal-text wd-text" placeholder="问题补充(选填) 请补充疑问,最多可输入500个字符"></textarea>
                <button type="button" class="btn btn-g">提交问题</button>
                <div class="kf-lind"></div>
                <div class="proposal-tt-i">全部问答</div>
                <div class="wd-c">
                    <div class="clearfix">
                        <div class="pull-left wd-tt">蘑菇街店铺怎么过户呢？</div>
                        <div class="pull-right wd-label">已答</div>
                    </div>
                    <div class="wd-txt">您好，亲，蘑菇街个人店铺过户的话需要卖家先注册一个公司，升级成企业之后就可以过户了哦，只是个人认证的话是无法过户的哈，必须升级成企业才能过户。</div>
                    <div class="wd-name clearfix"><i class="icon"></i>回答客服：杨畔</div>
                </div>
                <div class="wd-c">
                    <div class="clearfix">
                        <div class="pull-left wd-tt">蘑菇街店铺怎么过户呢？</div>
                        <div class="pull-right wd-label">已答</div>
                    </div>
                    <div class="wd-txt">您好，亲，蘑菇街个人店铺过户的话需要卖家先注册一个公司，升级成企业之后就可以过户了哦，只是个人认证的话是无法过户的哈，必须升级成企业才能过户。</div>
                    <div class="wd-name clearfix"><i class="icon"></i>回答客服：杨畔</div>
                </div>
                <div class="wd-c">
                    <div class="clearfix">
                        <div class="pull-left wd-tt">蘑菇街店铺怎么过户呢？</div>
                        <div class="pull-right wd-label">已答</div>
                    </div>
                    <div class="wd-txt">您好，亲，蘑菇街个人店铺过户的话需要卖家先注册一个公司，升级成企业之后就可以过户了哦，只是个人认证的话是无法过户的哈，必须升级成企业才能过户。</div>
                    <div class="wd-name clearfix"><i class="icon"></i>回答客服：杨畔</div>
                </div>
                <div class="wd-c">
                    <div class="clearfix">
                        <div class="pull-left wd-tt">蘑菇街店铺怎么过户呢？</div>
                        <div class="pull-right wd-label">已答</div>
                    </div>
                    <div class="wd-txt">您好，亲，蘑菇街个人店铺过户的话需要卖家先注册一个公司，升级成企业之后就可以过户了哦，只是个人认证的话是无法过户的哈，必须升级成企业才能过户。</div>
                    <div class="wd-name clearfix"><i class="icon"></i>回答客服：杨畔</div>
                </div>
                <div class="wd-c">
                    <div class="clearfix">
                        <div class="pull-left wd-tt">蘑菇街店铺怎么过户呢？</div>
                        <div class="pull-right wd-label">已答</div>
                    </div>
                    <div class="wd-txt">您好，亲，蘑菇街个人店铺过户的话需要卖家先注册一个公司，升级成企业之后就可以过户了哦，只是个人认证的话是无法过户的哈，必须升级成企业才能过户。</div>
                    <div class="wd-name clearfix"><i class="icon"></i>回答客服：杨畔</div>
                </div>
                <div class="wd-c">
                    <div class="clearfix">
                        <div class="pull-left wd-tt">蘑菇街店铺怎么过户呢？</div>
                        <div class="pull-right wd-label wd-label-no">未答</div>
                    </div>
                    <div class="wd-txt">您好，亲，蘑菇街个人店铺过户的话需要卖家先注册一个公司，升级成企业之后就可以过户了哦，只是个人认证的话是无法过户的哈，必须升级成企业才能过户。</div>
                    <div class="wd-name clearfix"><i class="icon"></i>回答客服：杨畔</div>
                </div>
                <div class="page-center clearfix">
                    <ul class="pagination pull-left">
                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">上一页</span></a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#" aria-label="Next"><span aria-hidden="true">下一页</span></a></li>
                     </ul>
                     <div class="pull-left page-txt margin-left">共681页 跳转到第</div>
                     <div class="pull-left"><input type="text" class="form-control input-page" /></div>
                     <div class="pull-left page-txt">页</div>
                     <div class="pull-left"><button type="button" class="btn-page btn">确定</button></div>
                </div>
            </div>
        </div>
    </div>
    <!--footer-->

    <?php include CUR_VIEW_PATH."Spublic/foot.html";?>

</body> 
<script src="public/khshop/js/jquery.min.js"></script>
<script src="public/khshop/js/bootstrap.min.js"></script>
<script src="public/khshop/js/common.js"></script>
<script src="public/khshop/js/wow.min.js"></script>
<script>
if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
	new WOW().init();
};
</script>
</html>