<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>企业服务-代理记账</title>

    <!-- Bootstrap -->
    <link href="public/khshop/css/bootstrap.css" rel="stylesheet">
    <link href="public/khshop/css/animate.min.css" rel="stylesheet">
    <link href="public/khshop/css/css.css" rel="stylesheet">
</head>
<body>
<header>
    <?php include CUR_VIEW_PATH."Spublic/qiye_header.html";?>
</header>
    <div class="fw-banner">
    	<div class="container">
            <div class="fw-banner-tt wow bounceInLeft animated">代理记账服务</div>
            <div class="fw-lind wow bounceInRight animated"><img src="public/khshop/images/fw02.png"></div>
            <div class="fw03 wow bounceInUp animated"><img src="public/khshop/images/fw03.png"></div>
        </div>
    </div>
    <div class="back-f9">
        <div class="container">
            <div class="yy-nav text-right">当前位置：<span>网店代运营</span></div>
            <div class="rz-top yy-top fw-top">
                <ul class="pm-tabs fw-tabs clearfix">
                    <li class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="false"><?=$v1[0]['leixing']?></a></li>
                    <li><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="true"><?=$v1[1]['leixing']?></a></li>
                    <li><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false"><?=$v1[2]['leixing']?></a></li>
                    <li><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab" aria-expanded="false"><?=$v1[3]['leixing']?></a></li>
                    <li><a href="#five" aria-controls="five" role="tab" data-toggle="tab" aria-expanded="false"><?=$v1[4]['leixing']?></a></li>
                    <li><a href="#six" aria-controls="six" role="tab" data-toggle="tab" aria-expanded="false"><?=$v1[5]['leixing']?></a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">

                    <div role="tabpanel" class="tab-pane active" id="home">
                        <form action="?c=user&a=common&type=2&id=<?=$v1[0]['id']?>" method="post">
                        <div class="clearfix">
                            <div class="pull-left fw-left">
                                <div class="fw-tabs-tt"><?=$v1[0]['leixing']?></div>
                                <div class="fw-money"><span><?=$v1[0]['jiage']?></span>元/套</div>
                                <select class="form-control fw-select" name="province">
                                    <?php foreach($sheng as $v): ?>
                                    <option><?=$v['diqu']?></option>
                                    <?php endforeach; ?>
                                </select>
                                <select class="form-control fw-select" name="city">
                                    <?php foreach($shi as $v): ?>
                                    <option><?=$v['diqu']?></option>
                                    <?php endforeach; ?>
                                </select>
                                <div class="checkbox fw-checkbox">
                                    <label>
                                      <input type="checkbox"> 我已阅读并同意《<a href="">“企业服务”服务协议</a>》
                                    </label>
                                </div>
                            </div>
                            <div class="pull-right fw-right">
                                <div class="fw-right-txt">企业成立后需要有记账、核算、报税等一系列会计工作，招聘专职会计会增加企业成本，让熟人做担心不能分担法律责任和风险，怎么办？店来店网专业会计高效操作、定时通知、规范建账、规整财务报表，公司财务老板一目了然。注意：此费用只是服务费，不包括CA证书、印花税等官费。</div>
                                <div class="clearfix">
                                    <a href="javascript:;" class="fw-btn"><i class="icon"></i><button style="background-color: rgba(0,0,0,0);border: none">立即购买</button></a>
                                    <a href="" class="fw-btn fw-btn02"><i class="icon"></i>免费咨询</a>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                    <!---------------------------------------------------------------------->
                    <div role="tabpanel" class="tab-pane" id="profile">
                        <form action="?c=user&a=common&type=2&id=<?=$v1[1]['id']?>" method="post">
                        <div class="clearfix">
                            <div class="pull-left fw-left">
                                <div class="fw-tabs-tt"><?=$v1[1]['leixing']?></div>
                                <div class="fw-money"><span><?=$v1[1]['jiage']?></span>元/套</div>
                                <select class="form-control fw-select">
                                    <?php foreach($sheng as $v): ?>
                                    <option><?=$v['diqu']?></option>
                                    <?php endforeach; ?>
                                </select>
                                <select class="form-control fw-select">
                                    <?php foreach($shi as $v): ?>
                                    <option><?=$v['diqu']?></option>
                                    <?php endforeach; ?>
                                </select>
                                <div class="checkbox fw-checkbox">
                                    <label>
                                        <input type="checkbox"> 我已阅读并同意《<a href="">“企业服务”服务协议</a>》
                                    </label>
                                </div>
                            </div>
                            <div class="pull-right fw-right">
                                <div class="fw-right-txt">企业成立后需要有记账、核算、报税等一系列会计工作，招聘专职会计会增加企业成本，让熟人做担心不能分担法律责任和风险，怎么办？店来店网专业会计高效操作、定时通知、规范建账、规整财务报表，公司财务老板一目了然。注意：此费用只是服务费，不包括CA证书、印花税等官费。</div>
                                <div class="clearfix">
                                    <a href="javascript:;" class="fw-btn"><i class="icon"></i><button style="background-color: rgba(0,0,0,0);border: none">立即购买</button></a>
                                    <a href="" class="fw-btn fw-btn02"><i class="icon"></i>免费咨询</a>
                                </div>
                            </div>
                        </div>
                        </form>

                    </div>
                    <!---------------------------------------------------------------------->
                    <div role="tabpanel" class="tab-pane" id="messages">
                        <form action="?c=user&a=common&type=2&id=<?=$v1[2]['id']?>" method="post">
                        <div class="clearfix">
                            <div class="pull-left fw-left">
                                <div class="fw-tabs-tt"><?=$v1[2]['leixing']?></div>
                                <div class="fw-money"><span><?=$v1[2]['jiage']?></span>元/套</div>
                                <select class="form-control fw-select">
                                    <?php foreach($sheng as $v): ?>
                                    <option><?=$v['diqu']?></option>
                                    <?php endforeach; ?>
                                </select>
                                <select class="form-control fw-select">
                                    <?php foreach($shi as $v): ?>
                                    <option><?=$v['diqu']?></option>
                                    <?php endforeach; ?>
                                </select>
                                <div class="checkbox fw-checkbox">
                                    <label>
                                        <input type="checkbox"> 我已阅读并同意《<a href="">“企业服务”服务协议</a>》
                                    </label>
                                </div>
                            </div>
                            <div class="pull-right fw-right">
                                <div class="fw-right-txt">企业成立后需要有记账、核算、报税等一系列会计工作，招聘专职会计会增加企业成本，让熟人做担心不能分担法律责任和风险，怎么办？店来店网专业会计高效操作、定时通知、规范建账、规整财务报表，公司财务老板一目了然。注意：此费用只是服务费，不包括CA证书、印花税等官费。</div>
                                <div class="clearfix">
                                    <a href="javascript:;" class="fw-btn"><i class="icon"></i><button style="background-color: rgba(0,0,0,0);border: none">立即购买</button></a>
                                    <a href="" class="fw-btn fw-btn02"><i class="icon"></i>免费咨询</a>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                    <!---------------------------------------------------------------------->
                    <div role="tabpanel" class="tab-pane" id="settings">
                        <form action="?c=user&a=common&type=2&id=<?=$v1[3]['id']?>" method="post">
                        <div class="clearfix">
                            <div class="pull-left fw-left">
                                <div class="fw-tabs-tt"><?=$v1[3]['leixing']?></div>
                                <div class="fw-money"><span><?=$v1[3]['jiage']?></span>元/套</div>
                                <select class="form-control fw-select">
                                    <?php foreach($sheng as $v): ?>
                                    <option><?=$v['diqu']?></option>
                                    <?php endforeach; ?>
                                </select>
                                <select class="form-control fw-select">
                                    <?php foreach($shi as $v): ?>
                                    <option><?=$v['diqu']?></option>
                                    <?php endforeach; ?>
                                </select>
                                <div class="checkbox fw-checkbox">
                                    <label>
                                        <input type="checkbox"> 我已阅读并同意《<a href="">“企业服务”服务协议</a>》
                                    </label>
                                </div>
                            </div>
                            <div class="pull-right fw-right">
                                <div class="fw-right-txt">企业成立后需要有记账、核算、报税等一系列会计工作，招聘专职会计会增加企业成本，让熟人做担心不能分担法律责任和风险，怎么办？店来店网专业会计高效操作、定时通知、规范建账、规整财务报表，公司财务老板一目了然。注意：此费用只是服务费，不包括CA证书、印花税等官费。</div>
                                <div class="clearfix">
                                    <a href="javascript:;" class="fw-btn"><i class="icon"></i><button style="background-color: rgba(0,0,0,0);border: none">立即购买</button></a>
                                    <a href="" class="fw-btn fw-btn02"><i class="icon"></i>免费咨询</a>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                    <!---------------------------------------------------------------------->
                    <div role="tabpanel" class="tab-pane" id="fivs">
                        <form action="?c=user&a=common&type=2&id=<?=$v1[4]['id']?>" method="post">
                        <div class="clearfix">
                            <div class="pull-left fw-left">
                                <div class="fw-tabs-tt"><?=$v1[4]['leixing']?></div>
                                <div class="fw-money"><span><?=$v1[4]['jiage']?></span>元/套</div>
                                <select class="form-control fw-select">
                                    <?php foreach($sheng as $v): ?>
                                    <option><?=$v['diqu']?></option>
                                    <?php endforeach; ?>
                                </select>
                                <select class="form-control fw-select">
                                    <?php foreach($shi as $v): ?>
                                    <option><?=$v['diqu']?></option>
                                    <?php endforeach; ?>
                                </select>
                                <div class="checkbox fw-checkbox">
                                    <label>
                                        <input type="checkbox"> 我已阅读并同意《<a href="">“企业服务”服务协议</a>》
                                    </label>
                                </div>
                            </div>
                            <div class="pull-right fw-right">
                                <div class="fw-right-txt">企业成立后需要有记账、核算、报税等一系列会计工作，招聘专职会计会增加企业成本，让熟人做担心不能分担法律责任和风险，怎么办？店来店网专业会计高效操作、定时通知、规范建账、规整财务报表，公司财务老板一目了然。注意：此费用只是服务费，不包括CA证书、印花税等官费。</div>
                                <div class="clearfix">
                                    <a href="javascript:;" class="fw-btn"><i class="icon"></i><button style="background-color: rgba(0,0,0,0);border: none">立即购买</button></a>
                                    <a href="" class="fw-btn fw-btn02"><i class="icon"></i>免费咨询</a>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                    <!---------------------------------------------------------------------->
                    <div role="tabpanel" class="tab-pane" id="six">
                        <form action="?c=user&a=common&type=2&id=<?=$v1[5]['id']?>" method="post">
                        <div class="clearfix">
                            <div class="pull-left fw-left">
                                <div class="fw-tabs-tt"><?=$v1[5]['leixing']?></div>
                                <div class="fw-money"><span><?=$v1[5]['jiage']?></span>元/套</div>
                                <select class="form-control fw-select">
                                    <?php foreach($sheng as $v): ?>
                                    <option><?=$v['diqu']?></option>
                                    <?php endforeach; ?>
                                </select>
                                <select class="form-control fw-select">
                                    <?php foreach($shi as $v): ?>
                                    <option><?=$v['diqu']?></option>
                                    <?php endforeach; ?>
                                </select>
                                <div class="checkbox fw-checkbox">
                                    <label>
                                        <input type="checkbox" id="xy"> 我已阅读并同意《<a href="">“企业服务”服务协议</a>》
                                    </label>
                                </div>
                            </div>
                            <div class="pull-right fw-right">
                                <div class="fw-right-txt">企业成立后需要有记账、核算、报税等一系列会计工作，招聘专职会计会增加企业成本，让熟人做担心不能分担法律责任和风险，怎么办？店来店网专业会计高效操作、定时通知、规范建账、规整财务报表，公司财务老板一目了然。注意：此费用只是服务费，不包括CA证书、印花税等官费。</div>
                                <div class="clearfix">
                                    <a href="javascript:;" class="fw-btn"><i class="icon"></i><button style="background-color: rgba(0,0,0,0);border: none">立即购买</button></a>
                                    <a href="" class="fw-btn fw-btn02"><i class="icon"></i>免费咨询</a>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row fw-row">
                <div class="col-xs-6">
                    <div class="fw-back">
                        <div class="fw-back-tt">代理记账服务流程</div>
                        <div class="fw-back-txt">
                            <p>1、财务核算；</p>
                            <p>2、税务申报及税款交纳，年度所得税汇算清缴；</p>
                            <p>3、出具报表（资产负债表、损益表）；</p>
                        </div>
                        <i>01</i>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="fw-back fw-back02">
                        <div class="fw-back-tt">准备资料</div>
                        <div class="fw-back-txt">
                            <p>1、企业基础证件的复印件；</p>
                            <p>2、企业CA证书、报税密码；</p>
                            <p>3、交接企业原财务账目；</p>
                        </div>
                        <i>02</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container fw-zm">
        <div class="yy-title"><span>注明</span></div>
        <div class="yy-title-sm text-center">NOTE OF DIAN LIAN DIAN</div>
        <div class="row">
            <div class="col-xs-6">
                <div class="fw-zm-tt">01</div>
                <div class="fw-zm-txt">
                    <p>本价格为代理记账服务费。</p>
                    <p>不包含其他政府行政收费、申请税控机、国地税报到等费用，客户可选择自行办理（友情提示：由此造成报到逾期税务行政处罚的，客户自行承担），或交由我公司代办费用可根据具体发票实收。</p>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="fw-zm-tt">02</div>
                <div class="fw-zm-txt">
                    <p>不同地区收费基准略有差异。</p>
                </div>
            </div>
            <div class="col-xs-3 border-right-no">
                <div class="fw-zm-tt">03</div>
                <div class="fw-zm-txt">
                    <p>可开具收款收据或发票、发票需另收税点，收取方式为自取、扫描或邮寄。</p>
                </div>
            </div>
            <div class="col-xs-6 border-bottom-no">
                <div class="fw-zm-tt">04</div>
                <div class="fw-zm-txt">
                    <p>依据客户所提供的发票、税务凭证等资料信息进行记账报税，若因所提供资料信息的真实性产生问题，皆由客户自行承担。</p>
                </div>
            </div>
            <div class="col-xs-6 border-right-no border-bottom-no">
                <div class="fw-zm-tt">05</div>
                <div class="fw-zm-txt">
                    <p>若开票数量较多，会视各区域行情每月多增加一定的代理费用、详情可咨询企业服务人员。</p>
                </div>
            </div>
        </div>
    </div>
    <!--footer-->

    <?php include CUR_VIEW_PATH."Spublic/foot.html";?>

</body> 
<script src="public/khshop/js/jquery.min.js"></script>
<script src="public/khshop/js/bootstrap.min.js"></script>
<script src="public/khshop/js/common.js"></script>
<script src="public/khshop/js/wow.min.js"></script>
<script>
    $('#submit').click(function () {alert("请认真读取协议");
        if ($('#xy').is(":checked")==false){
            alert("请认真读取协议"); return false;
        }
    })

if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
	new WOW().init();
};
$('#id').children('li').prop('class','');
</script>
</html>