<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>帮助中心</title>

    <!-- Bootstrap -->
    <link href="public/khshop/css/bootstrap.css" rel="stylesheet">
    <link href="public/khshop/css/animate.min.css" rel="stylesheet">
    <link href="public/khshop/css/css.css" rel="stylesheet">
</head>
<body>
<header>
    <?php include CUR_VIEW_PATH."Spublic/header.html";?>
</header>
	<div class="help-banner">
    	<div class="container">
        	<div class="help-img wow bounceInUp animated"><img src="public/khshop/images/help01.png"></div>
        </div>
    </div>
    <div class="back-f9">
        <div class="container">
            <div class="recruit-c help-c">
				<div class="clearfix help-list-c">
                	<ul class="help-list pull-right clearfix">
                    	<li>
                        	<a href="">提现充值</a>
                            <ul class="help-list-down">
                            	<li><a href="">如何充值</a></li>
                                <li><a href="">如何提现</a></li>
                                <li class="border-no"><a href="">收费标准</a></li>
                            </ul>
                        </li>
                        <li>
                        	<a href="">服务流程</a>
                            <ul class="help-list-down">
                            	<li><a href="">购买流程</a></li>
                                <li><a href="">出售流程</a></li>
                                <li class="border-no"><a href="">寄售交易</a></li>
                            </ul>
                        </li>
                        <li>
                        	<a href="">安全保障</a>
                            <ul class="help-list-down help-list-down-lg">
                            	<li><a href="">店铺转让认证</a></li>
                                <li><a href="">担保交易</a></li>
                                <li class="border-no"><a href="">合同如何签署</a></li>
                            </ul>
                        </li>
                        <li class="active">
                        	<a href="">帮助中心</a>
                            <ul class="help-list-down">
                            	<li class="active"><a href="">买家帮助</a></li>
                                <li><a href="">卖家帮助</a></li>
                                <li class="border-no"><a href="">隐私保护</a></li>
                            </ul>
                        </li>
                        <li>
                        	<a href="">客服中心</a>
                            <ul class="help-list-down help-list-down-last">
                            	<li><a href="">客服咨询</a></li>
                                <li><a href="">建议中心</a></li>
                                <li class="border-no"><a href="">在线问答</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="help-nav">
                	<i class="icon"></i><a href="">帮助中心</a> > <a href="" class="active">卖家帮助</a>
                </div>
                <div class="clearfix">
                	<div class="help-left pull-left">
                    	<ul>
                        	<li class="active"><a href="">网店购买流程</a></li>
                            <li><a href="">怎么查看店铺详细信息</a></li>
                            <li><a href="">网店转让需要准备哪些资料</a></li>
                            <li><a href="">购买的店铺是否安全</a></li>
                            <li><a href="">网店付款后需要做什么</a></li>
                            <li><a href="">购买店铺的作用</a></li>
                            <li><a href="">买家交易温馨提示</a></li>
                        </ul>
                    </div>
                    <div class="pull-right help-right">
                    	<div class="help-right-tt">网店转让需要准备哪些资料?</div>
                        <p>一个未绑定淘宝和支付宝的手机号和一个未绑定淘宝和支付宝的邮箱！</p>
                        <p>一：首先，卖家会提供淘宝会员名、淘宝登陆密码、支付宝账户、支付宝登陆密码和支付宝支付密码给您,之后请【仔细检查】违规，贷款，直通车相关问题是否与与描述相符有疑问请立即联系业务员没有问题则继续进行交接。</p>
                        <p>二：登陆支付宝页面www.alipay.com 安全中心-数字证书-安装（如需填写身份证号，向卖家索取一下）。然后点账户管理-账户信息-【修改绑定手机】、【修改账户名】、【修改登陆密码】、【修改支付密码】（手机和邮箱验证码向卖家索取一下）</p>
                        <p>三：您利用卖家提供给您的登陆信息登陆淘宝页面www.taobao.com 卖家中心-账户管理 页面内【更换号码】、【修改邮箱】、【修改登陆密码】和【收货地址】。（手机和邮箱验证码向卖家索取一下）</p>
                        <p>四：删除历史数字证书，在支付宝证书管理内删除所有历史数字证书，保留本机使用的即可。</p>
                        <p>五：锁定清空支付宝密保问题答案，连续输错5次答案将其锁定。</p>
                        <p>六：以上内容完成以后店铺当日需要修改的资料就修改完毕了，其他信息比如【个人资料】、【隐私设置】等3天后慢慢修改，随后的信息您都可以直接利用绑定手机重置的。这个是为了防止淘宝检测盗号风险而封店，所以资料尽量不要一次修改完！！！如果由于买家违规操作原因造成店铺冻结，后果自负！</p>
                        <p>七：店铺信息交接完毕后，立即提供有效的收件地址给卖家，卖家将把转让合同签好寄给您。您在收到合同后，第一时间联系合同客服。3日内必须寄出合同（特殊情况除外），否则卖家将有权先收回店铺资料，直接判定买家违约。</p>
                        <p>【准备事项】：一个未绑定淘宝和支付宝的手机号和一个未绑定淘宝和支付宝的邮箱！</p>
                        <p>一：首先，卖家会提供淘宝会员名、淘宝登陆密码、支付宝账户、支付宝登陆密码和支付宝支付密码给您,之后请【仔细检查】违规，贷款，直通车相关问题是否与与描述相符有疑问请立即联系业务员没有问题则继续进行交接。</p>
                        <p>二：登陆支付宝页面www.alipay.com 安全中心-数字证书-安装（如需填写身份证号，向卖家索取一下）。然后点账户管理-账户信息-【修改绑定手机】、【修改账户名】、【修改登陆密码】、【修改支付密码】（手机和邮箱验证码向卖家索取一下）</p>
                        <p>三：您利用卖家提供给您的登陆信息登陆淘宝页面www.taobao.com 卖家中心-账户管理 页面内【更换号码】、【修改邮箱】、【修改登陆密码】和【收货地址】。（手机和邮箱验证码向卖家索取一下）</p>
                        <p>四：删除历史数字证书，在支付宝证书管理内删除所有历史数字证书，保留本机使用的即可。</p>
                        <p>五：锁定清空支付宝密保问题答案，连续输错5次答案将其锁定。</p>
                        <p>六：以上内容完成以后店铺当日需要修改的资料就修改完毕了，其他信息比如【个人资料】、【隐私设置】等3天后慢慢修改，随后的信息您都可以直接利用绑定手机重置的。这个是为了防止淘宝检测盗号风险而封店，所以资料尽量不要一次修改完！！！如果由于买家违规操作原因造成店铺冻结，后果自负！</p>
                        <p>七：店铺信息交接完毕后，立即提供有效的收件地址给卖家，卖家将把转让合同签好寄给您。您在收到合同后，第一时间联系合同客服。3日内必须寄出合同（特殊情况除外），否则卖家将有权先收回店铺资料，直接判定买家违约。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer-->

    <?php include CUR_VIEW_PATH."Spublic/foot.html";?>

</body> 
<script src="public/khshop/js/jquery.min.js"></script>
<script src="public/khshop/js/bootstrap.min.js"></script>
<script src="public/khshop/js/common.js"></script>
<script src="public/khshop/js/wow.min.js"></script>
<script>
if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
	new WOW().init();
};
</script>
</html>