<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>帮助中心</title>
    <!-- Bootstrap -->
    <link href="public/khshop/css/bootstrap.css" rel="stylesheet">
    <link href="public/khshop/css/animate.min.css" rel="stylesheet">
    <link href="public/khshop/css/css.css" rel="stylesheet">
</head>
<body>
<header>
    <?php include CUR_VIEW_PATH."Spublic/header.html";?>
</header>
	<div class="help-banner">
    	<div class="container">
        	<div class="help-img wow bounceInUp animated"><img src="public/khshop/images/help01.png"></div>
        </div>
    </div>
    <div class="back-f9">
        <div class="container">
            <div class="recruit-c help-c">
				<div class="clearfix help-list-c">
                	<ul class="help-list pull-right clearfix">
                    	<li>
                        	<a href="index.php?p=show&c=index&a=tixian&name=如何充值">提现充值</a>
                            <ul class="help-list-down">
                            	<li><a href="">如何充值</a></li>
                                <li><a href="">如何提现</a></li>
                                <li class="border-no"><a href="">收费标准</a></li>
                            </ul>
                        </li>
                        <li>
                        	<a href="index.php?p=show&c=index&a=fuwu&name=购买流程">服务流程</a>
                            <ul class="help-list-down">
                            	<li><a href="">购买流程</a></li>
                                <li><a href="">出售流程</a></li>
                                <li class="border-no"><a href="">寄售交易</a></li>
                            </ul>
                        </li>
                        <li>
                        	<a href="index.php?p=show&c=index&a=anquan&name=店铺转让认证">安全保障</a>
                            <ul class="help-list-down help-list-down-lg">
                            	<li><a href="">店铺转让认证</a></li>
                                <li><a href="">担保交易</a></li>
                                <li class="border-no"><a href="">合同如何签署</a></li>
                            </ul>
                        </li>
                        <li>
                        	<a href="index.php?p=show&c=index&a=help&name=买家帮助">帮助中心</a>
                            <ul class="help-list-down">
                            	<li><a href="">买家帮助</a></li>
                                <li><a href="">卖家帮助</a></li>
                                <li class="border-no"><a href="">隐私保护</a></li>
                            </ul>
                        </li>
                        <li class="active">
                        	<a href="">客服中心</a>
                            <ul class="help-list-down help-list-down-last">
                            	<li><a href="index.php?p=show&c=index&a=kefu1&name=客服咨询">客服咨询</a></li>
                                <li class="active"><a href="">建议中心</a></li>
                                <li class="border-no"><a href="index.php?p=show&c=index&a=kefu1&name=在线问答">在线问答</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="help-nav">
                	<i class="icon"></i><a href="">客服中心</a> > <a href="" class="active">建议中心</a>
                </div>
                <div class="proposal-tt text-center">有奖建议征集中</div>
                <div class="proposal-tt-sm text-center">凡建议采纳就奖励100-1000元人民币奖金,或纪念礼品一份！</div>
                <form method="post" action="index.php?p=show&c=index&a=jianyi">
                <div class="row proposal-row">
                	<div class="col-xs-12">
						<textarea name="content" class="form-control input-sell input-proposal-text" placeholder="在这提出您建议意见:"></textarea>
                    </div>
                    <div class="col-xs-6">
                    	<input name="name" type="text" class="form-control input-sell" placeholder="您的姓名：">
                    </div>
                    <div class="col-xs-6">
                    	<input name="tel" type="text" class="form-control input-sell" placeholder="您的联系方式：">
                    </div>
                    <div class="col-xs-6">
                    	<button type="submit" class="btn btn-proposal">提交您的建议</button>
                    </div>
                    <div class="col-xs-6">
                    	<div class="btn-help">您的建议提交后我们会认证仔细阅读，如符合采纳要求，我们将会联系您！</div>
                    </div>
                </div>
                </form>
                <div class="proposal-tt-i">获奖名单与奖品展示</div>
                <ul class="clearfix proposal-list">
                    <?php foreach($result as $v): ?>
                	<li><?=mb_substr($v['name'],0,1,'utf-8')?>***  建议已采纳 获奖金<?=$v['prize']?></li>
                    <?php endforeach; ?>
                </ul>
                <div id="carousel-example-generic" class="carousel slide text-center jy-slide" data-ride="carousel">
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="row jy-row">
                            <div class="col-xs-3"><img src="public/khshop/images/jy01.jpg"></div>
                            <div class="col-xs-3"><img src="public/khshop/images/jy02.jpg"></div>
                            <div class="col-xs-3"><img src="public/khshop/images/jy01.jpg"></div>
                            <div class="col-xs-3"><img src="public/khshop/images/jy02.jpg"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row jy-row">
                            <div class="col-xs-3"><img src="public/khshop/images/jy01.jpg"></div>
                            <div class="col-xs-3"><img src="public/khshop/images/jy02.jpg"></div>
                            <div class="col-xs-3"><img src="public/khshop/images/jy01.jpg"></div>
                            <div class="col-xs-3"><img src="public/khshop/images/jy02.jpg"></div>
                        </div>
                    </div>
                  </div>

                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                  </a>
                </div>
            </div>
        </div>
    </div>
    <!--footer-->

    <?php include CUR_VIEW_PATH."Spublic/foot.html";?>

</body> 
<script src="public/khshop/js/jquery.min.js"></script>
<script src="public/khshop/js/bootstrap.min.js"></script>
<script src="public/khshop/js/common.js"></script>
<script src="public/khshop/js/wow.min.js"></script>
<script>
if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
	new WOW().init();
};
</script>
</html>