<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>企业服务-首页</title>

    <!-- Bootstrap -->
    <link href="public/khshop/css/bootstrap.css" rel="stylesheet">
    <link href="public/khshop/css/animate.min.css" rel="stylesheet">
    <link href="public/khshop/css/css.css" rel="stylesheet">
</head>
<body>
<header>
    <?php include CUR_VIEW_PATH."Spublic/qiye_header.html";?>
</header>
    <div class="fw-banner home-banner">
    	<div class="container">
            <div class="fw-banner-tt wow bounceInLeft animated">首创一站式企业服务</div>
            <div class="fw03 wow bounceInRight animated"><img src="public/khshop/images/home01.png"></div>
            <div class="home02 wow bounceInUp animated"><img src="public/khshop/images/home02.png"></div>
        </div>
    </div>
    <div class="back-f9">
        <div class="container">
            <div class="rz-top yy-top fw-top bg-top">
                <div class="row text-center home-row">
                    <div class="col-xs-4 home-one wow bounceInLeft animated">
                        <div class="home-icon"><img src="public/khshop/images/home-icon01.png"></div>
                        <div class="home-icon-tt">升级企业店铺</div>
                        <div class="home-icon-txt">UPGRADE ENTERPRISE STORE</div>
                        <a href="index.php?p=show&c=index&a=dpsj" class="btn btn-home">MORE+</a>
                    </div>
                    <div class="col-xs-4 home-one home-tow wow bounceInUp animated">
                        <div class="home-icon"><img src="public/khshop/images/home-icon02.png"></div>
                        <div class="home-icon-tt home-icon-tt02">代理记账服务</div>
                        <div class="home-icon-txt">BOOKKEEPING SERVICE</div>
                        <a href="index.php?p=show&c=index&a=dljz" class="btn btn-home btn-home02">MORE+</a>
                    </div>
                    <div class="col-xs-4 wow bounceInRight animated">
                        <div class="home-icon"><img src="public/khshop/images/home-icon03.png"></div>
                        <div class="home-icon-tt home-icon-tt03">企业变更服务</div>
                        <div class="home-icon-txt">ENTERPRISE CHANGE SERVICE</div>
                        <a href="index.php?p=show&c=index&a=bgfw" class="btn btn-home btn-home03">MORE+</a>
                    </div>
                </div>
            </div>
        </div>
         <div class="container fw-zm sj-lc">
            <div class="yy-title wow bounceInDown animated"><span>升级店铺流程</span></div>
            <div class="yy-title-sm text-center wow bounceInDown animated">TO UPGRADE THE STORE PROCESS</div>
            <div class="sj-lc-img text-center"><img src="public/khshop/images/sj05.png"></div>
            <div class="clearfix">
                <div class="width20">
                    <div class="sjlc-c">
                        <div class="sjlc-tt">工商注册</div>
                        <div class="sjlc-txt"><span>3-20</span>个工作日</div>
                    </div>
                </div>
                <div class="width20">
                    <div class="sjlc-c">
                        <div class="sjlc-tt">税种报道</div>
                        <div class="sjlc-txt"><span>2-3</span>个工作日</div>
                    </div>
                </div>
                <div class="width20">
                    <div class="sjlc-c">
                        <div class="sjlc-tt">银行开户</div>
                        <div class="sjlc-txt"><span>15-20</span>个工作日</div>
                    </div>
                </div>
                <div class="width20">
                    <div class="sjlc-c">
                        <div class="sjlc-tt">淘宝后台上传信息</div>
                        <div class="sjlc-txt"><span>30</span>个工作日</div>
                    </div>
                </div>
                <div class="width20">
                    <div class="sjlc-c">
                        <div class="sjlc-tt">股权变更</div>
                        <div class="sjlc-txt"><span>7-10</span>个工作日</div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
    <div class="home-back">
        <div class="container">
            <div class="home-back-tt wow bounceInDown animated">代理服务<span>内容</span></div>
            <div><img src="public/khshop/images/home04.png"></div>
            <div class="home-back-btn"><a href="" class="btn btn-home">MORE+</a></div>
            <div class="home-back-c">
                <div class="home-back-c-tt">需要准备材料</div>
                <p>1、企业基础证件的复印件；</p>
                <p>2、企业CA证书、报税密码；</p>
                <p>3、交接企业原财务账目；</p>
            </div>
        </div>
    </div>
    <div class="home-bottom">
        <div class="container">
            <div class="yy-title wow bounceInDown animated"><span>企业变更流程</span></div>
            <div class="yy-title-sm text-center wow bounceInDown animated">ENTERPRISE CHANGE PROCESS</div>
            <div class="row text-center">
                <div class="col-xs-4">
                    <div class="home-back-fff">
                        <div class="munber-back"><div class="number-b">1</div></div>
                        <div class="home-back-img"><img src="public/khshop/images/home06.png"></div>
                        <div class="home-back-img-tt">工商变更</div>
                        <div class="home-back-img-txt">递交材料后大概7-10个工作日左右领取新的营业执照</div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="home-back-fff">
                        <div class="munber-back"><div class="number-b">2</div></div>
                        <div class="home-back-img"><img src="public/khshop/images/home07.png"></div>
                        <div class="home-back-img-tt">税务变更</div>
                        <div class="home-back-img-txt">2-15个工作日左右</div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="home-back-fff">
                        <div class="munber-back"><div class="number-b">3</div></div>
                        <div class="home-back-img"><img src="public/khshop/images/home07.png"></div>
                        <div class="home-back-img-tt">银行基本账户变更</div>
                        <div class="home-back-img-txt">10个工作日左右</div>
                    </div>
                </div>
            </div>
            <div class="home-bottom-b text-center">不同地区政策略有不同，工商税务变更顺序有所差异，变更过程中需要客户到场1-2次，具体情况咨询客服!</div>
            <a role="button" class="home-bottom-btn"></a>
        </div>
    </div>
    <!--footer-->

    <?php include CUR_VIEW_PATH."Spublic/foot.html";?>

</body> 
<script src="public/khshop/js/jquery.min.js"></script>
<script src="public/khshop/js/bootstrap.min.js"></script>
<script src="public/khshop/js/common.js"></script>
<script src="public/khshop/js/wow.min.js"></script>
<script>
if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
	new WOW().init();
};
$('#id').children('li').prop('class','');
</script>
</html>