<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>代入驻</title>

    <!-- Bootstrap -->
    <link href="public/khshop/css/bootstrap.css" rel="stylesheet">
    <link href="public/khshop/css/animate.min.css" rel="stylesheet">
    <link href="public/khshop/css/css.css" rel="stylesheet">
</head>
<body>
<header>
    <?php include CUR_VIEW_PATH."Spublic/header.html";?>
</header>
    <div class="rz-banner">
    	<div class="container">
        	<div class="rz-banner-txt wow bounceInDown animated">网店代入驻<span><br>天猫、京东、蘑菇街专业入驻</span></div>
            <div class="rz-pc wow bounceInUp animated"><img src="public/khshop/images/rz-pc.png"></div>
        </div>
    </div>
    <div class="back-f9">
        <div class="container">
        	<div class="rz-top">
            	<div class="rz-bz text-center"><img src="public/khshop/images/rz01.png"></div>
                <div class="rz-btn-c text-center">
                    <a role="button" href="http://wpa.qq.com/msgrd?v=3&uin=447171377&site=qq&menu=yes" class="btn btn-rz">在线咨询</a>
                    <a role="button" href="#ruzhu" class="btn btn-rz btn-rz-r">现在入驻</a>
                </div>
                <div class="rz-tt text-center">多平台全类目强势入驻</div>
                <div class="rz-tt-sm text-center">天猫、京东、蘑菇街等类目皆可入驻，企业信息皆可定制</div>
                <ul class="rz-list clearfix wow bounceInLeft animated">
                    <li class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" class="tmall"></a></li>
                    <li><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" class="mgj"></a></li>
                    <li><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" class="jd"></a></li>
                </ul>
                  <!-- Tab panes -->
                  <div class="tab-content wow bounceInRight animated">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <div class="row text-center rz-row">

                            <?php foreach($tm as $v): ?>
                            <div class="pull-left">
                                <div class="rz-icon-c">
                                    <div class="rz-icon"><img src="<?=$v['img']?>"></div>
                                    <div class="rz-icon-txt"><?=$v['biaoti']?></div>
                                    <a href="<?=$v['url']?>" class="rz-icon-a">了解详情</a>
                                </div>
                            </div>
                           <?php endforeach; ?>

                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                        <div class="row text-center rz-row">

                            <?php foreach($mgj as $v): ?>
                            <div class="pull-left">
                                <div class="rz-icon-c">
                                    <div class="rz-icon"><img src="<?=$v['img']?>"></div>
                                    <div class="rz-icon-txt"><?=$v['biaoti']?></div>
                                    <a href="<?=$v['url']?>" class="rz-icon-a">了解详情</a>
                                </div>
                            </div>
                            <?php endforeach; ?>


                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages">
                        <div class="row text-center rz-row">

                            <?php foreach($jd as $v):  ?>
                            <div class="pull-left">
                                <div class="rz-icon-c">
                                    <div class="rz-icon"><img src="<?=$v['img']?>"></div>
                                    <div class="rz-icon-txt"><?=$v['biaoti']?></div>
                                    <a href="<?=$v['url']?>" class="rz-icon-a">了解详情</a>
                                </div>
                            </div>
                            <?php endforeach; ?>

                        </div>
                    </div>
                </div>
            </div>
            <div class="rz-tt text-center wow bounceInDown animated">入驻成功案例</div>
            <div class="rz-tt-sm rz-tt-sm-eng text-center wow bounceInDown animated">SUCCESSFUL CASES</div>
            <div class="rz-tabs-img">
                <ul class="rz-tabs-list clearfix">
                    <li class="active"><a href="#tabs01" aria-controls="tabs01" role="tab" data-toggle="tab">天猫案例</a></li>
                    <li><a href="#tabs02" aria-controls="tabs02" role="tab" data-toggle="tab">蘑菇街案例</a></li>
                    <li class="border-no"><a href="#tabs03" aria-controls="tabs03" role="tab" data-toggle="tab">京东案例</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tabs01">
                        <div id="rz-tabs-img-c-slide01" class="carousel slide rz-tabs-img-c-slide" data-ride="carousel">
                          <!-- Wrapper for slides -->
                          <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="row  rz-tabs-img-c-row">

                                    <?php foreach($tm1 as $key=>$v): ?>
                                    <?php if($key<3): ?>
                                    <div class="col-xs-4">
                                        <div class="rz-tabs-img-c">
                                            <div><img src="<?=$v['al']?>"></div>
                                            <div class=" rz-tabs-txt"><?=$v['ms1']?></div>
                                            <div class="rz-tabs-label"><div><p><img src="public/khshop/images/rz-tabs-icon01.png"></p></div><?=$v['ms2']?></div>
                                        </div>
                                    </div>
                                    <?php endif; ?>
                                    <?php endforeach; ?>

                                </div>
                            </div>
                            <div class="item">
                                <div class="row  rz-tabs-img-c-row">

                                    <?php foreach($tm1 as $key=>$v): ?>
                                    <?php if($key>=3): ?>
                                    <div class="col-xs-4">
                                        <div class="rz-tabs-img-c">
                                            <div><img src="<?=$v['al']?>"></div>
                                            <div class=" rz-tabs-txt"><?=$v['ms1']?></div>
                                            <div class="rz-tabs-label"><div><p><img src="public/khshop/images/rz-tabs-icon01.png"></p></div><?=$v['ms2']?></div>
                                        </div>
                                    </div>
                                    <?php endif; ?>
                                    <?php endforeach; ?>

                                </div>
                            </div>
                          </div>

                          <!-- Controls -->
                          <a class="left carousel-control" href="#rz-tabs-img-c-slide01" role="button" data-slide="prev">
                          </a>
                          <a class="right carousel-control" href="#rz-tabs-img-c-slide01" role="button" data-slide="next">
                          </a>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tabs02">
                        <div id="rz-tabs-img-c-slide02" class="carousel slide rz-tabs-img-c-slide" data-ride="carousel">
                          <!-- Wrapper for slides -->
                          <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="row  rz-tabs-img-c-row">



                                    <?php foreach($mgj1 as $key=>$v): ?>
                                    <?php if($key<3): ?>
                                    <div class="col-xs-4">
                                        <div class="rz-tabs-img-c">
                                            <div><img src="<?=$v['al']?>"></div>
                                            <div class=" rz-tabs-txt"><?=$v['ms1']?></div>
                                            <div class="rz-tabs-label"><div><p><img src="public/khshop/images/rz-tabs-icon03.png"></p></div><?=$v['ms2']?></div>
                                        </div>
                                    </div>
                                    <?php endif; ?>
                                    <?php endforeach; ?>




                                </div>
                            </div>
                            <div class="item">
                                <div class="row  rz-tabs-img-c-row">

                                    <?php foreach($mgj1 as $key=>$v): ?>
                                    <?php if($key>=3): ?>
                                    <div class="col-xs-4">
                                        <div class="rz-tabs-img-c">
                                            <div><img src="<?=$v['al']?>"></div>
                                            <div class=" rz-tabs-txt"><?=$v['ms1']?></div>
                                            <div class="rz-tabs-label"><div><p><img src="public/khshop/images/rz-tabs-icon01.png"></p></div><?=$v['ms2']?></div>
                                        </div>
                                    </div>
                                    <?php endif; ?>
                                    <?php endforeach; ?>



                                </div>
                            </div>
                          </div>

                          <!-- Controls -->
                          <a class="left carousel-control" href="#rz-tabs-img-c-slide02" role="button" data-slide="prev">
                          </a>
                          <a class="right carousel-control" href="#rz-tabs-img-c-slide02" role="button" data-slide="next">
                          </a>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tabs03">
                        <div id="rz-tabs-img-c-slide03" class="carousel slide rz-tabs-img-c-slide" data-ride="carousel">
                          <!-- Wrapper for slides -->
                          <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="row  rz-tabs-img-c-row">



                                    <?php foreach($jd1 as $key=>$v): ?>
                                    <?php if($key>=3): ?>
                                    <div class="col-xs-4">
                                        <div class="rz-tabs-img-c">
                                            <div><img src="<?=$v['al']?>"></div>
                                            <div class=" rz-tabs-txt"><?=$v['ms1']?></div>
                                            <div class="rz-tabs-label"><div><p><img src="public/khshop/images/rz-tabs-icon02.png"></p></div><?=$v['ms2']?></div>
                                        </div>
                                    </div>
                                    <?php endif; ?>
                                    <?php endforeach; ?>



                                </div>
                            </div>
                            <div class="item">
                                <div class="row  rz-tabs-img-c-row">



                                    <?php foreach($mgj1 as $key=>$v): ?>
                                    <?php if($key>=3): ?>
                                    <div class="col-xs-4">
                                        <div class="rz-tabs-img-c">
                                            <div><img src="<?=$v['al']?>"></div>
                                            <div class=" rz-tabs-txt"><?=$v['ms1']?></div>
                                            <div class="rz-tabs-label"><div><p><img src="public/khshop/images/rz-tabs-icon01.png"></p></div><?=$v['ms2']?></div>
                                        </div>
                                    </div>
                                    <?php endif; ?>
                                    <?php endforeach; ?>




                                </div>
                            </div>
                          </div>

                          <!-- Controls -->
                          <a class="left carousel-control" href="#rz-tabs-img-c-slide03" role="button" data-slide="prev">
                          </a>
                          <a class="right carousel-control" href="#rz-tabs-img-c-slide03" role="button" data-slide="next">
                          </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service-c">
        <div class="container">
            <div class="rz-tt text-center wow bounceInDown animated">全面专业服务</div>
            <div class="rz-tt-sm rz-tt-sm-eng text-center wow bounceInDown animated">COMPREHENSIVE MAJOR SERVICE</div>
            <div class="rz-service">
                <div class="rz-service-c">
                    <div class="rz-service-c-tt">分析报告</div>
                    <div class="rz-service-c-txt">针对不同的公司情况进行入驻深度分析，全面结合入驻规则给出专业的可执行入驻方案。</div>
                </div>
                <div class="rz-service-c rz-service-c02">
                    <div class="rz-service-c-tt">质检报告</div>
                    <div class="rz-service-c-txt">根据天猫审核规则，提供专业的产品质量检测并出具权威报告，用以供审核。</div>
                </div>
                <div class="rz-service-c rz-service-c03">
                    <div class="rz-service-c-tt">商标方案</div>
                    <div class="rz-service-c-txt">根据不同行业和类目情况，提供专业的商标情况咨询、商标注册及商标转让的服务方案。</div>
                </div> 
                <div class="rz-service-c rz-service-c04">
                    <div class="rz-service-c-tt">材料审核</div>
                    <div class="rz-service-c-txt">协助企业准备各类资质证书及申请材料，减少审核时间并提高审核通过率。</div>
                </div> 
                <div class="rz-service-c rz-service-c05">
                    <div class="rz-service-c-tt">24H服务</div>
                    <div class="rz-service-c-txt">专业电商入驻顾问24小时温馨服务，提供有效的入驻解决方案和及时的审核反馈。</div>
                </div> 
            </div>
        </div>
    </div>
    <div class="back-f9">
        <div class="rz-back">
            <div class="container">
                <div class="rz-tt text-center wow bounceInDown animated">尽享优势服务</div>
                <div class="rz-tt-sm rz-tt-sm-eng text-center wow bounceInDown animated">service ENJOY THE ADVANTAGES OF SERVICE</div>
                <div class="clearfix">
                    <div class="rz-back-l pull-left wow bounceInLeft animated">
                        <div class="pull-left">
                            <ul class="rz-back-list">
                                <li>入驻成功才收费</li>
                                <li>专业顾问解决入驻疑难</li>
                                <li>全程一站式无忧服务</li>
                                <li>全渠道电商资源支持</li>
                                <li>平台规模保证入驻成功率</li>
                            </ul>
                        </div>
                        <div class="rz-back-label pull-left">店来店往<br><span>代入驻</span></div>
                    </div>
                    <div class="pull-left rz-back-i"><img src="public/khshop/images/rz06.png"></div>
                    <div class="rz-back-l rz-back-r pull-right wow bounceInRight animated">
                        <div class="rz-back-label pull-left">普通商家<br><span>代入驻</span></div>
                        <div class="pull-left">
                            <ul class="rz-back-list">
                                <li>入驻成功才收费</li>
                                <li>专业顾问解决入驻疑难</li>
                                <li>全程一站式无忧服务</li>
                                <li>全渠道电商资源支持</li>
                                <li>平台规模保证入驻成功率</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="rz-tt text-center wow bounceInDown animated">入驻服务流程</div>
            <div class="rz-tt-sm rz-tt-sm-eng text-center wow bounceInDown animated">SETTLED SERVICE PROCESS</div>
            <div class="rz-lc"><img src="public/khshop/images/rz07.png"></div>
        </div>
    </div>

    <div class="rz-bottom" id="ruzhu">
        <div class="container">
            <form method="post" action="index.php?p=show&c=index&a=rzxq">
            <div class="rz-tt text-center wow bounceInDown animated">在线需求填写</div>
            <div class="rz-tt-sm rz-tt-sm-eng text-center wow bounceInDown animated">ONLINE NEEDS TO FILL IN </div>
            <div class="clearfix">
                <div class="pull-left about-input-txt">您的姓名</div>
                <div class="pull-left"><input  name="name" type="text" class="form-control about-input"></div>
            </div>
            <div class="clearfix">
                <div class="pull-left about-input-txt">您的手机</div>
                <div class="pull-left"><input name="tel" type="text" class="form-control about-input"></div>
            </div>
            <div class="clearfix">
                <div class="pull-left about-input-txt">您的QQ</div>
                <div class="pull-left"><input name="QQ" type="text" class="form-control about-input"></div>
            </div> 
            <div class="clearfix">
                <div class="pull-left about-input-txt">商城类型</div>
                <div class="pull-left"><input name="sclx" type="text" class="form-control about-input"></div>
            </div> 
            <div class="clearfix">
                <div class="pull-left about-input-txt">需求类目</div>
                <div class="pull-left"><input name="xqxm" type="text" class="form-control about-input"></div>
            </div> 
            <div class="clearfix">
                <div class="pull-left about-input-txt">需求描述</div>
                <div class="pull-left"><textarea name="xqms" type="text" class="form-control about-input about-input-lg"></textarea></div>
            </div> 
            <div class="clearfix">
                <div class="pull-left about-input-txt"></div>
                <div class="pull-left"><button type="button" class="btn btn-about" id="tj">快速提交并申请</button></div>
            </div>
</form>
        </div>
    </div>

    <!--footer-->

    <?php include CUR_VIEW_PATH."Spublic/foot.html";?>

</body> 
<script src="public/khshop/js/jquery.min.js"></script>
<script src="public/khshop/js/bootstrap.min.js"></script>
<script src="public/khshop/js/common.js"></script>
<script src="public/khshop/js/wow.min.js"></script>
<script>
    if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
        new WOW().init();
    };

    $('#tj').click(function () {

        var tel=$('input[name=tel]').val();
        var qq=$('input[name=QQ]').val();
        var name=$('input[name=name]').val();
        var reg = /^1[34578]\d{9}$/;
        var reg1=/^[1-9][0-9]{4,9}$/;
        if (reg.test(tel)){
            if (reg1.test(qq)){
                if (name!=''){
                    $('form').submit();
                }else {
                    alert('请输入姓名')
                }
            }else {
                alert('请正确输入QQ')
            }
        }else{
            alert('请正确输入手机号码')
        }

    });







    $('#id').children('li').prop('class','');
    $('#drz').attr('class','active');
</script>
</html>