<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>登录密码</title>

		<!-- Bootstrap -->
		<link href="public/khshop/css/bootstrap.css" rel="stylesheet">
		<link href="public/khshop/css/user.css" rel="stylesheet">
		<link rel="stylesheet" href="public/khshop/css/style_css.css" />
	</head>

	<body>
	<?php include CUR_VIEW_PATH."Spublic/custom_header.html";?>
		<div class="right-c" id="right-c">
			<div class="nav-list">当前位置：
				<a href="?c=custom&a=person">个人中心</a> >
				<a href="javascript:;" class="active">企业服务</a>
			</div>
			<div class="clearfix">
			<ul class="clearfix pull-left tab-list">
				<li >
					<a href="?c=custom&a=person">个人资料</a>
				</li>
				<li>
					<a href="?c=custom&a=photo">上传头像</a>
				</li>
				<li class="active">
					<a href="?c=custom&a=pwd">登录密码</a>
				</li>
				<li>
					<a href="?c=custom&a=status">修改状态</a>
				</li>
   		   </ul>
      </div>
			<form action="?c=custom&a=pwd" method="post">
			<div class="user-back">
				<div class="clearfix gl-clearfix">
					<div class="pull-left cs-left-txt cs-left-txt02">旧登录密码</div>
					<div class="pull-left"><input type="password" name="old" id="old" class="form-control input input-gl"></div>
				</div>
				<div class="clearfix gl-clearfix">
					<div class="pull-left cs-left-txt cs-left-txt02">新登录密码</div>
					<div class="pull-left"><input type="password" name="new" id="one" class="form-control input input-gl"></div>
				</div>
				<div class="clearfix gl-clearfix">
					<div class="pull-left cs-left-txt cs-left-txt02">确认新密码</div>
					<div class="pull-left"><input type="password" name="pwd" id="two" class="form-control input input-gl"></div>
				</div>
				<button type="submit" class="btn btn-tj btn-tj01 btn-login" id="submit">保存修改</button>
				<div class="password-help" style="display: none" id="msg">新密码不一致</div>
			</div>
			</form>
			<div class="ewm-c">
				<div class="ewm text-center">
					<div><img src="public/khshop/images/user/ewm.png"></div>
					扫码关注我们
				</div>
			</div>
			<div class="footer text-center">Copyright © 2015-2017,www.dianlaidianwang.com, All rights reserved 京ICP备XD-20176980号 未经同意，不得转载</div>
		</div>
	</body>
	<script src="public/khshop/js/jquery.min.js"></script>
	<script src="public/khshop/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="public/khshop/js/user.nicescroll.js"></script>
	<script type="text/javascript" src="public/khshop/js/zen_javascript.js" ></script>
	<script type="text/javascript">
		$("#submit").click(function () {
			if ($("#one").val()!=$("#two").val()){
			    $("#msg").css("display","block");
			    return false;
			}
        })
		$("#nav-left").niceScroll({
			cursorcolor: "#a5a5a5",
			cursoropacitymax: 1,
			touchbehavior: false,
			cursorwidth: "5px",
			cursorborder: "0",
			cursorborderradius: "5px"
		});
		$("#right-c").niceScroll({
			cursorcolor: "#a5a5a5",
			cursoropacitymax: 1,
			touchbehavior: false,
			cursorwidth: "5px",
			cursorborder: "0",
			cursorborderradius: "5px"
		});
	</script>
	<script>
		$(".nav-click").click(function() {
			$(".nav-click").parents("li").removeClass("active");
			$(".nav-down").slideUp("slow");
			if($(this).parents("li").find(".nav-down").is(":hidden")) {
				$(this).parents("li").find(".nav-down").slideDown("slow");
				$(this).parents("li").addClass("active");
			} else {
				$(this).parents("li").find(".nav-down").slideUp("slow");
			}
		});
	</script>

</html>