<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>注册</title>
    <!-- Bootstrap -->
    <link href="public/khshop/css/bootstrap.css" rel="stylesheet">
    <link href="public/khshop/css/animate.min.css" rel="stylesheet">
    <link href="public/khshop/css/css.css" rel="stylesheet">
</head>
<body>
<header>
    <?php include CUR_VIEW_PATH."Spublic/header.html";?>
</header>
    <div class="register-back">
        <div class="container">
            <div class="pull-right">
                <div class="register-tt">
                    <div class="login-tt text-center">FREE REGISTRETION</div>
                    <div class="login-tt-lg text-center"><span>免费注册</span></div>
                </div>
                <form action="index.php?p=show&c=login&a=zhuce" method="post">
                <div class="register-c">
                    <div class="relative">
                        <input name="name" type="text" class="form-control input-sell" placeholder="请输入您的用户名">
                    </div>
                    <div class="relative">
                        <input type="text" id="code_input" class="form-control input-sell" placeholder="请输入右侧动态码">
                        <div id="v_container"  class="login-yzm" style="width: 150px;height: 40px;"></div>
                    </div>
                    <input name="tel" id="phone" type="text" class="form-control input-sell" placeholder="手机号码">
                    <div class="relative">
                        <input name="" id="tel" type="text" class="form-control input-sell" placeholder="手机验证码">
                       <a  href="javascript:;" type="button" class="btn-phone-dx" style="float: left">
                           <input type="button" id="sms" style="background-color: rgba(0,0,0,0);border: none" value="获取手机验证码"></a>
                    </div>
                    <input name="username" type="text" class="form-control input-sell" placeholder="微信或QQ号码">
                    <div class="relative">
                        <input name="password" type="password" class="form-control input-sell" placeholder="登录密码（6-12位数字+字母组合）">
                    </div>
                    <div class="relative" id="p2">
                        <input id="password2" type="password" class="form-control input-sell" placeholder="再次输入登录密码">
                    </div>
                    <select name="from" class="form-control input-sell">
                        <option value="1">请选择来源</option>
                        <option value="2">请选择来源</option>
                        <option value="3">请选择来源</option>
                        <option value="4">请选择来源</option>
                    </select>
                    <div class="checkbox">
                        <label>
                          <input id="xy" type="checkbox"> 我已认真阅读并同意<a href="">《店来店往服务条款》</a>
                        </label>
                    </div>
                    <button id="zhuce" type="button" class="btn btn-g btn-g02">立即注册</button>
                    <div class="login-c-b">已经是店来店往会员？现在<a href="?c=login&a=login">立即登录</a></div>
                </div>
                </form>
            </div>

        </div>
    </div>
    <!--footer-->

    <?php include CUR_VIEW_PATH."Spublic/foot.html";?>

</body> 
<script src="public/khshop/js/jquery.min.js"></script>
<script src="public/khshop/js/bootstrap.min.js"></script>
<script src="public/khshop/js/common.js"></script>
<script src="public/khshop/js/wow.min.js"></script>
<script src="public/js/gVerify.js"></script>
<script>
    $('#sms').click(function () {
        var num=$('#phone').val();

        if (num.length!=11){
            alert("手机格式不正确");
            return false;
        }
        var that=$(this);
        $.post('index.php?p=show&c=sms&a=sms',{'tel':num},function (msg) {
            if (msg=='success'){
                alert("短信发送成功");
                settime(that);
            }
        });
    });


    var verifyCode = new GVerify("v_container");
if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
	new WOW().init();
};
$('#zhuce').click(function () {
    var name=$('input[name=name]').val();
    var tel=$('#phone').val();
    var username=$('input[name=username]').val();
    var res = verifyCode.validate(document.getElementById("code_input").value);
    var tel1=$('#tel').val();
      var password=$('input[name=password]').val();
      var password2=$('#password2').val();
      $.get('index.php?p=show&c=login&a=get',{tel:tel},function (msg) {
              if (tel1!=msg){
                  alert('手机验证码错误');return false;
      }
      });
      if (password!=password2){
           $('<div class="register-help"><span>两次密码不一致！</span><i class="glyphicon glyphicon-triangle-right"></i></div>').appendTo('#p2');return false;
      }
      if (name==''){
          alert('姓名不能为空');return false;
      };
      if (tel==''){
          alert('电话号码不能为空');return false;
      }
      if (username==''){
          alert('用户名不能为空');return false;
      }
      if (password==''){
          alert('密码不能为空');return false;
      }
      if (password.length<6){
          alert("密码长度不能少于6位");return false;
      }
    if(!res){
        alert("验证码错误");return false;
    }
    if ($('#xy').is(":checked")==false){
        alert("请认真读取协议"); return false;
    }
    $("form").submit();
});

    var countdown=120;
    function settime(obj) { //发送验证码倒计时
        if (countdown == 0) {
            obj.attr('disabled',false);
            //obj.removeattr("disabled");
            obj.val("获取手机验证码");
            countdown = 120;
            return;
        } else {
            obj.attr('disabled',true);
            obj.val("重新发送(" + countdown + ")");
            countdown--;
        }
        setTimeout(function() {
                settime(obj)
            }
            ,1000)
    }


</script>
</html>