<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>注册成功</title>

    <!-- Bootstrap -->
    <link href="public/khshop/css/bootstrap.css" rel="stylesheet">
    <link href="public/khshop/css/animate.min.css" rel="stylesheet">
    <link href="public/khshop/css/css.css" rel="stylesheet">
</head>
<body>
<header>
    <?php include CUR_VIEW_PATH."Spublic/header.html";?>
</header>
    <div class="register-success">
        <div class="register-center">
            <div class="register-sm clearfix">
                <div class="pull-left register-icon"><img src="public/khshop/images/register03.png"></div>
                <div class="pull-left">
                    <div class="register-top">恭喜，<span><?=$data['name']?></span>已注册成功！</div>
                    <div class="btn-row clearfix">
                        <a href="/" class="link-a">进入首页</a>
                        <a href="?c=user&a=index" class="link-a link-a02">管理中心</a>
                        <a href="" class="link-a link-a03">网店估价</a>
                    </div>
                    <div class="tishi">
                        <p>您的手机号码：<span><?=$data['tel']?></span> 将用于密码找回，认购和发布网店。</p>
                        <p>请不要向他人透漏您的手机号码与密码！</p>
                    </div>
                </div>
            </div>
            <div class="register-sm clearfix border-no">
                <div class="pull-left register-icon"><img src="public/khshop/images/register04.png"></div>
                <div class="pull-left">
                    <div class="register-top-sm">超过90%的用户选择了填写安全设置，账户更安全，网店交易更放心。</div>
                    <div class="btn-row clearfix">
                        <a href="" class="link-a link-a04">填写安全设置</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer-->

    <?php include CUR_VIEW_PATH."Spublic/foot.html";?>

</body> 
<script src="public/khshop/js/jquery.min.js"></script>
<script src="public/khshop/js/bootstrap.min.js"></script>
<script src="public/khshop/js/common.js"></script>
<script src="public/khshop/js/wow.min.js"></script>
<script>
if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
	new WOW().init();
};
</script>
</html>