<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>购买网店</title>

    <!-- Bootstrap -->
    <link href="public/khshop/css/bootstrap.css" rel="stylesheet">
    <link href="public/khshop/css/bootstrap-datetimepicker.css" rel="stylesheet" media="screen">
    <link href="public/khshop/css/animate.min.css" rel="stylesheet">
    <link href="public/khshop/css/ion.rangeSlider.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="public/khshop/css/ion.rangeSlider.skinNice.css">
    <link href="public/khshop/css/css.css" rel="stylesheet">
    <script src="public/khshop/js/jquery.min.js"></script>
    <script src="public/khshop/js/bootstrap.min.js"></script>
    <script src="public/khshop/js/common.js"></script>
    <script src="public/khshop/js/wow.min.js"></script>
    <script type="text/javascript" src="public/khshop/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="public/khshop/js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script type="text/javascript" src="public/khshop/js/enprsIndex.js"></script>
    <script type="text/javascript" src="public/khshop/js/ion.rangeSlider.js"></script>
</head>
<body>
<header>
    <?php include CUR_VIEW_PATH."Spublic/header.html";?>
</header>
    <div class="back-f9">
        <div class="container">
            <div class="sell-banner">
            	<img src="public/khshop/images/bbb.png">
            </div>
        	<div class="sell-border purchase-border">
				<div class="sell-nav clearfix">
                	<div class="pull-left">当前位置：<a href="">首页</a> &gt; <a href="" class="active">出售网店</a></div>
                    <form method="post" action="index.php?p=show&c=index&a=search6&dpzt=<?=urlencode(base64_encode($ms['dpzt']));?>&sshy=<?=urlencode(base64_encode($ms['sshy']));?>&jg=<?=$ms['jg']?>&qx=<?=$key?>&di=<?=$_GET['di']?>&gao=<?=$_GET['gao']?>">
                    <div class="pull-right search-margin">
                        <div class="search-w clearfix">
                            <input type="text" name="number" value="<?=$ms1['number']?>" class="form-control input-search" placeholder="填写网店编号" />
                            <button type="submit" class="btn btn-search"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="clearfix list-purchase">
                	<div class="pull-left purchase-left">您的选择</div>
                    <div class="pull-left purchase-right">
                    	<ul class="purchase-ul gjc-ul">

                            <?php foreach($ms as $key=>$v): ?>
                            <?php if($v): ?>
                            <?php if($key=='jg'): ?>
                            <?php
                                switch($v){
                                    case 1:
                                    $v="5万-10万";
                                    break;

                                    case 2:
                                    $v="10万-20万";
                                    break;

                                    case 3:
                                    $v="20万-50万";
                                    break;

                                    case 4:
                                    $v="50万以上";
                                    break;
                                }
                             ?>
                            <?php endif; ?>
                            <li><span><?=$v?><a role="button" href="index.php?p=show&c=index&a=search6&dpzt=<?=urlencode(base64_encode($ms['dpzt']));?>&sshy=<?=urlencode(base64_encode($ms['sshy']));?>&jg=<?=$ms['jg']?>&qx=<?=$key?>&di=<?=$_GET['di']?>&gao=<?=$_GET['gao']?>&number=<?=$ms1['number']?>">×</a></span></li>
                            <?php endif;  ?>
                            <?php endforeach; ?>

                        </ul>
                    </div>
                </div>
                <div class="clearfix list-purchase">
                	<div class="pull-left purchase-left">所在平台</div>
                    <div class="pull-left purchase-right">
                    	<ul class="purchase-ul">

                            <li><a class="active" role="button" href="javascript:;">企业淘宝</a></li>
                            <?php $vs=BuyController::syptAction(); foreach($vs as $v): ?>

                            <?php if($v['u1']==$data['pt']){ ?>
                            <li><a  class="active" role="button" href="index.php?p=show&c=index&a=search5&pt=<?=urlencode(base64_encode($v['u1']));?>&lx=<?=urlencode(base64_encode($data['lx']));?>&sb=<?=urlencode(base64_encode($data['sb']));?>&hy=<?=urlencode(base64_encode($data['hy']));?>&jg=<?=$data['jg']?>&number=<?=$ms1['number']?>"><?=$v['u1']?></a></li>
                            <?php  }else{ ;?>
                            <li><a  role="button" href="index.php?p=show&c=index&a=search5&pt=<?=urlencode(base64_encode($v['u1']));?>&lx=<?=urlencode(base64_encode($data['lx']));?>&sb=<?=urlencode(base64_encode($data['sb']));?>&hy=<?=urlencode(base64_encode($data['hy']));?>&jg=<?=$data['jg']?>&number=<?=$ms1['number']?>"><?=$v['u1']?></a></li>
                            <?php }?>

                            <?php endforeach; ?>

                        </ul>
                    </div>
                </div>
                <div class="clearfix list-purchase">
                	<div class="pull-left purchase-left">店铺状态</div>
                    <div class="pull-left purchase-right">
                    	<ul class="purchase-ul">

                            <?php $vs=BuyController::dpztAction(); foreach($vs as $v): ?>
                        	<li><a href="index.php?p=show&c=index&a=search6&dpzt=<?=urlencode(base64_encode($v['u1']));?>&sshy=<?=urlencode(base64_encode($ms['sshy']));?>&jg=<?=$ms['jg']?>&low=<?=$_GET['low']?>&high=<?=$_GET['high']?>&di=<?=$_GET['di']?>&gao=<?=$_GET['gao']?>&number=<?=$ms1['number']?>" class="<?=$v['u1']==$ms['dpzt']?'active':''?>" role="button"><?=$v['u1']?></a></li>
                            <?php endforeach; ?>

                        </ul>
                    </div>
                </div>
                <form action="index.php?p=show&c=index&a=index.php?p=show&c=index&a=search6&dpzt=<?=urlencode(base64_encode($ms['dpzt']));?>&sshy=<?=urlencode(base64_encode($ms['sshy']));?>&jg=<?=$ms['jg']?>&number=<?=$ms1['number']?>" method="post">
                <div class="clearfix list-purchase">
                	<div class="pull-left purchase-left">信用等级</div>
                    <div class="pull-left purchase-right">
                    	<ul class="purchase-ul">
                        	<li><a href="index.php?p=show&c=index&a=search6&dpzt=<?=urlencode(base64_encode($v['u1']));?>&sshy=<?=urlencode(base64_encode($ms['sshy']));?>&jg=<?=$ms['jg']?>&low=<?=$_GET['low']?>&high=<?=$_GET['high']?>&di=<?=$_GET['di']?>&gao=<?=$_GET['gao']?>&range=1&number=<?=$ms1['number']?>" role="button">不限</a></li>
                        </ul>
                        <div class="pull-left slide-width">
                           <dd style="position:relative; padding-top:0;">
                                <div class="scopeCredit">
                                    <input type="text" id="range" value="" name="range" />
                                </div>

                            </dd>
                        </div>
                        <script type="text/javascript">showRangeRuler("<?=$_GET['low']?$_GET['low']-1:0?>","<?=$_GET['high']?$_GET['high']-1:14?>");</script>
                        <div class="pull-right"><button type="submit" class="btn btn-money">确认</button></div>
                    </div>
                </div>
                </form>
                <div class="clearfix list-purchase">
                	<div class="pull-left purchase-left">所属行业</div>                                                                                                                                         
                    <div class="pull-left purchase-right">
                    	<ul class="purchase-ul">

                            <?php $vs3=BuyController::sshyAction(); foreach($vs3 as $v): ?>
                            <?php if($ms['sshy']==$v['u1']){ ?>
                            <li><a class="active" role="button" href="index.php?p=show&c=index&a=search6&dpzt=<?=urlencode(base64_encode($ms['dpzt']));?>&sshy=<?=urlencode(base64_encode($v['u1']));?>&jg=<?=$ms['jg']?>&low=<?=$_GET['low']?>&high=<?=$_GET['high']?>&number=<?=$ms1['number']?>"><?=$v['u1']?></a></li>
                            <?php }else{ ;?>
                            <li><a role="button" href="index.php?p=show&c=index&a=search6&dpzt=<?=urlencode(base64_encode($ms['dpzt']));?>&sshy=<?=urlencode(base64_encode($v['u1']));?>&jg=<?=$ms['jg']?>&low=<?=$_GET['low']?>&high=<?=$_GET['high']?>&number=<?=$ms1['number']?>"><?=$v['u1']?></a></li>
                            <?php } ?>
                            <?php endforeach; ?>

                        </ul>
                    </div>
                </div>
                <div class="clearfix list-purchase">
                	<div class="pull-left purchase-left">价<span></span>格</div>
                    <div class="pull-left purchase-right">                            
                    	<ul class="purchase-ul">
                        	<li><a class="<?=$ms['jg']==1?'active':''?>" href="index.php?p=show&c=index&a=search6&dpzt=<?=urlencode(base64_encode($ms['dpzt']));?>&sshy=<?=urlencode(base64_encode($ms['sshy']));?>&jg=1&low=<?=$_GET['low']?>&high=<?=$_GET['high']?>&number=<?=$ms1['number']?>" role="button">5万-10万</a></li>
                            <li><a class="<?=$ms['jg']==2?'active':''?>" href="index.php?p=show&c=index&a=search6&dpzt=<?=urlencode(base64_encode($ms['dpzt']));?>&sshy=<?=urlencode(base64_encode($ms['sshy']));?>&jg=2&low=<?=$_GET['low']?>&high=<?=$_GET['high']?>&number=<?=$ms1['number']?>" role="button">10万-20万</a></li>
                            <li><a class="<?=$ms['jg']==3?'active':''?>" href="index.php?p=show&c=index&a=search6&dpzt=<?=urlencode(base64_encode($ms['dpzt']));?>&sshy=<?=urlencode(base64_encode($ms['sshy']));?>&jg=3&low=<?=$_GET['low']?>&high=<?=$_GET['high']?>&number=<?=$ms1['number']?>" role="button">20万-50万</a></li>
                            <li><a class="<?=$ms['jg']==4?'active':''?>" href="index.php?p=show&c=index&a=search6&dpzt=<?=urlencode(base64_encode($ms['dpzt']));?>&sshy=<?=urlencode(base64_encode($ms['sshy']));?>&jg=4&low=<?=$_GET['low']?>&high=<?=$_GET['high']?>&number=<?=$ms1['number']?>" role="button">50万以上</a></li>
                        </ul>
                        <form method="post" action="index.php?p=show&c=index&a=search6&dpzt=<?=urlencode(base64_encode($ms['dpzt']));?>&sshy=<?=urlencode(base64_encode($ms['sshy']));?>&jg=<?=$ms['jg']?>&low=<?=$_GET['low']?>&high=<?=$_GET['high']?>&number=<?=$ms1['number']?>" >
                        <div class="pull-right">
                        	<input name="di" type="text" class="form-control input-money" />
                            <div class="pull-left money-txt">-</div>
                            <input name="gao" type="text" class="form-control input-money" />
                            <button type="submit" class="btn btn-money">确认</button>
                        </div>
                        </form>
                    </div>
                </div>
                <div class="clearfix list-purchase">
                	<div class="pull-left purchase-left">其<span></span>他</div>
                    <div class="pull-left purchase-right">                            
						<ul class="purchase-tabs">
                        	<li><a href="#purchase01" aria-controls="purchase01" role="tab" data-toggle="tab"><span id="region">地区范围</span><span class="caret"></span></a></li>
                            <!--<li class="active"><a href="#purchase02" aria-controls="purchase02" role="tab" data-toggle="tab"><span id="region01">开店时间</span><span class="caret"></span></a></li>-->
                            <li><a href="#purchase05" aria-controls="purchase05" role="tab" data-toggle="tab"><span id="region04">提供货源</span><span class="caret"></span></a></li>
                            <li><a href="#purchase06" aria-controls="purchase06" role="tab" data-toggle="tab"><span id="region05">团队转让</span><span class="caret"></span></a></li>
                            <li><a href="#purchase07" aria-controls="purchase07" role="tab" data-toggle="tab"><span id="region06">经验传授</span><span class="caret"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix list-purchase border-no">
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="purchase01">
                    	<ul class="purchase-ul purchase-ul-region">
                        	<li><a href="index.php?p=show&c=index&a=search6&dpzt=<?=urlencode(base64_encode($ms['dpzt']));?>&sshy=<?=urlencode(base64_encode($ms['sshy']));?>&jg=<?=$ms['jg']?>&szdq=1&low=<?=$_GET['low']?>&high=<?=$_GET['high']?>&number=<?=$ms1['number']?>" class="" role="button">地区不限</a></li>

                            <?php $vs4=BuyController::diquAction(); foreach($vs4 as $v): ?>
                            <li><a role="button" href="index.php?p=show&c=index&a=search6&dpzt=<?=urlencode(base64_encode($ms['dpzt']));?>&sshy=<?=urlencode(base64_encode($ms['sshy']));?>&jg=<?=$ms['jg']?>&szdq=<?=$v['u1']?>&low=<?=$_GET['low']?>&high=<?=$_GET['high']?>&number=<?=$ms1['number']?>"><?=$v['u1']?></a></li>
                            <?php endforeach; ?>


                        </ul>
                    </div>
                    <!--<div role="tabpanel" class="tab-pane active" id="purchase02">-->
						<!--<div class="clearfix">-->
                        	<!--<div class="pull-left date-width">-->
                                <!--<div class="form-group">-->
                                    <!--<select class="form-control input-c">-->
                                        <!--<option>不限</option>-->
                                        <!--<option>2018</option>-->
                                        <!--<option>2017</option>-->
                                        <!--<option>2016</option>-->
                                        <!--<option>2014</option>-->
                                        <!--<option>2014</option>-->
                                    <!--</select>-->
                                <!--</div> -->
                            <!--</div>-->
                            <!--<div class="pull-left date-center">-</div>-->
                        	<!--<div class="pull-left date-width">-->
                                <!--<select class="form-control input-c">-->
                                    <!--<option>不限</option>-->
                                    <!--<option>2018</option>-->
                                    <!--<option>2017</option>-->
                                    <!--<option>2016</option>-->
                                    <!--<option>2014</option>-->
                                    <!--<option>2014</option>-->
                                <!--</select>-->
                            <!--</div>-->
                            <!--<div class="pull-left"><button type="button" class="btn btn-money btn-date">确认</button></div>-->
                        <!--</div>-->
                    <!--</div>-->
                    
                    <div role="tabpanel" class="tab-pane" id="purchase05">
                    	<ul class="purchase-ul purchase-ul-region04">
                        	<li><a href="index.php?p=show&c=index&a=search6&dpzt=<?=urlencode(base64_encode($ms['dpzt']));?>&sshy=<?=urlencode(base64_encode($ms['sshy']));?>&jg=<?=$ms['jg']?>&tghy=1&low=<?=$_GET['low']?>&high=<?=$_GET['high']?>&number=<?=$ms1['number']?>" role="button">不限</a></li>


                            <?php $vs7=BuyController::daihuoAction(); foreach($vs7 as $v): ?>
                            <li><a role="button" href="index.php?p=show&c=index&a=search6&dpzt=<?=urlencode(base64_encode($ms['dpzt']));?>&sshy=<?=urlencode(base64_encode($ms['sshy']));?>&jg=<?=$ms['jg']?>&tghy=<?=$v['u1']?>&low=<?=$_GET['low']?>&high=<?=$_GET['high']?>&number=<?=$ms1['number']?>"><?=$v['u1']?></a></li>
                            <?php endforeach; ?>

                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="purchase06">
                    	<ul class="purchase-ul purchase-ul-region05">
                        	<li><a href="index.php?p=show&c=index&a=search6&dpzt=<?=urlencode(base64_encode($ms['dpzt']));?>&sshy=<?=urlencode(base64_encode($ms['sshy']));?>&jg=<?=$ms['jg']?>&tdzr=1&low=<?=$_GET['low']?>&high=<?=$_GET['high']?>&number=<?=$ms1['number']?>" role="button">不限</a></li>

                            <?php $vs10=BuyController::tdzrAction(); foreach($vs10 as $v): ?>
                            <li><a href="index.php?p=show&c=index&a=search6&dpzt=<?=urlencode(base64_encode($ms['dpzt']));?>&sshy=<?=urlencode(base64_encode($ms['sshy']));?>&jg=<?=$ms['jg']?>&tdzr=<?=$v['u1']?>&low=<?=$_GET['low']?>&high=<?=$_GET['high']?>&number=<?=$ms1['number']?>" role="button"><?=$v['u1']?></a></li>
                            <?php endforeach; ?>

                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="purchase07">
                    	<ul class="purchase-ul purchase-ul-region06">
                        	<li><a href="index.php?p=show&c=index&a=search6&dpzt=<?=urlencode(base64_encode($ms['dpzt']));?>&sshy=<?=urlencode(base64_encode($ms['sshy']));?>&jy=1&low=<?=$_GET['low']?>&high=<?=$_GET['high']?>&number=<?=$ms1['number']?>" role="button">不限</a></li>

                            <?php $vs10=BuyController::jyAction(); foreach($vs10 as $v): ?>
                            <li><a href="index.php?p=show&c=index&a=search6&dpzt=<?=urlencode(base64_encode($ms['dpzt']));?>&sshy=<?=urlencode(base64_encode($ms['sshy']));?>&jy=<?=$v['u1']?>&low=<?=$_GET['low']?>&high=<?=$_GET['high']?>&number=<?=$ms1['number']?>" role="button"><?=$v['u1']?></a></li>
                            <?php endforeach; ?>

                        </ul>
                    </div>
                  </div>
                </div>
            </div>
            <div class="sell-border purchase-border">
				<div class="sell-nav border-no clearfix">
                	<div class="pull-left sell-nav-one">默认排序</div>
                    <div class="pull-left"><a href="index.php?p=show&c=index&a=search6&dpzt=<?=urlencode(base64_encode($ms['dpzt']));?>&sshy=<?=urlencode(base64_encode($ms['sshy']));?>&jy=<?=$ms['jy']?>&low=<?=$_GET['low']?>&high=<?=$_GET['high']?>&model=shang&number=<?=$ms1['number']?>" role="button" class="sell-px sell-px-one">出售价格</a></div>
                </div>
            </div>
            <div>

             <?php foreach($result as $v): ?>
                <div class="sell-border purchase-border">
                    <div class="clearfix">
                        <div class="purchase-left-width pull-left">
                            <div class="purchase-left-width-tt clearfix"><i class="title-icon title-qi"></i><a href="index.php?p=show&c=buy&a=qytb1&id=<?=$v['id']?>"><?=$v['biaoti']?>&nbsp;<?php for($i=0;$i<$v['hg'];$i++): ?><i class="icon icon-hg"></i><?php endfor; ?><?php for($i=0;$i<$v['zs'];$i++): ?><i class="icon icon-zs"></i><?php endfor; ?></a></div>
                            <div class="row purchase-row purchase-row-sm">
                                <div class="col-xs-4"><span>所属行业：</span><?=$v['sshy']?></div>
                                <div class="col-xs-4"><span>网店信誉：</span><?=$v['wdxy']?></div>
                                <div class="col-xs-4"><span>创店时间：</span><?=$v['cdsj']?></div>
                                <div class="col-xs-4"><span>消  保  金：</span><?=$v['jiage']?>元(退还)</div>
                                <div class="col-xs-4"><span>虚拟占比：</span><?=$v['xnzb']?></div>
                                <div class="col-xs-4"><span>好  评  率：</span><?=$v['hpl']?></div>
                                <div class="col-xs-4"><span>动态评分：</span><?=$v['dtpf']?></div>
                                <div class="col-xs-4"><span>老客户数：</span><?=$v['lkhs']?></div>
                                <div class="col-xs-4"><span>收  藏  量：</span><?=$v['scl']?></div>
                                <div class="col-xs-4"><span>违规扣分：</span><?=$v['wgkf']?></div>
                                <div class="col-xs-12"><span>卖家描述：</span><?=$v['miaoshu']?></div>
                            </div>
                        </div>
                        <div class="pull-left purchase-right-width text-center">
                            <div class="purchase-right-width-number"><span><?=number_format($v['jiage']/10000,1)?></span>万</div>
                            <?php $rs=BuyController::kefuAction()[0]; ?>
                            <a role="button" href="http://wpa.qq.com/msgrd?v=3&uin=<?=$rs['yg']?>&site=qq&menu=yes" class="btn-purchase icon">咨询服务顾问</a>
                        </div>
                    </div>
                </div>
             <?php endforeach; ?>





        </div>
        <div class="container">

            <form action="index.php?p=show&c=index&a=search6&dpzt=<?=urlencode(base64_encode($ms['dpzt']));?>&sshy=<?=urlencode(base64_encode($ms['sshy']));?>&jy=<?=$ms['jy']?>&low=<?=$_GET['low']?>&high=<?=$_GET['high']?>&model=<?=$_GET['model']?>&number=<?=$ms1['number']?>" method="post">
                <div class="page-center clearfix">
                    <ul class="pagination pull-left">
                        <?php if($_GET['page']<=1){ ?>
                        <li class="disabled"><a href="javascript:;" aria-label="Previous"><span aria-hidden="true">上一页</span></a></li>
                        <?php }else{ ?>
                        <li ><a href="index.php?p=show&c=index&a=search6&dpzt=<?=urlencode(base64_encode($ms['dpzt']));?>&sshy=<?=urlencode(base64_encode($ms['sshy']));?>&jy=<?=$ms['jy']?>&low=<?=$_GET['low']?>&high=<?=$_GET['high']?>&page=<?=$_GET['page']-1?>&model=<?=$_GET['model']?>&number=<?=$ms1['number']?>" aria-label="Previous"><span aria-hidden="true">上一页</span></a></li>
                        <?php } ?>



                        <?php for($i=$min;$i<=$max;$i++):  ?>
                        <?php if($page==$i){ ?>
                        <li class="active"><a href="index.php?p=show&c=index&a=search6&dpzt=<?=urlencode(base64_encode($ms['dpzt']));?>&sshy=<?=urlencode(base64_encode($ms['sshy']));?>&jy=<?=$ms['jy']?>&low=<?=$_GET['low']?>&high=<?=$_GET['high']?>&page=<?=$i?>&model=<?=$_GET['model']?>&number=<?=$ms1['number']?>"><?=$i?></a></li>
                        <?php }else{ ?>
                        <li><a href="index.php?p=show&c=index&a=search6&dpzt=<?=urlencode(base64_encode($ms['dpzt']));?>&sshy=<?=urlencode(base64_encode($ms['sshy']));?>&jy=<?=$ms['jy']?>&low=<?=$_GET['low']?>&high=<?=$_GET['high']?>&page=<?=$i?>&model=<?=$_GET['model']?>&number=<?=$ms1['number']?>"><?=$i?></a></li>
                        <?php } ?>
                        <?php endfor;  ?>


                        <?php if($_GET['page']>=$total){ ?>
                        <li class="disabled"><a href="javascript:;" aria-label="Next"><span aria-hidden="true">下一页</span></a></li>
                        <?php }else{ ?>
                        <li><a href="index.php?p=show&c=index&a=search6&dpzt=<?=urlencode(base64_encode($ms['dpzt']));?>&sshy=<?=urlencode(base64_encode($ms['sshy']));?>&jy=<?=$ms['jy']?>&low=<?=$_GET['low']?>&high=<?=$_GET['high']?>&page=<?=$_GET['page']+1?>&model=<?=$_GET['model']?>&number=<?=$ms1['number']?>" aria-label="Next"><span aria-hidden="true">下一页</span></a></li>
                        <?php } ?>
                    </ul>
                    <div class="pull-left page-txt margin-left">共<?=$total?>页 跳转到第</div>
                    <input type="hidden" value="1" name="p1">
                    <div class="pull-left"><input name="page" type="text" class="form-control input-page"></div>
                    <div class="pull-left page-txt">页</div>
                    <div class="pull-left"><button type="submit" class="btn-page btn">确定</button></div>

                </div>
            </form>

    </div>
    <div class="container">
    	<div class="page-center clearfix">
        	<div class="pull-left purchase-icon">未找到</div>
            <div class="pull-left">
            	<div class="clearfix">
                	<div class="pull-left purchase-bottom-lg">暂未找到心仪网店？</div>
                    <?php $rs=BuyController::kefuAction()[0]; ?>
                    <div class="pull-left"><a href="http://wpa.qq.com/msgrd?v=3&uin=<?=$rs['yg']?>&site=qq&menu=yes" class="qq-link qq-link-purchase"><i class="icon"></i>咨询服务顾问</a></div>
                </div>
                <div class="purchase-bottom-sm">不要急哦，好多好店没有展示出来，马上联系服务顾问获取！</div>
            </div>
        </div>
    </div>
        </div>
    </div>
    <!--footer-->

    <?php include CUR_VIEW_PATH."Spublic/foot.html";?>

</body> 

<script>
  $('.form_date').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    minView: 2,
    forceParse: 0
    });
</script>
<script>
if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
	new WOW().init();
};
$('#id').children('li').prop('class','');
 $('.irs-line').click(function () {
     alert(11);
 })
</script>
<script>
//购买网店条件选择JS
$(".purchase-ul li a").click(function(){
	$(this).parents(".purchase-ul").find("a").removeClass("active");
	$(this).addClass("active");
})
</script>
<script type="text/javascript">
//地区
    $(".purchase-ul-region li a").click(function(){
		var txt = $(this).html();
        $("#region").html(txt);
        
    });
//扣分
    $(".purchase-ul-region01 li a").click(function(){
		var txt = $(this).html();
        $("#region01").html(txt);
        
    });
//纳税
    $(".purchase-ul-region02 li a").click(function(){
		var txt = $(this).html();
        $("#region02").html(txt);
        
    });
//是否带货
    $(".purchase-ul-region03 li a").click(function(){
		var txt = $(this).html();
        $("#region03").html(txt);
        
    });
//提供货源
    $(".purchase-ul-region04 li a").click(function(){
		var txt = $(this).html();
        $("#region04").html(txt);
        
    });
//商标类别
    $(".purchase-ul-region05 li a").click(function(){
		var txt = $(this).html();
        $("#region05").html(txt);
        
    });
//商标过户
    $(".purchase-ul-region06 li a").click(function(){
		var txt = $(this).html();
        $("#region06").html(txt);
        
    });
//团队转让
    $(".purchase-ul-region li a").click(function(){
		var txt = $(this).html();
        $("#region").html(txt);
        
    });
</script>
</html>